.navcontainer {
width:100%;
color:#CCC;
background:#333;
height: 150px;
}

ul.horizontal {
  display: block;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  height: 150px;
  vertical-align: top;
  z-index: -100;
  width: device-width;
  overflow-x: scroll;
  list-style-type: square;
  -webkit-overflow-scrolling: touch;
}

ul.horizontal li{
  display: table-cell;
  position: relative;
  vertical-align:top;
  width: 150px;
  padding: 0 10px;  
  margin: 0 auto;
}

.navlithumb {
  max-height: 100px;
  width: 130px;
  display: inline-block;
}