@{
    ViewBag.Title = "Index";
}

<h2>Forerunner Software SDK Samples Site</h2>
<h3>
    This site contains the following samples:
</h3>

<p>
    <a href="../Samples/ReportViewerEZ">Remport Viewer EZ Sample</a>
</p>
