@model ReportManager.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "../Shared/_RMLayout.cshtml"; 
}

@section styles {
    <link href="~/CSS/Login.css" rel="stylesheet"/>
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="loginForm">
        <div style="display: table-cell; vertical-align: middle">
            <fieldset class="fieldsetsize">
                <div class="fieldcontainer">
                    <div class="logocontainer">
                        <img class="logosize" src="~/Forerunner/Common/images/ForerunnerLogo.png" />
                    </div>
                    <div class="usernamecontainer">
                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User name", autocomplete = "on", @class = "inputsize" })
                    </div>
                    <div class="passwordcontainer">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", autocomplete = "on", @class = "inputsize" })
                    </div>
                    <div class="logincontainer">
                        <input class="login" type="submit" value="Log In" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}
</section>

@section scripts {
  <script type="text/javascript" src="~/Forerunner/Lib/Misc/js/Placeholders.min.js"></script>
}