@model ReportManager.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "../Shared/_RMLayout.cshtml"; 
}

@section styles {
    <link href="~/CSS/Login.css" rel="stylesheet"/>
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="loginForm" >
        <div style="display: table-cell; vertical-align: middle">
            <div style="margin-left: auto; margin-right: auto;">
    <fieldset>
        <div class="fieldcontainer">
            <div class="logocontainer">
                <img class="logo" src="~/Forerunner/Common/images/ForerunnerLogo.png" />
            </div>
            <div class="usernamecontainer">
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User name", autocomplete = "on" })
            </div>
            <div class="passwordcontainer">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", autocomplete = "on" })
            </div>
            <div class="logincontainer">
                <input class="login" type="submit" value="Log In" />
            </div>
        </div>

    </fieldset>
    </div></div></div>
}
</section>

@section scripts {
  <script type="text/javascript" src="~/Forerunner/Lib/Misc/js/Placeholders.min.js"></script>
}