@{
    ViewBag.Title = "Dashboard Sample";
    Layout = "../Shared/_SamplesLayout.cshtml";
}

@section styles {
  <style>
    body { background-color: rgb(210, 223, 237); }

    .report-container { box-shadow: 0 0 7px #545454; margin: 4px 4px 4px 4px; background-color: white; }

    #Report1 { min-width:300px;min-height:300px; }
    #Report2 { min-width:300px;min-height:300px; }
  </style>
}

<script>
    $(document).ready(function () {
        $('#Report1').reportViewerEZ({
            path: '/Northwind Test Suite/SalesByCountry',
            isFullScreen: false
        });
        $('#Report2').reportViewerEZ({
            path: '/Northwind Test Suite/SalesByYear',
            isFullScreen: false
        });
        $('#Report3').reportViewerEZ({
            path: '/Northwind Test Suite/SalesByEmployee',
            isFullScreen: false
        });
    });
</script>

<h1>This is a Dashboard sample showing 3 reports on a page</h1>
<table>
    <tr>
        <td>
            <div id="Report1" class="report-container" />
        </td>
        <td>
            <div id="Report2" class="report-container" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="Report3" class="report-container" />
        </td>
    </tr>
</table>
