@{
    ViewBag.Title = "ReportExplorerEZ Sample";
    Layout = "../Shared/_SamplesLayout.cshtml";
}

@section styles {
<style>
    .sample-header { width: 100%; background-color: lightgrey; }
</style>
}

<div class="sample-header">
    <h1>Report Explorer EZ Sample</h1>
</div>

<div id="reportarea"></div>

@section scripts {
<script>
    $(function () {
        var $reportArea = $("#reportarea");

        // Create the report explorer widget
        $reportArea.reportExplorerEZ({
            isFullScreen: false,
            showBreadCrumb: false
        });

        var events = forerunner.ssr.constants.events;
        $reportArea.on(events.reportExplorerEZAfterTransition(), function (e, data) {
            // Note that code to remove buttons must be inside of the after transition event. This is because the
            // transitionTo... functions create the widgets (E.g., reportExplorerToolbar) in response to a timer
            // callback, so these calls cannot be synchronous
            if (data.type === "ReportManager") {
                // Remove the logout button from the report explorer toolbar
                var $reportExplorerToolbar = $reportArea.reportExplorerEZ("getReportExplorerToolbar");
                var toolbarTools = forerunner.ssr.tools.reportExplorerToolbar;
                $reportExplorerToolbar.reportExplorerToolbar("hideTool", toolbarTools.btnLogOff.selectorClass);

                // Remove the logout button from the report explorer toolbar
                var $reportExplorerToolpane = $reportArea.reportExplorerEZ("getReportExplorerToolpane");
                var toolpaneTools = forerunner.ssr.tools.reportExplorerToolpane;
                $reportExplorerToolpane.reportExplorerToolpane("hideTool", toolpaneTools.itemLogOff.selectorClass);

            } else if (data.type === "ReportViewer") {
                // Remove the logout button from the report viewer tool pane
                var $reportViewerEZ = $reportArea.find(".fr-layout-mainviewport");
                var $toolPane = $reportViewerEZ.reportViewerEZ("getToolPane");
                var mergedItems = forerunner.ssr.tools.mergedItems;
                $toolPane.toolPane("hideTool", mergedItems.itemLogOff.selectorClass);

                // Remove the logout from the report viewer toolbar. Remember that the report viewer toolbar
                // is not the same as the report explorer toolbar
                var $toolbar = $reportViewerEZ.reportViewerEZ("getToolbar");
                var mergedButtons = forerunner.ssr.tools.mergedButtons;
                $toolbar.toolbar("hideTool", mergedButtons.btnLogOff.selectorClass);
            }
        });

        // Transition to the home catalog view
        $reportArea.reportExplorerEZ("transitionToReportManager", "/", null);

    })  // function ()
</script>
}
