@{
    ViewBag.Title = "ReportExplorerEZ Sample";
    Layout = "../Shared/_SamplesLayout.cshtml";
}

@section styles {
<style>
    .sample-header { width: 100%; background-color: lightgrey; }
</style>
}

<div class="sample-header">
    <h1>Report Explorer EZ Sample</h1>
</div>

<div id="reportarea"></div>

@section scripts {
<script>
    $(function () {
        var $reportArea = $("#reportarea");

        // Create the report explorer widget
        $(document).ready(function () {
            $reportArea.reportExplorerEZ({
                isFullScreen: false,
                showBreadCrumb: false
            });

            // Transition to the home catalog view
            $reportArea.reportExplorerEZ("transitionToReportManager", "/", null);
        });


    })  // function ()
</script>
}


