@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
  <h3>Forerunner SDK All Samples V4</h3>
  <p>
    This application demonstrates a number of usefull techniques for working with the Forerunner SDK.
    In addition to all the javascript samples there is also a page that documents the REST API calls.
    The following Samples are currently available:

    <a href="~/#as-viewer">Report Viewer EZ</a>
  </p>
</body>
</html>
