@{
    ViewBag.Title = "Report Viewer EZ Widget";
    ViewBag.Description = "The Report Viewer EZ widget sample.";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:200px;">
        <div  class="ForerunnerPageTitle" style="">Report Viewer EZ Sample</div>
        <div class="ForerunnerPageSubTitle" style="">
            <p>
                The reportViewerEZ widget provides a fully functional report viewer user experience. This includes
                defining layout for, instanciating and hooking up event handlers for all associated widgets such as the toolPane,
                toolBar, reportParameter, reportDocumentMap, etc. on your page. You can have more than a single instance of
                reportViewerEZ on a single page.
            </p>
            <p>
                This sample will demonstrate a single instance of the reportViewerEZ widget that takes up the full screen.
            </p>
            <p>
                @* To Do - need the real href to the deployed sample *@
                <a href="../Samples">Click here to see the sample</a>
            </p>
            <p>
                @* To Do - need the href to the deployed sample file *@
                <a href="../Samples">Click here to see the source code</a>
            </p>

        </div>

    </div>
</div>
