@{
    ViewBag.Title = "Forerunner Developers, Enterpise level support for developers";
    ViewBag.Description = "Forerunner Software provides an SDK, including samples to support our developer community.";
    Layout = "~/Views/Shared/_PRLayout.cshtml";
}

<div id="Page" data-page="Index" class="ForerunnerPort " style="display: table; width: 100%;  background-image: url(/Content/img/Background_tile_mob.png);background-repeat:repeat-x;">
    <div class="ForerunnerPage Center " style="background-image: url(/Content/img/Background_mob.png); height: 100%;background-repeat:no-repeat;">
        <div class="HeaderFont  PRHeader" style="">Looking for a modern SSRS solution that allows you develop using the latest technology? </div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left " style="">
                <div class="HeaderFont  PRSubHeader" style="">Look no further! Forerunner Mobilizer provides you access to all Controls, APIs, Events and CSS in order to make development easy. Building an app? No problem, we support Node.js,  MVC, WebForms, and HTML5 so you can build your app with ease.</div>

                <form class="OrangeBackground HomePageRegister Center DetailFont" name="reg" style="margin-bottom: 45px; margin-top: 30px; font-size: 24px; max-width: 450px;" action="https://forerunnersw.com/register/api/Download" method="post">
                    <div class="Center HeaderFont" style="margin-bottom: 5px; margin-top: 25px; color: white; font-weight: bold; font-size: 40px; text-align: center;">Want to give it a shot?</div>
                    <div class="Center " style="margin-bottom: 20px; color: white; text-align: center;">Unlock your trial today by filling out the form!</div>
                    <div class="Center " style="max-width: 420px;">
                        <input class="DownloadFormInputSmall" type="text" required="required" name="firstname" placeholder="First Name">
                        <input class="DownloadFormInputSmall" type="text" required="required" name="lastname" placeholder="Last Name">
                        <input id="email" class="DownloadFormInputSmall DownLoadFormEmailSmall" style="" type="text" required="required" name="email" placeholder="Email">
                        <input class="DownloadFormInputSmall" type="text" name="companyname" placeholder="Company Name">
                        <input class="DownloadFormInputSmall" type="text" name="phonenumber" placeholder="Phone Number"><br />
                        <br />
                        <input id="zip" class="DownloadFormInputSmall" type="text" name="zipcode">
                        <input id="referer" class="DownloadFormInputSmall" type="text" name="referrer">
                    </div>
                    <input class="RegisterButton Center Rounded DownloadButtonSize HeaderFont" style="" type="submit" value="REGISTER">
                    <br />
                </form>
                <div class="HeaderFont  SectionHeader" style="font-size: 32px; text-align: left;">Give us a call: <span style="font-size: 50px;">855.367.3511</span> </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left Center" style="">
                <img  class="ForerunnerImage " style="max-width:500px;cursor:pointer;" alt="Mobilzer Video" src="~/content/img/Player_on.png" onclick="location.href='/home/video'"/>

            </div>
        </div>
    </div>
</div>


  <div class="ForerunnerPort " style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;">
        <div class="Center" style="display: table; width: 100%;">
  
        <table  class="" style="width:100%;margin-top:50px;">
          <tbody>  
            <tr  class="SupportTR "  style="" >
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="DeveloperCell" >
                       @*<a href="Samples"><img style="" src="~/Content/img/Mobilizer_update.png" alt="Mobilizer Setup" /></a>*@
                       <div class="MobilizerDetailHeader DeveloperSubHeader">Any Platform</div>
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Supports MVC, Webforms, Node.js,Java, ... </div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Source code for controllers</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Simple intergration into MVC applications</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Several <a href="/home/samples">samples</a> online</div></td></tr>                           
                       </table>
                       <br />
                       <a class="DeveloperList" style="float:left;" href="/home/samples?Sample=GettingStarted">Getting Started Sample</a>
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>*@
                    </div>                                                   
                </td>
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                    <div class="MobilizerDetailHeader DeveloperSubHeader">HTML5 Controls</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">REST and JSON based APIs</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support for single page applications</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">CSS source included </div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fully <a class="" style="" href="/Docs/Index.html">documented</a> JavaScript objects </div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">JQuery widgets and add-ins </div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fully responsive UI</div></td></tr>                           
                       </table>
                       <br />
                       <a class="DeveloperList" style="float:left;" href="/home/samples?Sample=ReportSelector">Report Selector Sample</a>
                       <br />
                       <a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>
                    </div>                                                     
                </td>
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="MobilizerDetailHeader DeveloperSubHeader">SSRS Extensions</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">JSON rendering extension</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Thumbnail rendering extension</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">REST and JSON proxy for the SSRS SOAP API</div></td></tr>                                                      
                       </table>
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/home/samples?Sample=ReportSelector">Report Selector Sample</a>*@
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>*@
                    </div>     
                </td>
                <td class="ForerunnerTD TD4 DeveloperTD" style="">
                   <div class="MobilizerDetailHeader DeveloperSubHeader">SSRS Compatability</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Supports SSRS 2008, 200R2, 2012, 2014</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support SharePoint 2010, 2013</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Works with all report items and 3rd party extensions</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Supports all datasources</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support for Windows, Forms and custom security models</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Ask us about SSO and SAML security extension</div></td></tr>                                                      
                       </table>
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/home/samples?Sample=ReportSelector">Report Selector Sample</a>*@
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>*@
                    </div>     
                </td>
            </tr>
        </tbody>
        </table>
            </div>
    </div>
</div>
