@{
    ViewBag.Title = "Modernize SSRS -  Modern, Mobile & Cross Platform UI";
    ViewBag.Description = "Forerunner Mobilizer unlocks and extends the power of Microsoft’s SQL Server by allowing users access to core business intelligence more quickly and across all devices and browsers.  Mobilizer support modern development using HTML5 with a fast responsive experince.";
}

@section head
{
<meta name="google-site-verification" content="5ES0kpDlIv7EPiX99ZRnrrq6yxAj83C8Sk0MVxqHVQQ" />
}

<div id="Page" data-page="Index" class="ForerunnerPort BlueBackgrouud" style="">
    <div class="ForerunnerPage Center BlueBackgrouud" style="padding-bottom:25px;padding-top:25px">
        <div class="HeaderFont Center " style="font-size: 32px; color: white; padding-bottom: 25px;text-align:center;">Forerunner Mobilizer unlocks and extends the power of Microsoft's SQL Server to to allow you access to core business intelligence on any platform and browser. Looking for a cost effective solution to mobile SSRS? Look no further! Learn more about Forerunner Mobilizer by filling out the form or giving us a call 855.367.3511</div>
    </div>
</div>


<div class="ForerunnerPort OrangeBackground" style="">
    <div class="ForerunnerPage Center OrangeBackground" style="padding-top:25px;padding-bottom:25px;">
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left Center" style="">
                <div id="video" style="padding-right: 15px; display: none;">
                    @*<iframe width="100%" height="360" src="//www.youtube.com/embed/ffglPLTa6d4?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>*@
                    <iframe width="100%" height="360" src="" ></iframe>
                </div>
                <div id="image" class="Center ForerunnerImage" style="cursor: pointer;max-width:484px;">
                    <img class="ForerunnerImage OrangeBackground" src="~/Content/img/Video_on.png" alt="Forerunner Mobilizer Product" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="">
                <form class="HomePageRegister Center DetailFont" name="reg" style="margin-bottom: 25px; font-size: 24px;" action="https://forerunnersw.com/register/api/Download" method="post">
                    <div class="Center HeaderFont" style="margin-bottom: 5px; margin-top: 25px; color: white; font-weight: bold; font-size: 30px;text-align:center;">Register to unlock your FREE Trial</div>
                    <div class="Center " style="margin-bottom: 20px; color: white;text-align:center;">You can be up and running in minutes</div>
                    <div class="Center " style="max-width:420px;">
                        <input class="DownloadFormInputSmall" type="text" required="required" name="firstname" placeholder="First Name">
                        <input class="DownloadFormInputSmall" type="text" required="required" name="lastname" placeholder="Last Name">
                        <input id="email" class="DownloadFormInputSmall DownLoadFormEmailSmall" style="" type="text" required="required" name="email" placeholder="Email">
                        <input class="DownloadFormInputSmall" type="text" name="companyname" placeholder="Company Name">
                        <input class="DownloadFormInputSmall" type="text" name="phonenumber" placeholder="Phone Number"><br />
                        <br />
                        <input id="zip" class="DownloadFormInputSmall" type="text" name="zipcode">
                        <input id="referer" class="DownloadFormInputSmall" type="text" name="referrer">
                    </div>
                    <input class="RegisterButton Center Rounded DownloadButtonSize HeaderFont" style="" type="submit" value="REGISTER">
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Optimized Responsive Application</div>
        <div class="Center" style="display: table; width: 100%;">
            

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont" style="font-size:24px;color:#666666;text-align:center;">      
                 <b>Forerunner Mobilizer</b> <br />is designed to get you up and running in minutes enabling users to access their data faster and more easily across all browsers and mobile devices. <br /><br /> The improved, end user focused, Report Manager will help you be more productive.
             </div>
                
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="cursor: pointer;">
                    <img class="ForerunnerImage ForerunnerHomeImage " src="~/Content/img/OptimizedResponciveApp.png" alt="Optimized Responsive Application" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Cost Effective Mobile BI</div>
        <div class="Center" style="display: table; width: 100%;">
            
             <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="cursor: pointer;">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/CostEffective.png" alt="Cost Effective Mobile BI" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont" style="font-size:24px;color:#666666;text-align:center;">      
                 <b>Forerunner Mobilizer</b> <br /> has no per user charges. <br /><br /> You will be amazed at how cost effectivly you can transform your business with mobile BI.
             </div>
                
            </div>
           
        </div>
    </div>
</div>

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">No Training Required</div>
        <div class="Center" style="display: table; width: 100%;">
            

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont" style="font-size:24px;color:#666666;text-align:center;">      
                 <b>Forerunner Mobilizer</b><br />is fast and easy to enable everyone in your company to get their information anywhere. <br /><br />With the easy to use out of the box solution that leverages your existing investments and eliminates the need to additional development or end user training.
             </div>
                
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="cursor: pointer;">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/NoTraining.png" alt="No Training Required" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Competitive Advantage</div>
        <div class="Center" style="display: table; width: 100%;">
            
             <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="cursor: pointer;">
                    <img class="ForerunnerImage ForerunnerHomeImage"  src="~/Content/img/CompetitiveAdvantage.png" alt="Compeditive advantage" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont" style="font-size:24px;color:#666666;text-align:center;">      
                 Unleash corporate mobility in your company and see the difference. <br /><br />Companies with a mobile BI solution make critical business decisions faster and more well informed.
             </div>
                
            </div>
           
        </div>
    </div>
</div>







