.fr-cdb-section { display: none; }

.fr-cdb-form { margin-right: 16px; }
    .fr-cdb-form .fr-cdb-label { display: inline; vertical-align: middle; margin-right: 10px; font-size: 13pt; }
    .fr-cdb-form .fr-cdb-input { display: inline; vertical-align: middle; padding: 0 4px 0 4px; font-size: 13pt; background-color: white; border: 1px solid #424242; box-shadow: 0px 0px 7px #545454 inset; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
    .fr-cdb-form .fr-cdb-dashboard-name { min-width: 200px; height: 24px; }
    .fr-cdb-form .fr-cdb-template-name { min-width: 210px; margin-top: 5px; }
    .fr-cdb-form .fr-cdb-overwrite-checkbox { display: inline; vertical-align: middle; height: 28px; }

    .fr-cdb-form .fr-cdb-error-span { display: inline; font-size: 10pt; margin-left: 5px; }
    .fr-cdb-form .fr-cdb-error-position { display: inline; }
    .fr-cdb-form .fr-cdb-error { border-width: thin; border-color: red; }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
    .fr-cdb-form { margin-right: 4px; }
}

/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
    .fr-cdb-form { margin-right: 4px; }
}
