.reportexplorer {
}

.fr-report-explorer {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.fr-explorer-item {
    display: inline-block;
    margin: 20px 30px 20px 50px;
    cursor: pointer;
    width: 200px;
}

.fr-explorer-item-selected {
    border: 2px solid darkblue;
}

.fr-explorer-item:hover {
    background: steelblue;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')";*/ /*user-select for IE8 overlaps with IE9*/
}


.reportexplorer .sky-carousel {
    display: block;
    min-height: 200px;
}

.rm-list {
    display: none;
    position: relative;
    width: device-width;
}

.rm-list-container-item {
    list-style-type: none;
}

.catalogitem {
    width: 200px;
}

.reportitem {
    width: 200px;
    background-color: white;
}

.fr-rm-button-home {
    float: right;
}

.fr-rm-button-fav {
    margin-left: 20px;
    margin-right: 20px;
}

.image-block {
    -webkit-transform: rotateY(-0deg) skewY(10deg) translate(0px, 20px);
    -ms-transform: rotateY(-0deg) skewY(10deg) translate(0px, 20px); 
    -moz-transform: rotateY(-0deg) skewY(10deg) translate(0px, 20px);
    -o-transform: rotateY(-0deg) skewY(10deg) translate(0px, 20px);
    transform: rotateY(-0deg) skewY(10deg) translate(0px, 20px);


    width: 200px;
}


.reflection {
    position: relative;
    /* margin-top: 5px;*/
    height: 50px;
    width: 200px;
}

    .reflection img {
-webkit-transform: scaleY(-1) rotateX(-45deg) translate( -30px, 0px) skewX(45deg);
        -moz-transform: scaleY(-1) rotateX(-45deg) translate( -30px, 0px) skewX(45deg);
        -ms-transform: scaleY(-1) rotateX(-45deg) translate( -30px, 0px) skewX(45deg); 
        -o-transform: scaleY(-1) rotateX(-45deg) translate( -30px, 0px) skewX(45deg);
        transform: scaleY(-1) rotateX(-45deg) translate( -30px, 0px) skewX(45deg);

        filter: alpha(opacity='30') flipv;
        opacity: 0.30;


    }


/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {

    .rm-list-container-item {
        padding-bottom: 50px;
    }

    .sc-content {
        display: inline;
    }

    .reportexplorer .sky-carousel {
        display: none;
    }

    .rm-list {
        display: block;
    }

    .fr-explorer-item {
        margin-left: 60px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .sc-content {
        display: inline;
    }

    .reportexplorer .sky-carousel {
        display: block;
        width: 100%;
        height: 600px;
    }

    .rm-list {
        display: none;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .rm-list-container-item {
        padding-bottom: 50px;
    }

    .sc-content {
        display: inline;
    }

    .reportexplorer .sky-carousel {
        display: none;
    }

    .rm-list {
        display: block;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
