.fr-upf-section { display: none; }
  .fr-upf-section .fr-upf-description { margin-right: 16px; }
  .fr-upf-section .fr-upf-label-cell { width: 140px; }
  .fr-upf-section .fr-upf-label { display: inline; vertical-align: middle; margin-right: 10px; font-size: 13pt; }
  .fr-upf-section .fr-upf-input { height: 24px; width: 80%; line-height:24px; padding-right: 4px; vertical-align: middle; margin-top: 10px; padding: 0 0 0 4px; font-size: 13pt; background-color: white; border: 1px solid #424242; box-shadow: 0px 0px 7px #545454 inset; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
  .fr-upf-section .fr-upf-checkbox { vertical-align: middle; margin-top: 10px; }
  .fr-upf.fr-upf-section .fr-dlb-error-span { width: 20%; }

.fr-upf-upload-file-icon { background-image:url(../../Common/images/ToolpaneIcons/UploadFile.png); }
