.fr-us-section { display: none; }

.fr-us-form { margin-bottom: 8px; width:300px; }
   .fr-us-form table { width: 90%; }
  .fr-us-form .fr-us-label { display: inline-block; }
  .fr-us-form .fr-us-checkbox { display: inline-block; }
  .fr-us-form .fr-us-dropdown { width: 60px; }
  .fr-us-form .fr-us-prompt { font-size:12px; font-weight:500; }
  .fr-us-form .fr-us-textbox { display: inline-block; vertical-align: middle; padding: 0 4px 0 4px; min-width: 240px; margin-right: 10px; height: 24px; font-size: 13pt; background-color: white; border: 1px solid #424242; box-shadow: 0px 0px 7px #545454 inset; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
    .fr-us-form .fr-us-separator { margin-top: 10px; }

.fr-buildversion-container { font-size: 8pt; margin: 16px 0 0 0; }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
    .fr-us-form td{ padding:6px 0; }
}
/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
    .fr-us-form td{ padding:6px 0; }
}