.fr-move-section {
    display: none;
}
.fr-move-container { width: 450px; position: relative; margin: 16px 0 25px 16px; }
  .fr-move-container .fr-move-prompt { padding: 0 4px 8px; }
  .fr-move-container .fr-move-location { width: 276px; padding-right: 24px; }
  .fr-move-container .fr-move-input-container,
  .fr-move-container .fr-move-dropdown-container { display: inline-block; padding: 2px 4px 8px; }
  .fr-move-container .fr-move-dropdown-container { position: relative; }
  .fr-move-container .fr-move-label { width: 80px; display: inline-block; }
  .fr-move-container .fr-move-dropdown-iconcontainer { position: absolute; right: 8px; top: 6px; }
  .fr-move-container .fr-move-dropdown-icon { height: 18px; width: 18px; background-image: url(../../Common/Images/OpenDropDown.png); background-repeat: no-repeat; }
  .fr-move-container .fr-move-popup-container { position: absolute; right: 4px; border: 1px solid #424242; background-color: #fff; }
  .fr-move-container .fr-move-tree-container { height: 150px; overflow: auto; }

.fr-move-submit-container { margin: 0px; margin-top: 24px; margin-bottom: 16px; }
  .fr-move-submit-container input { width: 130px; margin: 0px 20px; }

@media only screen and (max-width : 479px) {
  .fr-move-container { width: 320px; margin:4px 0 25px 4px;}
  .fr-move-container .fr-move-location { width: 284px; width: 260px; }
  .fr-move-submit-container input { width: 100px; margin: 0px 10px; }
  .fr-move-container  .fr-move-label { padding-left: 0; display: block; }
  .fr-move-container .fr-move-dropdown-iconcontainer { top: 24px; }
}
