html,body {
  
  min-height: 100%;
  background-color: white;
  position: relative;
  padding: 0px;
  margin: 0px;
  border: 0px;


}

.Explorer-background {
    background: rgb(141,158,165); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhkOWVhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOWMyZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(141,158,165,1) 0%, rgba(169,194,215,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(141,158,165,1)), color-stop(100%,rgba(169,194,215,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(141,158,165,1) 0%,rgba(169,194,215,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(141,158,165,1) 0%,rgba(169,194,215,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(141,158,165,1) 0%,rgba(169,194,215,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(141,158,165,1) 0%,rgba(169,194,215,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d9ea5', endColorstr='#a9c2d7',GradientType=1 ); /* IE6-8 */
}

* {
  /*padding: 0px;*/
  margin: 0px;
  border: 0px;
  z-index: 0;
}

table,td,tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  z-index: 0;
}

#mainViewPort {
    z-index: 1;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width:100%;
}

.mainViewPortShiftedRight
{
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.mainViewPortShiftedLeft {
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

#leftPane {
    vertical-align: top;
    width: 280px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow:hidden;
    background-color: #363B45;
    color: white;
    z-index: 2;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

#leftPaneContent {
    height: 100%;
    width: 280px;
    overflow: auto;
    display:block;
    position: fixed;
    left: 0px;
}

#rightPane {
    vertical-align: top;
    width: 280px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow:hidden;
    background-color: #363B45;
    color: white;
    z-index: 2;
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
}

#rightPaneContent {
    height: 100%;
    width: 280px;
    overflow: auto;
    display:block;
}

header#topdiv {
  border: 0px;
  position: fixed;
  top:0px;
  width:100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: white;
  z-index: 1;
}

footer#bottomdiv {
  border-width: 0px;
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  height: 150px;
  background-color: white;
  z-index: 1;
}

#headerspacer {
  height:50px;
  display:block;
}

#rightheader {
  width: 280px;
  display:block;
  top: 0px;
  right: 0px;
  position: fixed;
  background-color: black;
}

#rightheader .fr-button-home, #rightheader .fr-button-nav, #rightheader .fr-button-refresh, #rightheader .fr-button-firstpage, #rightheader .fr-button-prev, 
#rightheader .fr-button-next, #rightheader .fr-button-update-fav, #rightheader .fr-button-export, #rightheader .fr-textbox-reportpage,
#rightheader .fr-pageOf, #rightheader .fr-num-pages {
  display: none;
}
#rightheader .fr-button-lastpage, #rightheader .fr-button-documentmap, #rightheader .fr-textbox-keyword, #rightheader .fr-button-find, #rightheader .fr-span-find, 
#rightheader .fr-button-findnext, #rightheader .fr-span-sparator, #rightheader .fr-button-menu {
  display: none;
}

#rightheader .fr-button-reportback, #rightheader .fr-button-paramarea {
    float: left;
}

#leftheader {
  width: 280px;
  display:block;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
}

#leftheader .fr-button-home, #leftheader .fr-button-nav, #leftheader .fr-button-refresh, #leftheader .fr-button-firstpage, #leftheader .fr-button-prev, 
#leftheader .fr-button-next, #leftheader .fr-button-update-fav, #leftheader .fr-button-export, #leftheader .fr-textbox-reportpage,
#leftheader .fr-pageOf, #leftheader .fr-num-pages {
  display: none;
}
#leftheader .fr-button-lastpage, #leftheader .fr-button-documentmap, #leftheader .fr-textbox-keyword, #leftheader .fr-button-find, #leftheader .fr-span-find, 
#leftheader .fr-button-findnext, #leftheader .fr-span-sparator, #leftheader .fr-button-reportback, #leftheader .fr-button-paramarea {
  display: none;
}

#leftheader .fr-button-menu {
    float: right;
}

#leftheaderspacer {
  display:block;
}

#footerspacer {
  height:0px;
  display:block;
}

div#pageSection {
  display:block;
  width:100%;
  height:100%;
}
div#mainSection {
  display:block;
  width:100%;
  height:100%;
}

.buttonicon {
  height:30px;
  background-color:transparent;
  border-width:0px
}


.overflow-hidden {
  overflow: hidden;
}


.fr-buttonicon {
  display: inline-block;
  width:24px;
  height:24px;
  margin:5px;
}

.fr-textbox {
  display: inline-block;
}


.fr-image-addFav {
  background-image:url('../Images/ReportManager/sq_plus_icon.png');
}

.fr-image-delFav {
  background-image:url('../Images/ReportManager/sq_minus_icon.png');
}

.fr-image-fav {
  background-image:url('../Images/ReportManager/star_fav_icon.png');
}

.fr-image-recent {
  background-image:url('../Images/ReportManager/clock_icon.png');
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-height : 320px) 
and (min-width : 400px) 
and (orientation : landscape) {
/* Styles */
#bottomdiv {
  display: none;
}

#footerspacer {
  display: none;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) 
and (orientation : portrait) {
#bottomdiv {
  display: none;
}

#footerspacer {
  display: none;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



