*.suo
Test/Test Reports 2012/Report Project1/bin/
*.dll
*.pdb
*.data
*.orig
*.cache
*.exe
*~
*.swp
*.fileListAbsolute.txt
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
build/smtp.config.xml
Test/Test Reports 2012/Report Project1/Northwind Test Reports.rptproj.user
RS/Reporting/ReportManager/ReportManagerMVC/icongen/bin/Debug/*
RS/Reporting/ReportManager/ReportManagerMVC/icongen/obj/Debug/*
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Images/ReportManager/Thumbs.db
RS/Reporting/ReportViewer/ReportViewerTest/packages/*
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Report Project1.suo
Test/Test Reports 2012/Report Project1/Northwind Test Reports.rptproj.user
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/Northwind Test Suite.rptproj.user
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/build.obj
Test/Test Reports 2012/Northwind Test Suite/Northwind Test Suite/bin/Debug/Go To Report Action Test.rdl
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/ReportViewer/Images/Thumbs.db
Test/Test Reports 2012/Report Project1/Northwind Test Reports.rptproj.user
Test/Test Reports 2012/Report Project1/bin/Debug/txt box rt table.rdl
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/ReportViewer/Images/Toolbar/Thumbs.db
RS/Reporting/SecurityExtensions/SAML/SAMLExtension/SAMLExtension/bin/codeanalysis/*
RS/Reporting/SecurityExtensions/SAML/SAMLExtension/SAMLExtensionTest/bin/codeanalysis/*
RS/Reporting/SecurityExtensions/SAML/SAMLExtension/TestSSO2/bin/codeanalysis/_PublishedWebsites/TestSSO2/*
RS/Reporting/SecurityExtensions/SAML/SAMLExtension/TestSSO2/bin/codeanalysis/_PublishedWebsites/TestSSO2/Scripts/*
RS/Reporting/SecurityExtensions/SAML/SAMLUtils/TestSAMLUtils/bin/codeanalysis/*
RS/Reporting/ReportManager/ReportManagerMVC/testPage.html
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/JSDoc/Docs/*
RS/Reporting/ReportViewer/Rendering Extension/JSONRenderingExtension/obj/Debug/build.force
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.js
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.min.js
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.min.js.map
utilities/icongen/obj/Debug/*
utilities/icongen/obj/Release/*
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/ReportViewer/Images/Toolbar/Thumbs.db
utilities/icongen/output/*
utilities/icongen/images/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Common/images/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Common/css/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/ReportViewer/Images/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/ReportViewer/Images/Toolbar/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/ReportViewer/Images/Toolbar/Thumbs.db
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.js
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.min.js
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.min.js.map
Setup/ReportManagerRegister/ReportManagerRegister/bin/Debug/ReportManagerRegister.exe.config
Setup/ReportManagerRegister/ReportManagerRegister/bin/Debug/ReportManagerRegister.vshost.exe.config
Setup/ReportManagerRegister/ReportManagerRegister/bin/Debug/ReportManagerRegister.vshost.exe.manifest
RS/Reporting/ReportManager/ReportManagerMVC/ReportManager/Forerunner/Forerunner-all.min.js.map
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/obj/Debug/ReportMannagerConfigTool.frmMain.resources
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/obj/Release/*
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/obj/Debug/*
RS/Reporting/ReportViewer/Forerunner.SSR.Core/obj/Debug/*
RS/Reporting/ReportViewer/Forerunner.SSR.Core/obj/Release/*
RS/Reporting/ReportViewer/Rendering Extension/JSONRenderingExtension/obj/Debug/*
RS/Reporting/ReportViewer/Rendering Extension/JSONRenderingExtension/obj/Release/*
utilities/timebomb/timebomb/obj/Debug/*
utilities/timebomb/timebomb/obj/Release/*
utilities/timebomb/timebomb/bin/Debug/*
utilities/timebomb/timebomb/bin/Release/*
utilities/timebomb/timebomb/timebomb.csproj.user
utilities/InstallData/InstallData/bin/Debug/*
utilities/InstallData/InstallData/bin/Release/*
utilities/InstallData/InstallData/obj/Debug/*
utilities/InstallData/InstallData/obj/Release/*
utilities/SetupUtil/SetupUtil/bin/Debug/InstallData.exe.config
utilities/SetupUtil/SetupUtil/bin/Debug/InstallData.vshost.exe.config
utilities/SetupUtil/SetupUtil/bin/Debug/InstallData.vshost.exe.manifest
utilities/SetupUtil/SetupUtil/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
utilities/SetupUtil/SetupUtil/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
utilities/SetupUtil/SetupUtil/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
utilities/SetupUtil/SetupUtil/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
utilities/SetupUtil/SetupUtil/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
utilities/SetupUtil/SetupUtil/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/bin/Release/ReportManagerConfigTool.exe.config
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/bin/Debug/ReportManagerConfigTool.exe.config
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/bin/Debug/ReportManagerConfigTool.vshost.exe.config
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/bin/Release/ReportManagerConfigTool.exe.config
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/bin/Release/ReportManagerConfigTool.vshost.exe.config
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/obj/Debug/ReportMannagerConfigTool.frmMain.resources
RS/Reporting/ReportManager/ReportManagerMVC/ReportMannagerConfigTool/obj/Debug/ReportMannagerConfigTool.Properties.Resources.resources
utilities/SetupUtil/SetupUtil/bin/Debug/*
utilities/SetupUtil/SetupUtil/bin/Release/*
utilities/SetupUtil/SetupUtil/SetupUtil.csproj.user
