@{
    ViewBag.Title = "Report Manager";
    Layout = "../Shared/_RMLayout.cshtml";    
}

@section scripts{
  <script type="text/javascript" src="~/ReportViewer/Scripts/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="~/Scripts/util/underscore.js"></script>
  <script type="text/javascript" src="~/Scripts/util/json2.js"></script>
  <script type="text/javascript" src="~/Scripts/util/backbone.js"></script>
  <script type="text/javascript" src="~/Scripts/util/laconic.js"></script>
  <script type="text/javascript" src="~/Scripts/util/backbone_ui.js"></script>
  <script type="text/javascript" src="~/Scripts/util/collection_view.js"></script>
  <script type="text/javascript" src="~/Scripts/util/jquery.touchwipe.min.js"></script>
  <script type="text/javascript" src="~/Scripts/App/configs.js"></script>
  <script type="text/javascript" src="~/Scripts/App/utils.js"></script>
  <script type="text/javascript" src="~/ReportViewer/Scripts/Carousel/js/jquery.sky.carousel-1.0.2.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Models/reportmanagermodels.js"></script>
  <script type="text/javascript" src="~/Scripts/Views/appPageView.js"></script>
  <script type="text/javascript" src="~/Scripts/Views/reportmanagermainview.js"></script>
  <script type="text/javascript" src="~/Scripts/Views/reportviewermainview.js"></script>
  <script type="text/javascript" src="~/ReportViewer/Scripts/ReportViewer.js"></script>
  <script type="text/javascript" src="~/ReportViewer/Scripts/ReportParameter.js"></script>
  <script type="text/javascript" src="~/Scripts/Views/reportviewermainview.js"></script>
  <script type="text/javascript" src="~/Scripts/App/router.js"></script>
  <script type="text/javascript" src="~/ReportViewer/Scripts/jquery.watermark.min.js"></script>
  <script type="text/javascript" src="~/ReportViewer/Scripts/jquery.validate1.11.1.min.js"></script>
  <script type="text/javascript" src="~/ReportViewer/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
}

@section styles {
    <link href="~/ReportViewer/Scripts/Carousel/css/default_skin_variation.css" rel="stylesheet"/>
    <link href="~/css/reportmanager.css" rel="stylesheet"/>
    <link href="~/ReportViewer/ReportViewer.css" rel="stylesheet"/>
    <link href="~/ReportViewer/Scripts/jquery-ui.min.css" rel="stylesheet"/>
    <link href="~/ReportViewer/Scripts/jquery.ui.core.min.css" rel="stylesheet"/>
    <link href="~/ReportViewer/Scripts/jquery.ui.datepicker.min.css" rel="stylesheet"/>
}

<header id="topdiv"><table><tr><td><a href="#"><img src="./reportviewer/Images/Home-icon.png" class="buttonicon"/></a><br /></td><td class="spacer10mm"><IMG class='buttonicon' id='rm-backbutton' src='./ReportViewer/Images/BackButton.png'/></td><td><div id="HeaderArea" /></td></tr></table>
<section id="mainSectionHeader"></section>
</header>
<section id="headerspacer"> </section>
<section id="pageSection">
  <div id="modalViewContainer"></div>
</section>
<section id="footerspacer"></section>
<footer id="bottomdiv"></footer>