.fr-dlb-form { margin-right: 16px; }
    .fr-dlb-form .fr-dlb-error-span { display: inline; font-size: 10pt; margin-left: 5px; }
    .fr-dlb-form .fr-dlb-error-position { display: inline; }
    .fr-dlb-form .fr-dlb-error { border-width: thin; border-color: red; }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
    .fr-dlb-form { margin-right: 4px; }
}

/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
    .fr-dlb-form { margin-right: 4px; }
}
