.fr-security-section {
    display: none;
}
    .fr-security-section .fr-security-path {
        margin: 4px;
        padding: 0 4px 4px;
        text-align: center;
        border-bottom: 1px dotted #666666;
    }
.fr-security-container {
    width:500px;
    margin-bottom:20px;
    position:relative;
}
    .fr-security-container .fr-security-input {
        padding-left: 4px;
    }     
.fr-security-layer {
    margin: 4px 0;
    min-height: 140px;
    max-height: 450px;
    overflow: auto;
}
    .fr-security-layer ul {
        padding: 0 6px;
    }
        .fr-security-layer ul li {
            list-style: none;
            padding: 6px 0 10px;
            margin-bottom:4px;
            border-bottom: 1px dotted #666666;
        }    
    .fr-security-layer .acc span, .fr-security-layer .role-name span{
        display:inline-block;
        min-height:20px;
    }
    .fr-security-layer .role-name .chk {
        padding: 0 4px;
    }
    .fr-security-layer .role, .fr-security-layer .desp {
        color: gray;
        /*display: none;*/
        font-size: 14px;
        margin:6px 0 -4px;
    }
    .fr-security-layer .desp {
        padding-left:21px;
    }
        .fr-security-layer .role .tit, .fr-security-layer .desp .tit {
            font-weight: 700;
        }
     .fr-security-layer ul li span {
        max-width:350px;
        -ms-word-wrap:break-word;
        word-wrap:break-word;
    }
    .fr-security-layer ul li a {
        float: right;
        margin: 0 2px;
        text-decoration: none;
        font-size: 13px;
        padding: 2px 6px;
        border: 1px solid #cccccc;
        color: gray;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

.fr-security-container .layer-2, .fr-security-container .layer-1 .funcBtn, .fr-core-center .operate-0,.fr-core-center .operate-1, .fr-core-center .operate-2 {
    display: none;
}
    .fr-security-container .layer-2 .header {
        margin: 4px;
    }
    .fr-security-container .layer-2 .header .fr-security-label {
        margin-left: 4px;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 600;
    }
    .fr-security-container .layer-2 .header .fr-security-input {
        width: 170px;
    }
    .fr-security-container .layer-2 .prompt {
        padding-bottom: 4px;
        margin: 0 4px 4px;
        margin-left: 8px;
        font-size:14px;
        border-bottom: 1px #000 dotted;
    }
.fr-security-submit-container {
    padding-bottom:16px;
    margin:0px;
}
    .fr-security-submit-container .fr-security-btn {
        width: 130px;
        margin: 0px 20px;
    }
    .fr-security-submit-container .fr-security-edit {
        width: 220px;
        margin: 0px 20px;
    }

@media only screen and (max-width : 479px) {
    .fr-security-container {
        width: 320px;
    }
    .fr-security-layer {
        min-height: 140px;
        max-height: 240px;
    }
    .fr-security-submit-container .fr-security-btn {
        width: 100px;
        margin: 0px 20px;
    }
    .fr-security-layer ul li span { max-width:180px; }
}