.fr-properties-section {
    display:none;
}
.fr-properties-container {
    width:500px;
}
.fr-properties-section .fr-properties-container {
    background:none;
}
.fr-properties-submit-container {
    padding-bottom:16px;
    margin:0px;
}
.fr-properties-section .fr-properties-tabs {
    background:none;
    border:none;
    border-bottom:1px solid;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.fr-properties-tabs li.ui-state-active {
    border: 1px solid #aaaaaa;
	background: none;
	font-weight: normal;
	color: #212121;
    box-shadow: 0px 0px;
}
.fr-properties-container .fr-properties-tabs li.ui-state-default a {
    padding:6px 10px;
}

.fr-tag-input-div, .fr-tag-prompt-div {
    display: table-row;
}
.fr-visibility-prompt-div {
    margin:12px 4px 4px;
}

.fr-tag-label-prompt, .fr-visibility-label-prompt {
    font-style:italic;
    font-size:12px;
    display:block;
    margin-top:2px;
}

.fr-rdl-label, .fr-description-label, .fr-tag-label {
    margin: 0 11px 10px 0; 
    display: block;
}
.fr-property-visibility {
    margin: 4px;
}
.fr-rdl-text, .fr-description-text, .fr-tag-text { 
    width: 450px;
    height: auto;
    display: block;
    resize: none;
} 

.fr-properties-container .fr-sf-text, .fr-properties-container .fr-rdl-text, .fr-properties-container .fr-description-text, .fr-properties-container .fr-tag-text {
    padding: 0 0 0 4px;
}

.fr-properties-container .fr-sf-text {
    width: 310px;
}

.fr-properties-form .fr-sf-error-span {
    font-size: 10pt;
    display:block;
}
.fr-properties-form, .fr-sf-error {
    border-width: thin; 
    border-color: red;
}
.fr-visibility-container {
    margin: 10px 0px 6px -2px;
}

@media only screen and (max-width : 479px) {
    .fr-properties-container {
        width:320px;
    }
    .fr-properties-container .fr-rdl-text, .fr-properties-container .fr-description-text, .fr-properties-container .fr-tag-text {
        width:300px;
    }
    .fr-properties-container .fr-sf-text {
        width:210px;
    }
    .fr-properties-section .fr-properties-container .fr-property-container {
        padding:12px 4px;
    }
    .fr-properties-container .fr-properties-tabs li.ui-state-default a {
        padding:4px;
        font-size:small;
    }
    .fr-rdl-label, .fr-description-label, .fr-tag-label, .fr-visibility-label{
        font-size:small;
    }

}