html,body {
  
  min-height: 100%;
  background-color: white;
  position: relative;
  padding: 0px;
  margin: 0px;
  border: 0px;
  height:100%;

}

* {
  /*padding: 0px;*/
  margin: 0px;
  border: 0px;
  z-index: 0;
}

table, td, tr {
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 0;
}
