.fr-toolbase-toolcontainer {
  width: 36px;
  height: 36px;
  border-width:0px;
  vertical-align: top;
  border-radius: 2px;
  padding:1px;
  display:inline-block;
  text-align:center;
  line-height:36px;
  color: white;
}

.fr-toolbase-groupcontainer {
  display:inline-block;
  vertical-align: top;
  line-height:36px;
}

.fr-toolbase-itemcontainer {
  border-top-width:1px;
  border-top-style:groove;
  border-top-color: darkgray;
  vertical-align: top;
  line-height:36px;
  color: white;
  display:block;
}

.fr-toolbase-state {
  background-color: transparent;
}

.fr-toolbase-state:hover {
  background-color:darkgrey;
}

.fr-toolbase-state:active {
  background-color:darkslategrey;
}

.fr-toolbase-disabled {
  opacity:0.3;
  filter: alpha(opacity='30');
}

.fr-toolbase-icon {
  width:24px;
  height:24px;
  margin: 5px;
}
