@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Dashboard Detail:</b>
    <p>
    The <a href="~/Docs/$.forerunner.reportViewerEZ.html" target="_blank">reportViewerEZ</a> widget provides a fully functional
    report viewer user experience. You can have more than a single instance of reportViewerEZ on a single page.
    </p>
    <p>
        This sample will demonstrate placing 3 Report Viewer controls on one page
    </p>
    <p><a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/Dashboard.cshtml.txt', 'DashboardID')">Click here to see the source code for the page</a></p>
    <p><pre id="DashboardID" class="prettyprint"></pre></p>

    <p>
        Create a layout page in your project that includes the style sheets and scripts files.
    </p>
    <p><a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/_SamplesLayout.cshtml.txt', 'SamplesLayoutSourceID')">Click here to see the source code for the layout page</a></p>
    <p><pre id="SamplesLayoutSourceID" class="prettyprint"></pre></p>

    <p><a onclick="NavigateToSiteURL(app.SDKSamples, 'Samples/Dashboard')">Click here to see the sample run</a></p>

}
