@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Getting Started Detail:</b>
    <p>
        This sample will guide you through all the steps needed to create a Forerunner enabled web application. This sample
        was created with "Microsoft Visual Studio 2012". The forerunner SDK does not require a Microsoft MVC 4 Web Application
        but the samples were developed in that environment. When finished, you will have a running MVC 4 Web application based
        upon the "Internet Application" template with one additional page that shows a report using the Forerunner SDK.
    </p>
    <p>
        If you already have a web application you can skip directly to the the section on enabling Forerunner support below.
    </p>
    <p><b>Step 1: Install Mobilizer</b></p>
    <p>If you don't have Mobilizer installed yet, you can get our trial version here:</p>
    <div class="DownloadButton Rounded" style="margin-bottom: 15px;"><a id="register" style="padding-top: 2px;" href="../home/register?"><strong>DOWNLOAD TRIAL NOW!</strong></a></div>

    <p><b>Step 2: Create a New Visual Studio Web Application</b></p>
    <ul>
        <li>Select the menu items:</li>
            <ul><li>"File" > "New" > "Project..."</li></ul>
        <li>In the "New Project" dialog, select:</li>
            <ul><li>"Visual C#" > "Web" > "ASP.NET MVC 4 Web Application"</li></ul>
        <li>Enter your folder location and select the "OK" button.</li>
        <li>In the "New ASP.NET MVC 4 Project" dialog select:</li>
            <ul><li>the "Internet Application" Template</li></ul>
    </ul>
    <p>
        At this point, you will have a running MVC Web Application. This application will use forms based authentication
        and will have stubbed pages for "Home", "About" and "Contact".
    </p>

    <p><b>Step 3: Enabling Forerunner SDK Support</b></p>
    <ul>
        <li>
            Copy the "forerunner" folder from your Mobilizer installation into the root folder in your project. Typically
            the Forerunner folder folder path would be something like:
        </li><br />
        <ul><li>C:\Program Files (x86)\Forerunner\MobilizerV2\Forerunner</li></ul>
        <p>and the root folder of your application will contain your Web.config file.</p>
        <li>
            Copy the "sdk" folder from your Mobilizer installation. This folder contains the controllers and related .cs files you
            will need to run the Forerunner SDK. You can create a project folder named "sdk" or you can choose to copy these files
            into your own project folder hierarchy if you prefer.
        </li>
        <br />
        <li>Copy the following files from your installation bin folder to your project bin folder and add references:</li>
        <ul>
            <li>Forerunner.Json.dll</li>
            <li>Forerunner.SQLReporting.dll</li>
        </ul>
        <li>In the file: App_Start\WebApiConfig.cs change the following line:</li>
        <ul>
            <p>routeTemplate: "api/{controller}/{id}",</p>
            <p>to:</p>
            <p>routeTemplate: "api/{controller}<b>/{action}</b>/{id}",</p>
        </ul>
        <li>Make the following changes to your Web.config file</li>
        <ul>
            <p>Copy the Forerunner specific
                &lt;appsettings&gt;
                from the installed Mobilized Web.config</p>
        </ul>
    </ul>
    <p><b>Step 4: Add a page that shows a report</b></p>
    <ul>
        <p><i>Add a Report view</i></p>
        <li>In the "Solution Explorer" view, right click the "Views" > "Home" folder and select the menu items:</li>
            <ul><li>"Add" > "View..."</li></ul>
        <li>In the "Add View" dialog:</li>
        <ul>
            <li>Add a new view named "Report"</li>
            <li>Select the  "Add" button</li>
        </ul>
        <p><a onclick="ToggleSourceCode(app.GettingStarted, 'Bundles/Report.cshtml.txt', 'ReportPageSourceID')">Click here to see the source code</a></p>
        <p><pre id="ReportPageSourceID" class="prettyprint"></pre></p>

        <p><i>Add a new action method to the HomeController.cs file</i></p>
        <p><a onclick="ToggleSourceCode(app.GettingStarted, 'Bundles/HomeController.cs.txt', 'HomeControllerSourceID')">Click here to see the source code</a></p>
        <p><pre id="HomeControllerSourceID" class="prettyprint"></pre></p>

        <p><i>Add a new report layout</i></p>
        <li>In the "Solution Explorer" view, right click the "Views" > "Shared" folder and select the menu items:</li>
            <ul><li>"Add" > "View..."</li></ul>
        <li>In the "Add View" dialog:</li>
        <ul>
            <li>Add a new view named "_ReportLayout.cshtml"</li>
            <li>Select the  "Add" button</li>
        </ul>
        <p><a onclick="ToggleSourceCode(app.GettingStarted, 'Bundles/_ReportLayout.cshtml.txt', 'ReportLayoutSourceID')">Click here to see the source code</a></p>
        <p><pre id="ReportLayoutSourceID" class="prettyprint"></pre></p>
        <li>Add a link to the new report page into the _Layout.cshtml page</li>
        <p><a onclick="ToggleSourceCode(app.GettingStarted, 'Bundles/_Layout.cshtml.txt', 'LayoutSourceID')">Click here to see the source code</a></p>
        <p><pre id="LayoutSourceID" class="prettyprint"></pre></p>
    </ul>

    <p><b>Step 5: Setup authentication</b></p>
    <p><i>Add the Forerunner authentication support</i></p>
    <ul>
        <li>Open the file "Controllers" > "AccountController.cs></li>
        <li>Change the refernece to:</li>
        <p>WebSecurity.Login(model.UserName, model.Password, persistCookie: model.RememberMe)</p>
        <p>in the Login action to:</p>
        <p>Forerunner.Security.FormsAuthenticationHelper.Login(model.UserName, model.Password, 30)</p>
    </ul>
    <p><a onclick="ToggleSourceCode(app.GettingStarted, 'Bundles/AccountController.cs.txt', 'AccountContrpollerSourceID')">Click here to see the source code</a></p>
    <p><pre id="AccountContrpollerSourceID" class="prettyprint"></pre></p>

    <p>
        You can run the sample and see the "Report" page. The "Report" page requires authentication, so login using the user
        name "TestAccount" and password "TestPWD!".
    </p>
    <p><a onclick="NavigateToSiteURL(app.GettingStarted, '')">Click here to see the sample</a></p>
}
