@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Remove Button Detail:</b>
    <p>
    The Remove Button sample shows how to remove a new button from an instance of the reportViewerEZ widget. It does this
    by setting a display style to none for the target button.
    </p>
    <p>
        <a onclick="NavigateToSiteURL(app.SDKSamples, 'Samples/RemoveButton')">Click here to see the sample</a>
    </p>
    <p>
        <a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/RemoveButton.cshtml.txt', 'RemoveButtonSourceID')">Click here to see the source code</a>
    </p>
    <p>
        <pre id="RemoveButtonSourceID" class="prettyprint"></pre>
    </p>
}
