@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Remove Button Detail:</b>
    <p>
        The Remove Button sample shows how to remove a new button from an instance of the reportViewerEZ widget. It does this
        by setting a display style to none for the target button. In this sample the Document Map button is removed.
    </p>
    <p><a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/RemoveButton.cshtml.txt', 'RemoveButtonSourceID')">Click here to see the source code for the page</a></p>
    <p><pre id="RemoveButtonSourceID" class="prettyprint"></pre></p>

    <p>
        Create a layout page in your project that includes the style sheets and scripts files.
    </p>
    <p><a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/_SamplesLayout.cshtml.txt', 'SamplesLayoutSourceID')">Click here to see the source code for the layout page</a></p>
    <p><pre id="SamplesLayoutSourceID" class="prettyprint"></pre></p>

    <p><a onclick="NavigateToSiteURL(app.SDKSamples, 'Samples/RemoveButton')">Click here to see the sample run</a></p>
}
