@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Report Explorer EZ Detail:</b>
    <p>
        The <a href="~/Docs/$.forerunner.reportExplorerEZ.html" target="_blank">reportExplorerEZ</a> widget provides a fully functional
        report explorer user experience. This includes defining layout for, instanciating and hooking up event handlers
        for all associated widgets such as the toolBar.
    </p>
    <div class="toggle-source-code" data-file="ReportExplorerEZ.cshtml"></div>

    <p>
        Create a layout page in your project that includes the style sheets and scripts files.
    </p>
    <div class="toggle-source-code" data-file="_SamplesLayout.cshtml"></div>

    <p><a onclick="NavigateToSiteURL('appEnum.SDKSamples', 'Samples/ReportExplorerEZ')">Click here to see the sample run</a></p>
}
