@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Report Selector Detail:</b>
    <p>
        The Report Selector sample shows how to get catalog and report items from the server and
        display the results in a list. The list items can then be clicked to hide / show the
        catalogs or show the report.

        The main file of interest in this sample is the ReportSelector.js file.
    </p>
    <div class="toggle-source-code" data-file="ReportSelector.js" data-toggletext="Click here to see the source code for ReportSelector.js"></div>

    <div class="toggle-source-code" data-file="ReportSelector.cshtml" data-toggletext="Click here to see the source code for ReportSelector.cshtml page"></div>

    <p>
        Create a layout page in your project that includes the style sheets and scripts files.
    </p>

    <div class="toggle-source-code" data-file="_SamplesLayout.cshtml"></div>

    <p><a onclick="NavigateToSiteURL('appEnum.SDKSamples', 'Samples/ReportSelector')">Click here to see the sample run</a></p>
}
