@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Report Explorer EZ Detail:</b>
    <p>
    The reportExplorerEZ widget provides a fully functional report explorer user experience. This includes
    defining layout for, instanciating and hooking up event handlers for all associated widgets such as the toolBar.
    </p>
    <p><a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/ReportExplorerEZ.cshtml.txt', 'ReportExplorerEZID')">Click here to see the source code for the page</a></p>
    <p><pre id="ReportExplorerEZID" class="prettyprint"></pre></p>

    <p>
        Create a layout page in your project that includes the style sheets and scripts files.
    </p>
    <p><a onclick="ToggleSourceCode(app.SDKSamples, 'Bundles/_SamplesLayout.cshtml.txt', 'SamplesLayoutSourceID')">Click here to see the source code for the layout page</a></p>
    <p><pre id="SamplesLayoutSourceID" class="prettyprint"></pre></p>

    <p><a onclick="NavigateToSiteURL(app.SDKSamples, 'Samples/ReportExplorerEZ')">Click here to see the sample run</a></p>
}
