@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
    <b>Version 3 Archive Samples:</b>
    <p>
        We kept the V3 Samples for your reference. They are not compatiple with Version 4 packages but you could still download
        the Version 3 Mobilizer and follow the V3 Getting Started.
    </p>
    <p>
        <a href="../home/samples">V3 Sample Archives</a>
    </p>
}
