@using System.Web.Http
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using AllSamplesV4.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
  ViewBag.Title = "ASP.NET Web API Help Page";

  // Group APIs by controller
  ILookup<string, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor.ControllerName);
}

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
              The forerunner SDK includes the following Web API Controllers:
            </p>
            <ul>
              <li>ReportManager</li>
              <li>ReportViewer</li>
            </ul>
            <p>
              Each method / endpoint for each Web API controller is documented on this page. Additionally
              each method below is a selectable link and a separate detail page is provided for each.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
