.reportexplorer {
}

.fr-report-explorer {
height:100%;

background: rgb(206,220,231); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzU5NmE3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(99%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-8 */

}
.fr-explorer-item {
    display:inline-block;
    margin: 30px;
    cursor:pointer;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centertext
{
    text-align: center;
}

.reportexplorer .sky-carousel {
  display: block;
  min-height: 200px;
}

.rm-list {
  display: none;
  position: relative;
  width: device-width;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.rm-list-container-item {
  list-style-type: none;
}

.catalogitem {
  width: 200px;
}

.reportitem {
  width:200px; 
  background-color: white;
}

.fr-button-back {
    float:right;
}

.fr-rm-button-fav {
    margin-left:20px;
    margin-right:20px;
}

.image-block { 
    width:200px; 
}


.reflection { 
    position:relative; 
    margin-top: 5px;
    height:50px; 
    width:200px; 
} 
.reflection img { 
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1) ; 
    -ms-transform: scaleY(-1); 
    -o-transform: scaleY(-1); 
    transform: scaleY(-1);
    filter: flipv; 
    opacity:0.30; 
    filter: alpha(opacity='30');             

} 
.overlay { 
    position:absolute; 
    margin-top:5px;
    top:0px; 
    left:0px; 
    width:200px; 
    height:50px;   
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-height : 320px) 
and (min-width : 400px) 
and (orientation : landscape) {
/* Styles */
.catalogitem {
  width: 180px;
}

.sc-content {
  display:inline;
}

.reportexplorer .sky-carousel {
  height: 250px;
  width: 100%;
}

.rm-list {
  display: none;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) 
and (orientation : portrait) {
.catalogitem {
  width: 120px;
}

.rm-list-container-item {
  padding-bottom: 50px;
}

.sc-content {
  display:inline;
}

.reportexplorer .sky-carousel {
  display: none;
}

.rm-list {
  display: block;
}


}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.catalogitem {
  width: 250px;
}

.sc-content {
  display:inline;
}

.reportexplorer .sky-carousel {
  display: block;
  width: 100%;
  height: 600px;
}

.rm-list {
  display: none;
}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.catalogitem {
  width: 250px;
}

.rm-list-container-item {
  padding-bottom: 50px;
}

.sc-content {
  display:inline;
}

.reportexplorer .sky-carousel {
  display: none;
}

.rm-list {
  display: block;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
