@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
       
        <!--<div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; ">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div class="ForerunnerPageTitle" style="padding-bottom:40px;">Forerunner Software</div>
                        <div class="ForerunnerPageSubTitle" style="">
                            <div>We are sorry we have encountered an error</div>   
                        </div>                    
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                         <div>
                            <img  class="ForerunnerImage "  src="~/Content/img/product_about.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</div>
