<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PublishExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PublishExtension.Properties.Settings>
            <setting name="PublishExtension_ReportService2005_ReportingService2005"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="PublishExtension_ReportService2006_ReportingService2006"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2006.asmx</value>
            </setting>
        </PublishExtension.Properties.Settings>
    </applicationSettings>
</configuration>