<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
  <appSettings>
    <add key="Domain" value="register.forerunnersw.com"/>
    <add key="DataSourse" value="ForerunnerReg.db.11812708.hostedresource.com"/>
    <add key="InitialCatalog" value="ForerunnerReg"/>
    <add key="UserID" value="ForerunnerReg"/>
    <add key="Password" value="FRUserPWD!1"/>
    <add key="MailSubject" value="Thank you for registering for your FREE Trial"/>

    <add key="MailBody" value="&lt;b&gt; {0}, thank you for registering for your FREE Trial!&lt;/b&gt;&lt;br&gt;&lt;br&gt;To download your software click &lt;a href='http://{1}/api/Download?id={2}'&gt;here&lt;/a&gt; or copy this link to your browser http://{1}/api/Download?id={2}&lt;br&gt;&lt;br&gt;Sincerely:&lt;br&gt;The Forerunner Software Team" />
    <add key="MailHost" value="outlook.office365.com"/>
    <add key="MailSendAccount" value="ServiceAccount@forerunnersw.com"/>
    <add key="MailSendPassword" value="ServicePWD!"/>
    <add key="MailFromAccount" value="sales@forerunnersw.com"/>
  </appSettings>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>