<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
  <appSettings>
    <add key="Domain" value="register.forerunnersw.com"/>
    <add key="DataSourse" value="ForerunnerReg.db.11812708.hostedresource.com"/>
    <add key="InitialCatalog" value="ForerunnerReg"/>
    <add key="UserID" value="ForerunnerReg"/>
    <add key="Password" value="FRUserPWD!1"/>
    <add key="MailHost" value="outlook.office365.com"/>
    <add key="MailSendAccount" value="ServiceAccount@forerunnersw.com"/>
    <add key="MailSendPassword" value="ServicePWD!"/>


    <add key="RegMailSubject" value="Thank you for registering for your FREE Trial"/>
    <add key="RegMailBody" value="&lt;b&gt; {0}, thank you for registering for your FREE Trial!&lt;/b&gt;&lt;br&gt;&lt;br&gt;To download your software click &lt;a href='http://{1}/api/Download?id={2}'&gt;here&lt;/a&gt; or copy this link to your browser http://{1}/api/Download?id={2}&lt;br&gt;&lt;br&gt;Your License Key to activate your trial software is: {3}&lt;br&gt;&lt;br&gt;Sincerely:&lt;br&gt;The Forerunner Software Team" />
    <add key="RegMailFromAccount" value="sales@forerunnersw.com"/>

    <add key="LicenseMailSubject" value= "Forerunner Software - Order Number {0}"/>
    <add key="LicenseMailBody" value="Thank you for your order with Forerunner Software!&lt;br&gt;&lt;br&gt;If you ordered more than one product you will receive a separate email for each line item. Below are your license keys to active your software. You can activate your license using the activation tab in the configuration tool.&lt;br&gt;&lt;br&gt;License keys are case sensitive:&lt;br&gt;{0}&lt;br&gt;&lt;br&gt;If you have any questions please reply to this email or call 855-367-3511 (855-FORE511)&lt;br&gt;&lt;br&gt;Sincerely:&lt;br&gt;The Forerunner Software Team" />
    <add key="LicenseMailFromAccount" value="sales@forerunnersw.com"/>



  </appSettings>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>