<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Forerunner/Common/css/Forerunner-all.css" rel="stylesheet"/>
    <link href="~/Forerunner/Lib/jQuery/css/jquery-ui-1.10.3.forerunner.css" rel="stylesheet"/>

    @RenderSection("styles", required: false)
</head>
<body>
    <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/Misc/js/jquery.hammer.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/Misc/js/json2.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/Misc/js/scroll-startstop.events.jquery.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/Misc/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Bundles/forerunner.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Bundles/forerunner-tools.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Bundles/forerunner-widgets.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery.validate1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery-ui-1.10.3.forerunner.js"></script>

    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>
