<?xml version="1.0"?>
<configuration>
  <appSettings>
     <!--SSRS Connection Tab-->
    <!--Report Manager Config Fields-->
    <!--Fields used to deploy report manger app-->
    <add key="ForerunnerPool" value="ForerunnerPool"/>
    <add key="DefaultSiteName" value="Default Web Site"/>
    <add key="ReportManagerWebConfigPath" value="../Web.config"/>
    <!--<add key="ReportManagerWebConfigPath" value="../../../ReportManager/Web.config"/>-->
    <!--Key names in the reportmanager web.config file-->
    <add key="ReportServerWSUrl" value="Forerunner.ReportServerWSUrl"/>
    <add key="ReportServerDataSource" value="Forerunner.ReportServerDataSource"/>
    <add key="ReportServerDB" value="Forerunner.ReportServerDB"/>
    <add key="ReportServerDBDomain" value="Forerunner.ReportServerDBDomain"/>
    <add key="ReportServerDBUser" value="Forerunner.ReportServerDBUser"/>
    <add key="ReportServerDBPWD" value="Forerunner.ReportServerDBPWD"/>
    <add key="UseIntegratedSecurityForSQL" value="Forerunner.UseIntegratedSecurityForSQL"/>
    <!--SharePoint Configuration-->
    <add key="IsNative" value="Forerunner.IsNative"/>
    <add key="SharePointHost" value="Forerunner.SharePointHost"/>
    <add key="DefaultUserDomain" value="Forerunner.DefaultUserDomain"/>
    <!--IIS Authentication Node Path, report manager use windowsAuthentication-->    
    <add key="anonymousAuthentication" value="system.webServer/security/authentication/anonymousAuthentication"/>
    <add key="windowsAuthentication" value="system.webServer/security/authentication/windowsAuthentication"/>
    <!--Form Authentication Value-->
    <add key="FormAuthenticationLoginUrl" value="~/Login/Login"/>
    <add key="FormAuthenticationTimeout" value="2880"/>
    <add key="FormAuthenticationName" value=".ForeRunnerMVC"/>
    <!--SSRS Connection Tab-->
    
    
    <!--SSRS Extension Tab-->
    <!--Sql Server Report Manager Folder Path-->
    <add key ="ReportManagerFolderPath" value=""/>    
    <!--Render Extension DLL Path-->
    <add key ="forerunnerJSONDLL" value="../SSRSExtension/Forerunner.Json.dll" />
    <add key ="forerunnerRenderExtensionDLL" value="../SSRSExtension/Forerunner.RenderingExtensions.dll"/>
    <add key ="forerunnerRenderThumbnailEXE" value="../SSRSExtension/Forerunner.Thumbnail.exe"/>
    <!--Report Server Config File Name-->
    <add key ="reportServerWebConfig" value="/web.config"/>
    <add key ="rsConfig" value="/rsreportserver.config"/>
    <add key ="srvPolicyConfig" value="/rssrvpolicy.config"/>
    <!--Node names that will be added into report server config files for Extension-->
    <add key ="rplRendering" value="Microsoft.ReportingServices.RPLRendering"/>
    <add key ="htmlRendering" value ="Microsoft.ReportingServices.HTMLRendering"/>
    <add key ="forerunnerJSON" value="ForerunnerJSON"/>
    <add key ="forerunnerThumbnail" value="ForerunnerThumbnail"/>
    <add key ="codeGroupName" value="Forerunner_JSON_Renderer"/>
    <add key="rplRenderingDllPath" value="\bin\Microsoft.ReportingServices.RPLRendering.dll"/>
    <!--SSRS Extension-->
    
    
    <!--Web Server Tab-->
    <add key="serverType" value=""/>
    <add key="siteName" value=""/>
    <add key="port" value=""/>
    <!--Web Server Tab-->
  </appSettings>
  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>