<!DOCTYPE html>
<html>
<head>  
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />        
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="apple-touch-icon" href="~/iPhoneMobilizer.png" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=0, user-scalable=yes' />
    <title>Mobilizer</title>
    <meta name="robots" content="noindex,nofollow">
    <script type="text/javascript"> if (!window.console) console = { log: function () { } }; </script>
    @Styles.Render("~/Forerunner/Common/css/bundle", 
    "~/Forerunner/ReportExplorer/css/bundle", 
    "~/Forerunner/Dashboard/css/bundle", 
    "~/Forerunner/Lib/jsTree/themes/default/bundle", 
    "~/Forerunner/ReportViewer/css/bundle")    
    @RenderSection("styles", required:false)
     <!-- css3-mediaqueries.js for IE less than 9 -->
	 <!--[if lt IE 9]> 
     <link href="~/Forerunner/ReportExplorer/css/ReportExplorerIE8.css" rel="stylesheet"/>
	 <script src="~/Forerunner/Lib/Misc/js/css3-mediaqueries.js "></script>
     <![endif]-->
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
    
</body>
</html>
