<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ForeRunnerSAMLExtension.TenantAuthorityRegEx" value="http://[^/]*/([^/]*).*$"/>
    <add key="ForeRunnerRSServerVersion" value="v10"/>
  </appSettings>
  <connectionStrings>
    <add name="ForeRunnerSAMLExtension.ConnectionString" connectionString="Server=.;Database=SAMLExtensionDB;Trusted_Connection=True"/>
  </connectionStrings>
</configuration>