@{
    ViewBag.Title = "Report Manager";
    Layout = "../Shared/_RMLayout.cshtml";    
}

@section scripts{
  <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="~/Scripts/util/underscore.js"></script>
  <script type="text/javascript" src="~/Scripts/util/json2.js"></script>
  <script type="text/javascript" src="~/Scripts/util/backbone.js"></script>
  <script type="text/javascript" src="~/Scripts/util/jquery.hammer.min.js"></script>
  <script type="text/javascript" src="~/Forerunner/Common/js/forerunner.js"></script>
  <script type="text/javascript" src="~/Forerunner/Common/js/forerunner-tools.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportViewer.js"></script>
  <script type="text/javascript" src="~/Forerunner/Common/js/Toolbase.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/Toolbar.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ToolPane.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/PageNav.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportExplorer/js/ReportExplorerToolbar.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportExplorer/js/ReportExplorer.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportRender.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportParameter.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportDocumentMap.js"></script>
    <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportPrint.js"></script>
  <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery.watermark.min.js"></script>
  <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery.validate1.11.1.min.js"></script>
  <script type="text/javascript" src="~/Forerunner/Lib/jQuery/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/DefaultAppTemplate.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportViewerInitializer.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportViewer/js/ReportViewerEZ.js"></script>
  <script type="text/javascript" src="~/Forerunner/ReportExplorer/js/ReportExplorerEZ.js"></script>
  <script type="text/javascript" src="~/Scripts/App/router.js"></script>  
}

@section styles {
    <link href="~/CSS/reportmanager.css" rel="stylesheet"/>
    <link href="~/Forerunner/Common/css/Forerunner-all.css" rel="stylesheet"/>
    <link href="~/Forerunner/Lib/jQuery/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="~/Forerunner/Lib/jQuery/css/jquery.ui.core.min.css" rel="stylesheet"/>
    <link href="~/Forerunner/Lib/jQuery/css/jquery.ui.datepicker.min.css" rel="stylesheet"/>
}

<div id="explorer"></div>