.fr-layout-container {
  
  /*min-height: 100%;*/
  background-color: transparent;
  position: relative;
  padding: 0px;

  border: 0px;
}

.fr-layout-container table,td,tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  z-index: 0;
}

.fr-layout-mainviewport {
    z-index: 1;
    display: inline-block;
    overflow-y: visible;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width:100%;
}

.fr-layout-mainviewport-fullheight {
    height:100%;
}

.fr-layout-mainViewPortShiftedRight
{
    /* position: fixed;*/
    top: 0;
    left: 0;
    overflow: hidden;
}

.fr-layout-mainViewPortShiftedLeft {
    /* position: fixed;*/
    top: 0;
    right: 0;
    overflow: hidden;
}

.fr-layout-leftpane {
    width: 270px;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: rgb(53,85,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NTU2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTI4MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(53,85,109,1) 0%, rgba(33,40,43,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,85,109,1)), color-stop(100%,rgba(33,40,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35556d', endColorstr='#21282b',GradientType=0 ); /* IE6-8 */
    color: white;
    z-index: 2;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
}

.fr-layout-leftpanecontent {
    width: 270px;
    overflow: hidden;
    background: #354468;
    display:block;
    position: fixed;
    left: 0;
    top:38px;
}

.fr-layout-rightpane {
    vertical-align: top;
    width: 280px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: rgb(53,85,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NTU2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTI4MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(53,85,109,1) 0%, rgba(33,40,43,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,85,109,1)), color-stop(100%,rgba(33,40,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35556d', endColorstr='#21282b',GradientType=0 ); /* IE6-8 */
    color: white;
    z-index: 2;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
}

.fr-layout-rightpanecontent {
    width: 280px;
    display:block;
    overflow: hidden;
    background: #354468;

    position: fixed;
    right: 0;
    top: 38px;
}

.fr-layout-topdiv {
  border: 0px;
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: white;
  z-index: 1;
}

.fr-layout-topdivspacer {
  height:38px;
  display:block;
}

.fr-layout-rightheader {
  width: 280px;
  display:block;
  top: 0px;
  right: 0px;
  position: fixed;
  background-color: black;
}

.fr-layout-rightheader .fr-toolbar-reportback-button, .fr-layout-rightheader .fr-toolbar-paramarea-button {
    float: left;
}

.fr-layout-leftheader {
  width: 270px;
  display:block;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
}

.fr-layout-leftheader .fr-ltb-menu-button {
    float: right;
}

.fr-layout-leftheaderspacer {
  display:block;
}


div.fr-layout-pagesection {
  position: relative;
  display:block;
  width:auto;
  height:auto;
  
}

.fr-layout-container-noscroll {
  overflow: hidden;
}

div.fr-layout-pagesection-noscroll {
  overflow: hidden;
}

div.fr-layout-android {
  overflow-x: auto;
  overflow-y: hidden;
}
div.fr-layout-position-absolute {
  position: absolute;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-height : 320px) 
and (min-width : 400px) 
and (orientation : landscape) {
/* Styles */
.fr-layout-bottomdiv {
  display: none;
}

.fr-layout-bottomdivspacer {
  display: none;
}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) 
and (orientation : portrait) {
.fr-layout-bottomdiv {
  display: none;
}

.fr-layout-bottomdivspacer {
  display: none;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

.fr-core-cursorpointer { cursor: pointer; }

.fr-core-center { display: table; margin: 0 auto; }

.fr-core-widget { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.fr-core-widget input { font-family: sans-serif Helvetica, Arial; }

.fr-core-dialog-layout { width: 100%; height: 100%; position: absolute; left: 0px; right: 0px; z-index: 5; }
.fr-core-dialog-innerPage { overflow-y: auto; overflow-x: hidden; background-color: #ffffff; border: 1px solid #035378; box-shadow: 0px 0px 15px #696969; margin-top: 80px; position: relative; -webkit-appearance: none; }
.fr-core-dialog-header { font-size: 15pt; font-weight: bold; color: #ffffff; position: relative; width: 100%; display: inline-block; text-align: left; background: #537eb4; /* Old browsers */ background: -moz-linear-gradient(top, #537eb4 0%, #3c5d9c 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#537eb4), color-stop(100%,#3c5d9c)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #537eb4 0%,#3c5d9c 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #537eb4 0%,#3c5d9c 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #537eb4 0%,#3c5d9c 100%); /* IE10+ */ background: linear-gradient(to bottom, #537eb4 0%,#3c5d9c 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#537eb4', endColorstr='#3c5d9c',GradientType=0 ); /* IE6-9 */ }
    .fr-core-dialog-header .fr-core-dialog-icon-container{ height: 100%; margin: 0 17px 0 11px; vertical-align: top; display: inline-block; }
    .fr-core-dialog-header .fr-core-dialog-icon-inner{ height: 45px; vertical-align: middle; display: table-cell; }
    .fr-core-dialog-header .fr-core-dialog-align-middle{ vertical-align:middle; }
    .fr-core-dialog-header .fr-core-dialog-title-container{ height: 100%; vertical-align: top; display: inline-block; }
    .fr-core-dialog-header .fr-core-dialog-title{ height: 45px; vertical-align: middle; display: table-cell; }
    .fr-core-dialog-header .fr-core-dialog-cancel-container{ display: inline-block; margin: 0 11px 0 17px; float: right; }
    .fr-core-dialog-header .fr-core-dialog-cancel{ height: 45px; padding: 0; margin: 0; font-size: 13pt; color: #ffffff; background-color: transparent; border: none; cursor: pointer; }

.fr-core-dialog-form { margin: 16px 0 25px 16px; font-size: 13pt; font-weight: bold; color: #172949; text-align: left; display: block; overflow-x:hidden; overflow-y:auto; }
.fr-core-dialog-submit-container { width: 100%; display: block; margin: 25px 0 0 0; }
.fr-core-dialog-submit { width: 200px; display: inline-block; }
.fr-core-dialog-button { height: 38px; padding: 0 0; border: 1px solid #546681; cursor: pointer; text-align: center; font-size: 13pt; color: #ffffff; background: #5e96cf; /* Old browsers */ background: -moz-linear-gradient(top, #5e96cf 0%, #4e70b0 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e96cf), color-stop(100%,#4e70b0)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #5e96cf 0%,#4e70b0 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #5e96cf 0%,#4e70b0 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #5e96cf 0%,#4e70b0 100%); /* IE10+ */ background: linear-gradient(to bottom, #5e96cf 0%,#4e70b0 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e96cf', endColorstr='#4e70b0',GradientType=0 ); /* IE6-9 */ }
.fr-core-mask { opacity: 0.75; filter: alpha(opacity=75); position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: white; z-index: 2; }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
  .fr-core-dialog-submit-container { margin: 5px 0 0 0; }
  .fr-core-dialog-form { margin:4px 0px 25px 8px; }
  .fr-core-dialog-innerPage { margin-top:50px; } 
}

/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-core-dialog-submit-container { margin: 5px 0 0 0; }
  .fr-core-dialog-form { margin:4px 0px 25px 4px; }
  .fr-core-dialog-innerPage { margin-top:50px; }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
  .fr-core-dialog-submit-container { margin: 5px 0 0 0; }
}

/* For phone with 845 * 480 ------------- */
@media only screen and (max-height:480px) and (min-width:800px) and (orientation: landscape) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-height : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
}

/* For phone with 845 * 480 ------------- */
@media only screen and (max-height:480px) and (min-width:800px) and (orientation: landscape) {
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) and (orientation:landscape) {
  .fr-core-dialog-submit-container { margin: 5px 0 0 0; }
}

/*** IconGen - start automatically generated, do not hand modify ***/
.fr-icons24x24 {
  width:24px;
  height:24px;
  margin:5px;
  display:inline-block;
  background-image:url('../images/icons24x24.png');
}

.fr-icons24x24-menu {
  background-position: 0 0;
}

.fr-icons24x24-back {
  background-position: -24px 0;
}

.fr-icons24x24-reportback {
  background-position: -48px 0;
}

.fr-icons24x24-nav {
  background-position: -72px 0;
}

.fr-icons24x24-home {
  background-position: -96px 0;
}

.fr-icons24x24-paramarea {
  background-position: -120px 0;
}

.fr-icons24x24-documentmap {
  background-position: 0 -24px;
}

.fr-icons24x24-lastpage {
  background-position: -24px -24px;
}

.fr-icons24x24-next {
  background-position: -48px -24px;
}

.fr-icons24x24-prev {
  background-position: -72px -24px;
}

.fr-icons24x24-refresh {
  background-position: -96px -24px;
}

.fr-icons24x24-firstpage {
  background-position: -120px -24px;
}

.fr-icons24x24-export {
  background-position: 0 -48px;
}

.fr-icons24x24-exportCSV {
  background-position: -24px -48px;
}

.fr-icons24x24-exportExcel {
  background-position: -48px -48px;
}

.fr-icons24x24-exportMHT {
  background-position: -72px -48px;
}

.fr-icons24x24-exportPDF {
  background-position: -96px -48px;
}

.fr-icons24x24-exportTIFF {
  background-position: -120px -48px;
}

.fr-icons24x24-exportWord {
  background-position: 0 -72px;
}

.fr-icons24x24-exportXML {
  background-position: -24px -72px;
}

.fr-icons24x24-zoom {
  background-position: -48px -72px;
}

.fr-icons24x24-printreport {
  background-position: -72px -72px;
}

.fr-icons24x24-favorite {
  background-position: -96px -72px;
}

.fr-icons24x24-favorite-plus {
  background-position: -120px -72px;
}

.fr-icons24x24-favorite-minus {
  background-position: 0 -96px;
}

.fr-icons24x24-save-param {
  background-position: -24px -96px;
}

.fr-icons24x24-recent {
  background-position: -48px -96px;
}

.fr-icons24x24-setup {
  background-position: -72px -96px;
}

.fr-icons24x24-parameterSets {
  background-position: -96px -96px;
}
/*** IconGen - end automatically generated, do not hand modify ***/


/*** IconGen - start automatically generated, do not hand modify ***/
.fr-icons25x31 {
  width:25px;
  height:31px;
  margin:5px;
  display:inline-block;
  background-image:url('../images/icons25x31.png');
}

.fr-icons25x31-exportCSV {
  background-position: 0 0;
}

.fr-icons25x31-exportWord {
  background-position: -25px 0;
}

.fr-icons25x31-exportMHT {
  background-position: -50px 0;
}

.fr-icons25x31-exportPDF {
  background-position: 0 -31px;
}

.fr-icons25x31-exportTIFF {
  background-position: -25px -31px;
}

.fr-icons25x31-exportExcel {
  background-position: -50px -31px;
}

.fr-icons25x31-exportXML {
  background-position: 0 -62px;
}
/*** IconGen - end automatically generated, do not hand modify ***/


body {
  background: #d5e1f2;
}

.loginForm {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

fieldset {
  margin: 0px auto 0px auto;
  background: white;
  border: 1px solid #d7d7d7;
  box-shadow: 0px 0px 20px #c6d1e1;
}

fieldset input {
  border:1px solid #d8d7d7;
  box-shadow: 0px 0px 10px #f3f3f3 inset;
  color: #444444;
  font-family: sans-serif;
  font-weight: bold;
}

.fieldsetsize {
  width: 447px;
  height: 323px;
}

.logocontainer {
  display: table;
  margin: 50px auto 42.5px auto;
}

.logosize {
  /*width: 352px;*/
}

input.inputsize {
  width: 357px;
  height: 38px;
  font-size: 13pt;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

.usernamecontainer {
  display: table;
  margin: 12.5px auto;
}

.passwordcontainer {
  display: table;
  margin: 12.5px auto;
}

.logincontainer {
  display: table;
  margin: 20px auto;
}

input.loginsize {
  width: 230px;
  height: 36px;
  font: 15pt bold;
  padding: 0px;
  margin: 0px;
}

.login {
  border:1px solid #546681;
  box-shadow: none;
  color: #ffffff;
  font-family: sans-serif;
  background: #4e70b0; /* Old browsers */
  background: -moz-linear-gradient(top,  #4e70b0 0%, #5e96cf 0%, #4e70b0 100%, #5e96cf 100%, #5e96cf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e70b0), color-stop(0%,#5e96cf), color-stop(100%,#4e70b0), color-stop(100%,#5e96cf), color-stop(100%,#5e96cf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4e70b0 0%,#5e96cf 0%,#4e70b0 100%,#5e96cf 100%,#5e96cf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4e70b0 0%,#5e96cf 0%,#4e70b0 100%,#5e96cf 100%,#5e96cf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4e70b0 0%,#5e96cf 0%,#4e70b0 100%,#5e96cf 100%,#5e96cf 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4e70b0 0%,#5e96cf 0%,#4e70b0 100%,#5e96cf 100%,#5e96cf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e70b0', endColorstr='#5e96cf',GradientType=0 ); /* IE6-9 */
}

.login:hover {
  background: #4e70b0; /* Old browsers */
  background: -moz-linear-gradient(top,  #4e70b0 0%, #5086be 0%, #31549a 100%, #5e96cf 100%, #5e96cf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e70b0), color-stop(0%,#5086be), color-stop(100%,#31549a), color-stop(100%,#5e96cf), color-stop(100%,#5e96cf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4e70b0 0%,#5086be 0%,#31549a 100%,#5e96cf 100%,#5e96cf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4e70b0 0%,#5086be 0%,#31549a 100%,#5e96cf 100%,#5e96cf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4e70b0 0%,#5086be 0%,#31549a 100%,#5e96cf 100%,#5e96cf 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4e70b0 0%,#5086be 0%,#31549a 100%,#5e96cf 100%,#5e96cf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e70b0', endColorstr='#5e96cf',GradientType=0 ); /* IE6-9 */
}

/* The following sizes will be supported and are device agnostic */

/* (E.g., for phones, portrait) */
@media only screen and (max-width : 479px) {
.fieldsetsize {
  width: 259px;
  height: 187px;
}

.logocontainer {
  display: table;
  margin: 29px auto 24px auto;
}

.logosize {
  width: 204px;
}

input.inputsize {
  width: 207px;
  height: 22px;
  font-size: 8pt;
  padding: 0px 0px 0px 6px;
  margin: 0px;
}

.usernamecontainer {
  display: table;
  margin: 7px auto;
}

.passwordcontainer {
  display: table;
  margin: 7px auto;
}

.logincontainer {
  display: table;
  margin: 12px auto;
}

input.loginsize {
  width: 133px;
  height: 21px;
  font: 9pt bold;
  padding: 0px;
  margin: 0px;
}

}

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
.fieldsetsize {
  width: 259px;
  height: 187px;
}

.logocontainer {
  display: table;
  margin: 29px auto 24px auto;
}

.logosize {
  width: 204px;
}

input.inputsize {
  width: 207px;
  height: 22px;
  font-size: 8pt;
  padding: 0px 0px 0px 6px;
  margin: 0px;
}

.usernamecontainer {
  display: table;
  margin: 7px auto;
}

.passwordcontainer {
  display: table;
  margin: 7px auto;
}

.logincontainer {
  display: table;
  margin: 12px auto;
}

input.loginsize {
  width: 133px;
  height: 21px;
  font: 9pt bold;
  padding: 0px;
  margin: 0px;
}
}

.fr-messagebox { display: none; }

.fr-messagebox-innerpage { min-width: 200px; max-width: 400px; }

.fr-messagebox-title { height: 48px; vertical-align: middle; padding: 0 8px 0 8px; display: table-cell; }

.fr-messagebox-content { padding: 25px 8px 0px 8px; }

.fr-messagebox-msg { width: 100%; height: 100%; display: block; font-size: 13pt; color: #444444; }

.fr-messagebox-submit { min-width: 150px; padding: 0 8px 0 8px; margin-bottom: 11px; display: inline-block; }

/* Small toolbar (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-messagebox-innerpage { min-width: 200px; max-width: 260px; }
}

/* Medium toolbar (E.g., for phones, landscape) */
@media only screen and (min-width : 480px) and (max-width : 567px) {
  .fr-messagebox-innerpage { min-width: 200px; max-width: 320px; }
}

html,body {
  
  min-height: 100%;
  background-color: white;
  position: relative;
  padding: 0px;
  margin: 0px;
  border: 0px;
  height:100%;

}

* {
  /*padding: 0px;*/
  margin: 0px;
  border: 0px;
  z-index: 0;
}

table, td, tr {
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 0;
}

.fr-toolbase-toolcontainer { width: 36px; height: 36px; border-width: 0px; vertical-align: top; border-radius: 2px; display: inline-block; text-align: center; color: white; }
.fr-toolbase-selectcontainer { height: 100%; border: 0px; vertical-align: top; display: inline-block; }
.fr-toolbase-selectinner { height: 36px; vertical-align: middle; display: table-cell; }
  .fr-toolbase-selectinner select { margin: auto 0; font-size: 13pt; color: #666666; height: 26px; background-color: white; border: 1px solid #424242; box-shadow: 0px 0px 7px #545454 inset; }
.fr-toolbase-textcontainer { border-width: 0px; vertical-align: top; border-radius: 2px; margin: 1px; display: inline-block; text-align: center; color: white; }
.fr-toolbase-groupcontainer { position: relative; display: inline-block; }
.fr-toolbase-itemcontainer { border-top-width: 1px; border-top-style: groove; border-top-color: #858ea3; vertical-align: top; color: white; display: block; }
.fr-toolbase-item-text-container { margin: 5px; display: inline-block; }
.fr-toolbase-item-text { height: 31px; display: table-cell; vertical-align: middle; }
.fr-toolbase-disabled { opacity: 0.3; filter: alpha(opacity='30'); }
.fr-toolbase-hide-if-not-touch { /* Note: After the document is ready, this "display: none" will be removed if the device is a touch device.  */ display: none; }
.fr-toolbase-rightimage { float: right; }
.fr-toolbase-dropdown-container { display: none; position: absolute; z-index: 1; }
.fr-toolbase-dropdown { padding: 1px; background-color: #354468; border: 1px solid darkgray; }
.fr-toolbase-dropdown-item { display: block; border-top-width: 1px; border-top-color: lightblue; font-size: 13pt; color: #ffffff; text-align: left; }
.fr-toolbase-state { background-color: transparent; }
.fr-toolbase-persistent-active-state { background: #496b94; /* Old browsers */ background: -moz-linear-gradient(top, #496b94 0%, #354469 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#496b94), color-stop(100%,#354469)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #496b94 0%,#354469 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #496b94 0%,#354469 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #496b94 0%,#354469 100%); /* IE10+ */ background: linear-gradient(to bottom, #496b94 0%,#354469 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496b94', endColorstr='#354469',GradientType=0 ); /* IE6-9 */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .fr-toolbase-state:hover { background: #4f73a6; /* Old browsers */ background: -moz-linear-gradient(top, #4f73a6 0%, #32508a 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f73a6), color-stop(100%,#32508a)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4f73a6 0%,#32508a 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4f73a6 0%,#32508a 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4f73a6 0%,#32508a 100%); /* IE10+ */ background: linear-gradient(to bottom, #4f73a6 0%,#32508a 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f73a6', endColorstr='#32508a',GradientType=0 ); /* IE6-9 */ }
  .fr-toolbase-state:active { background: #496b94; /* Old browsers */ background: -moz-linear-gradient(top, #496b94 0%, #354469 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#496b94), color-stop(100%,#354469)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #496b94 0%,#354469 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #496b94 0%,#354469 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #496b94 0%,#354469 100%); /* IE10+ */ background: linear-gradient(to bottom, #496b94 0%,#354469 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496b94', endColorstr='#354469',GradientType=0 ); /* IE6-9 */ }
  .fr-toolbase-dropdown-item:hover { background-color: #316198; }
}
/* @media */


.fr-Explorer-background { background: #d5e1f2; }

.fr-report-explorer { /*background: rgb(87, 112, 138);*/ background: rgb(210,223,237); height: 100%; display: block; min-height: 200px; padding-bottom:60px; }

.fr-explorer-item { display: inline-block; margin: 20px; padding: 28px 28px 28px 28px; cursor: pointer; width: 200px; height: 250px; }


.fr-explorer-item-selected { border: 2px solid darkblue; }

.fr-explorer-caption { width: 200px; display: table-caption; margin-left: auto; margin-right: auto; }

.fr-explorer-item-title { text-align: center; font-size: 13pt; color: #212729; font-weight: 700; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; -ms-word-wrap: break-word; word-wrap: break-word; display: block; height:64px; overflow:hidden; }


.fr-explorer-item:hover { /*background: steelblue;*/ -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')";*/ /*user-select for IE8 overlaps with IE9*/ }

.fr-explorer-item-center { display: block; margin-left: auto; margin-right: auto; }

.fr-report-item-image-block { height: 100%; width: 100%; position: relative; }

.fr-report-item-image-base { height: 100%; width: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-position: center; }

.fr-report-item-outer-image { background-image: url(../../reportexplorer/Images/report_bkg.png); }

.fr-report-item-outer-image-selected { background-image: url(../../reportexplorer/Images/report_bkg.png); }

.fr-report-item-ear-image { background-image: url(../../reportexplorer/Images/report_ear.png); }

.fr-explorer-item-ear-selcted { background-image: url(../../reportexplorer/Images/report_ear_selected.png); }

.fr-report-item-inner-image { height: 170px; width: 125px; position: absolute; top: 40px; left: 25px; padding-left: 10px; padding-right: 10px; margin: 4px; }

.fr-explorer-folder { height: 100%; width: 100%; background-image: url(../../reportexplorer/Images/folder.png); background-repeat: no-repeat; background-position: center; }

.fr-explorer-folder-selected { height: 100%; width: 100%; background-image: url(../../reportexplorer/Images/folder_selected.png); background-repeat: no-repeat; background-position: center; }

.fr-rm-button-home, .fr-rm-button-fav, .fr-rm-button-recent, .fr-rm-button-setup { float: right; }

.fr-rm-button-fav { }

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
  /* Styles */
  .fr-explorer-item { margin-left: 100px; }
  .fr-explorer-item:hover { background: transparent; }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
  .fr-explorer-item:hover { background: transparent; }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .fr-explorer-item:hover { background: transparent; }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .fr-explorer-item:hover { background: transparent; }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
  .fr-explorer-item:hover { background: transparent; }
}

.fr-us-section { display: none; }

.fr-us-form { }

.fr-us-setting-container { height: 30px; width: 100%; text-align: left; display: table-cell; }

.fr-us-label { height: 20px; display: inline-block; }

.fr-us-checkbox { display: inline-block; margin: 0 6px 0 12px; }



.fr-mps-section { display: none; }

.fr-mps-form { }
  .fr-mps-form .fr-mps-action-button { width: 65px; margin: 10px 10px 10px 0; }
  .fr-mps-form [name='delete'] { float: right; }
  .fr-mps-form .fr-mps-add-id { height: 24px; font-size: 10pt; }
  .fr-mps-form .fr-mps-text-input { display: block; width: 156px; margin: auto 0; padding: 0 0 0 4px; vertical-align: middle; font-size: 13pt; color: #666; background-color: #fff; border: 1px solid #424242; box-shadow: 0 0 7px #545454 inset; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.fr-mps-main-table { }
  .fr-mps-main-table th { font-weight: bold; }
  .fr-mps-main-table td { border: 1px solid rgba(94, 150, 207, .2); height: 26px; }
  .fr-mps-main-table .fr-mps-name-header { width: 156px; }
  .fr-mps-main-table .fr-mps-odd-row { background: rgba(94, 150, 207, .1); }
  .fr-mps-main-table .fr-mps-property-header { width: 60px; }
  .fr-mps-main-table .fr-mps-error-span { display: inline; font-size: 10pt; }
  .fr-mps-main-table .fr-mps-error-position { display: inline; }
  .fr-mps-main-table .fr-mps-error { border-width: thin; border-color: red; }
.fr-nav-container { width: 100%; height: 350px; bottom: 0px; z-index: 3; background: #9bb4d5; /* Old browsers */ background: -moz-linear-gradient(top, #9bb4d5 0%, #8fa6cb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bb4d5), color-stop(100%,#8fa6cb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #9bb4d5 0%,#8fa6cb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #9bb4d5 0%,#8fa6cb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #9bb4d5 0%,#8fa6cb 100%); /* IE10+ */ background: linear-gradient(to bottom, #9bb4d5 0%,#8fa6cb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb4d5', endColorstr='#8fa6cb',GradientType=0 ); /* IE6-9 */ }

.fr-nav-spacer { height: 350px; }

ul.fr-nav-container { display: block; white-space: nowrap; vertical-align: top; z-index: -100; overflow-x: scroll; list-style-type: square; -webkit-overflow-scrolling: touch; padding: 0px; margin: 0px; border: 0px; }

.fr-nav-item { display: inline-block; vertical-align: top; width: 240px; max-height: 320px; padding: 6px 11px 22px 11px; margin: 5px 11px 0px 11px; }

.fr-nav-centertext { padding-bottom: 11px; text-align: center; font-size: 15pt; font-weight: bold; color: #313f5e; }

.fr-nav-page-thumb { width: 200px; max-height: 300px; margin-left: 15px; margin-right: 15px; border: 1px solid #0c587c; -webkit-box-shadow: 0px 0px 12px #798ca6; box-shadow: 0px 0px 12px #798ca6; }

.fr-nav-page-thumb-selected { border: 1px solid #e86d00; -webkit-box-shadow: 0px 0px 12px #6c7e97; box-shadow: 0px 0px 12px #6c7e97; }

.fr-nav-selected { border: 2px solid #e86d00; }

.fr-nav-li-spacer { display: inline-block; width: 0px; }

/* Smartphones  ----------- */
@media only screen and (max-height : 768px) {
  .fr-nav-container { width: 100%; height: 100%; background: #9bb4d5; /* Old browsers */ background: -moz-linear-gradient(top, #9bb4d5 0%, #8fa6cb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bb4d5), color-stop(100%,#8fa6cb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #9bb4d5 0%,#8fa6cb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #9bb4d5 0%,#8fa6cb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #9bb4d5 0%,#8fa6cb 100%); /* IE10+ */ background: linear-gradient(to bottom, #9bb4d5 0%,#8fa6cb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb4d5', endColorstr='#8fa6cb',GradientType=0 ); /* IE6-9 */ }
  .fr-nav-item { display: inline-block; vertical-align: top; width: 240px; max-height: 320px; padding: 10px 10px 10px 10px; margin-top: 100px; margin-right: 20px; }
  .fr-nav-li-spacer { display: inline-block; width: 30px; }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .fr-nav-page-thumb:hover { border: 1px solid #0c587c; -webkit-box-shadow: 0px 0px 12px #6c7e97; box-shadow: 0px 0px 12px #6c7e97; }
  .fr-nav-item:hover { background-color: rgba(232, 109, 0,.1); }
}
/* @media */



.fr-layout-docmapsection { position: absolute; top: 0; left: 0; z-index: 2; }

.fr-docmap-panel { vertical-align: top; height: 100%; display: inline-block; border-right: 1px groove lightblue; background-color: rgba(53, 68, 104, .75); }
.fr-docmap-item { width: 100%; min-width: 240px; cursor: pointer; margin-right: 6px; display: inline-block; vertical-align: middle; }
.fr-docmap-item-root { text-indent: 8px; }
.fr-docmap-parent-container { width: 100%; vertical-align: top; line-height: 24px; padding: 6px 0px; display: inline-block; color: #fff; font-size: 11pt; white-space: nowrap; overflow-x: hidden; background-color: #354468; border-top: 1px solid lightblue; }
.fr-docmap-item-container { border-top: 1px solid lightblue; vertical-align: top; line-height: 24px; text-indent: 4px; font-size: 10pt; display: block; background-color: #354468; font-weight: 400; color: #ffffff; /*color:#fff;
    background-color: #616975;*/ }
.fr-docmap-item-highlight { color: #fff; background-color: #316198; }
.fr-docmap-indent { display: inline; background-repeat: no-repeat; margin: 4px 4px 4px 10px; padding: 6px; background-position: center; cursor: pointer; }
.fr-docmap-icon { padding: 8px 16px; display: inline; margin: 4px 6px; cursor: pointer; vertical-align: central; background-position: center; background-repeat: no-repeat; }
.fr-docmap-icon-down { background-image: url(../Images/toolpane/sq_br_down_icon16.png); }
.fr-docmap-icon-up { background-image: url(../Images/toolpane/sq_br_up_icon16.png); }

.fr-param-container { min-width: 270px; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; }
.fr-param-panel { margin: 4px 0px 0px 0px; width: 100%; height: 100%; }
.fr-param-element-border { margin: 10px 6px; display: inline-block; }
.fr-param, .fr-param-client { margin: 4px; width: 170px; font-size: 13px; padding: 4px; border: solid 1px #1F98C7; }
.fr-param-dropdown-textbox { width: 150px; padding-right: 24px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; }
.fr-param-item-container { margin-bottom: 5px; }
.fr-param-element-container { display: inline-block; position: relative; }
.fr-param-label { margin: 4px; display: inline-block; }
.fr-param-radio { width: 36px; }
.fr-param-radio-label { color: #ffffff; }
.fr-param-checkbox { margin-left: 5px; margin-right: 2px; padding: 2px; }
.fr-param-select { width: 180px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.fr-param-submit-container { display: inline-block; }
.fr-param-cancel-container { display: inline-block; }
.fr-param-viewreport { width: 144px; height: 39px; margin-left: 10px; text-align: center; border: 1px solid #8c9eba; cursor: pointer; font-size: 13pt; color: #ffffff; background: #5e96cf; /* Old browsers */ background: -moz-linear-gradient(top, #5e96cf 0%, #4e70b0 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e96cf), color-stop(100%,#4e70b0)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #5e96cf 0%,#4e70b0 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #5e96cf 0%,#4e70b0 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #5e96cf 0%,#4e70b0 100%); /* IE10+ */ background: linear-gradient(to bottom, #5e96cf 0%,#4e70b0 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e96cf', endColorstr='#4e70b0',GradientType=0 ); /* IE6-9 */ }
.fr-param-cancel { width: 72px; height: 39px; margin-left: 10px; text-align: center; cursor: pointer; font-size: 13pt; color: #ffffff; background-color: transparent; }
.fr-param-enable { background-color: rgb(255,255,255); color: rgb(0,0,0); }
.fr-param-disable { background-color: rgb(222,231,242); color: rgb(84,84,84); }
.fr-param-dropdown { padding: 4px; margin: 0px 4px; border: 1px solid DarkGray; color: black; overflow: auto; background-color: window; position: absolute; z-index: 11; display: none; max-height: 180px; }
  .fr-param-dropdown input[type="checkbox"] { padding: 5px; font-size: 1em; margin: 5px 0px 6px 0px; }
  .fr-param-dropdown Label { margin: 4px; }
.fr-param-dropdown-input { margin-bottom: 0px; }
.fr-param-dropdown-icon { height: 18px; width: 18px; background-image: url(../Images/OpenDropDown.png); background-repeat: no-repeat; }
.fr-param-dropdown-iconcontainer { position: absolute; right: 8px; top: 8px; }
.fr-param-dropdown-textarea { width: 95%; height: 80px; overflow: auto; padding: 2px; }
.fr-param-checkbox-container { display: inline-block; width: 176px; margin: 2px 4px; padding: 1px; }
.ui-datepicker-trigger { vertical-align: middle; margin-bottom: 4px; }
.fr-param-dropdown-img { vertical-align: middle; margin-bottom: 4px; }
.fr-param-error { border-width: thin; border-color: red; }
.fr-param-error-placeholder { margin-left: 4px; }
/*this is for jquery validate default class style, seems static*/
.error { color: #E80C4D; }

.fr-print-section { display: none; }

.fr-print-form { }

.fr-print-options-label { width: 100%; margin: 0 11px 16px 0; display: block; }

.fr-print-margins-label { width: 100%; margin: 12px 0 16px 0; display: block; }

.fr-print-settings-pair-widget { vertical-align: top; display: inline-block; }

.fr-print-form .fr-print-settings { display: inline-table; vertical-align: top; padding: 0; margin: 0 16px 0 0; }

.fr-print-settings td { padding-bottom: 10px; vertical-align: top; }

.fr-print-orientation-container { display: inline-block; margin-right: 11px; }

.fr-print-landscape { width: 44px; height: 31px; display: inline-block; }

.fr-print-landscape-icon { background-image: url(../images/print_landscape.png); }

.fr-print-landscape-icon-active { background-image: url(../images/print_landscape_1.png); }

.fr-print-portrait { width: 31px; height: 37px; margin-right: 14px; display: inline-block; }

.fr-print-portrait-icon { background-image: url(../images/print_portrait.png); }

.fr-print-portrait-icon-active { background-image: url(../images/print_portrait_1.png); }

.fr-print-setting { margin-bottom: 10px; }

.fr-print-label { height: 20px; margin: 0 5px 0px 0; display: inline-block; }

.fr-print-text { width: 50px; height: 20px; font-size: 13pt; font-weight: bold; color: #666666; text-align: right; padding: 0 6px 0 0; border: 1px solid #c6d1e1; }

.fr-print-error-span { margin: 2px 0 0 4px; text-align: right; font-size: 10pt; }

.fr-print-error-position { display: inline-block; }

.fr-print-error { border-width: thin; border-color: red; }


.fr-print-unit-label { width: 20px; font-size: 10pt; color: #999999; margin-left: 4px; }


.fr-render-sort-unsorted { background-image: url('../../reportviewer/Images/NotSorted.gif'); display: inline; background-repeat: no-repeat; padding: 2px 7px 2px 7px; background-position: center; cursor: pointer; float: right; }

.fr-render-sort-descending { background-image: url(../../reportviewer/Images/SortDecending.gif); display: inline; background-repeat: no-repeat; padding: 2px 7px 2px 7px; background-position: center; cursor: pointer; float: right; }

.fr-render-sort-ascending { background-image: url(../../reportviewer/Images/SortAccending.gif); display: inline; background-repeat: no-repeat; padding: 2px 7px 2px 7px; background-position: center; cursor: pointer; float: right; }

.fr-rotate-90 { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.fr-rotate-270 { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }
.fr-render-error-details { cursor: pointer; color: blue; }

.fr-render-drilldown-collapse { background-image: url('../../reportviewer/Images/Drilldown_Collapse.gif'); display: inline; background-repeat: no-repeat; padding: 2px 7px 2px 7px; background-position: center; cursor: pointer; float: left; }

.fr-render-drilldown-expand { background-image: url('../../reportviewer/Images/Drilldown_Expand.gif'); display: inline; background-repeat: no-repeat; padding: 2px 7px 2px 7px; background-position: center; cursor: pointer; float: left; }

.fr-render-list-circle { list-style-type: circle; }
.fr-render-list-square { list-style-type: square; }
.fr-render-list-disc { list-style-type: disc; }
.fr-render-list-decimal { list-style-type: decimal; }
.fr-render-list-lower-roman { list-style-type: lower-roman; }
.fr-render-list-lower-latin { list-style-type: lower-latin; }


.fr-render-error { margin: 4px; left: 10px; }

  .fr-render-error h3, h4 { color: red; font-weight: bold; }

/*.fr-render-find-keyword
{
    color:red;
}*/

.fr-render-find-highlight { background-color: Highlight; color: HighlightText; }
.fr-render-bglayer { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; }
.fr-render-error-license { margin: 16px 8px; width: 100%; position: absolute; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.fr-render-error-license-title { margin: 0px 4px; font-size: 22px; padding: 4px; color: lightslategray; }
.fr-render-error-license-content { font-size: 14px; margin: 0px 4px; padding: 4px; color: black; }
.fr-render-error-license-link { width: 200px; margin: 8px; padding: 6px 0px 6px 18px; }
.fr-render-error-license-link a { text-decoration: none; color: white; font-size: 1.2em; }

.fr-report-container {
  position:relative;
  width:100%;
}
.fr-report-areacontainer {
    display:table-cell; 
}
.fr-report-container-translucent
{
    opacity:0.5;
    filter:alpha(opacity=50);
}
.fr-report-loading-indicator  {
  border: solid 2px #86A5AD;
  background: white url(../../reportviewer/Images/ajax-loader1.gif) no-repeat 10px 10px;
  width: 148px; 
  height: 28px; 
  position: absolute; 
  margin-left: auto;
  margin-right:auto;
  padding: 10px 10px 10px 50px;
  text-align: left; 
  line-height: 27px; 
  font-weight: bold; 
  z-index: 2010;
  display:none;
}

.fr-report-center { 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.fr-report-centertext {
  text-align:center;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
    /* Styles */


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
 
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
 
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
.fr-ezviewer-container {
  display:block; 
  height: 100%; 
  position: relative; 
  overflow: hidden;
}

.fr-ezviewer-leftpane {
  display: none;
  width: 280px; 
  height: 100%; 
  position: absolute; 
  left: 0px; 
  top: 0px;
  z-index: 3;
}

.fr-ezviewer-rightpane {
  display: none;
  width: 280px; 
  height: 100%; 
  position: absolute; 
  right: 0px; 
  top: 0px;
  z-index: 3;
}

.fr-ezviewer-toppane {
    width:100%; 
    position: absolute; 
    top: 0px; 
    z-index: 2
}

.fr-ezviewer-bottompane {
    width:100%; 
    height: 150px; 
    position: absolute; 
    bottom: 0px;
    z-index: 1;
}

.fr-ezviewer-scrollable {
    display:block; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    overflow: auto;
}
.fr-toolbar { margin: 0; padding: 0; width: 100%; height: 38px; overflow: hidden; background: #527db4; /* Old browsers */ background: -moz-linear-gradient(top, #527db4 0%, #526ea2 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#527db4), color-stop(100%,#526ea2)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #527db4 0%,#526ea2 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #527db4 0%,#526ea2 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #527db4 0%,#526ea2 100%); /* IE10+ */ background: linear-gradient(to bottom, #527db4 0%,#526ea2 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527db4', endColorstr='#526ea2',GradientType=0 ); /* IE6-9 */ }

.fr-toolbar input[type=number]::-webkit-inner-spin-button,
.fr-toolbar input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.fr-toolbar input { font-size: 13pt; color: #666666; height: 22px; background-color: white; border: 1px solid #424242; -webkit-appearance: none; box-shadow: 0px 0px 7px #545454 inset; }

.fr-toolbar-slide { margin: 0px; padding: 0px; width: 100%; height: 38px; background: #4971a5; /* Old browsers */ background: -moz-linear-gradient(top, #4971a5 0%, #2f4a7d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4971a5), color-stop(100%,#2f4a7d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4971a5 0%,#2f4a7d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4971a5 0%,#2f4a7d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4971a5 0%,#2f4a7d 100%); /* IE10+ */ background: linear-gradient(to bottom, #4971a5 0%,#2f4a7d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4971a5', endColorstr='#2f4a7d',GradientType=0 ); /* IE6-9 */ }

.fr-toolbar-reportpage-textbox { width: 32px; text-align: right; padding-right: 4px; }
.fr-toolbar-keyword-textbox { width: 94px; padding-left: 4px; padding-right: 20px; }
.fr-rtb-select-set { width: 156px; padding-left: 4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.fr-rtb-select-set option { }

.fr-toolbar-pageOf-button { width: 15px; color: white; line-height: 36px; text-align: center; }
.fr-toolbar-numPages-button { min-width: 10mm; max-width: 15mm; padding-left: 4px; color: white; line-height: 36px; }
.fr-toolbar-sparator-text { color: white; line-height: 36px; text-align: center; }

.fr-toolbar-find-button { position: absolute; right: 4px; top: 4px; }
.fr-toolbar-search-icon { height: 16px; width: 16px; background-image: url(../Images/search.png); background-repeat: no-repeat; }

.fr-button-favorite, .fr-button-recent, .fr-button-home, .fr-toolbar-paramarea-button { float: right; }

/* The following toolbar sizes will be supported and are device agnostic */

/* Small toolbar (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-toolbar .fr-toolbar-hidden-on-small { display: none; }
  .fr-toolbar .fr-toolbar-reportpage-textbox { margin-left: 45px; }
}

/* Medium toolbar (E.g., for phones, landscape) */
@media only screen and (min-width : 480px) and (max-width : 567px) {
  .fr-toolbar .fr-toolbar-hidden-on-medium { display: none; }
}

/* Large toolbar (E.g., for larger phones, landscape) */
@media only screen and (min-width : 568px) and (max-width : 768px) {
  .fr-toolbar .fr-toolbar-hidden-on-large { display: none; }
}

/* Full toolbar (I.e., width of greater than or equal to 768 devices) */
@media only screen and (min-width : 769px) {
  .fr-toolbar .fr-toolbar-menu-button { display: none; }
}

.fr-toolpane {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fr-toolpane .fr-toolbase-itemcontainer {
  border-top-width: 1px;
  border-top-style: groove;
  border-top-color: lightblue;
  padding: 12px;
  vertical-align: top;
  color: white;
  display: block;
}

.fr-toolpane-dropdown-group-container {

  background-color: #d5e1f2;
}

.fr-toolpane-dropdown-itemcontainer {
  border-top-width: 1px;
  border-top-style: groove;
  border-top-color: lightblue;
  padding: 11px;
  vertical-align: top;
  color: white;
  display: block;
}

.fr-toolpane .fr-toolbase-item-text-container {
  margin: 5px;
  display: inline-block;
}

.fr-toolpane .fr-toolbase-item-text {
  height: 24px;
  padding-left: 7px;
  display: table-cell;
  vertical-align: middle;
  font-size: 13pt;
  color: #ffffff;
}

.fr-toolpane-dropdown-item-text {
  height: 31px;
  padding-left: 7px;
  display: table-cell;
  vertical-align: middle;
  font-size: 13pt;
  color: #456191;
}

.fr-toolpane .fr-toolbase-toolcontainer {
  border-width: 0px;
  vertical-align: top;
  border-radius: 2px;
  color: white;
  display: inline-block;
}

.fr-toolpane .fr-toolbase-groupcontainer {
  position: relative;
  border-top-width: 1px;
  border-top-style: groove;
  border-top-color: lightblue;
  vertical-align: top;
  padding: 12px 1px 12px 5px;
  color: white;
  display: block;
}

.fr-toolpane-icon16x16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
}

.fr-toolpane-down-icon {
  background-image: url(../Images/toolpane/sq_br_down_icon16.png);
}

.fr-toolpane-up-icon {
  background-image: url(../Images/toolpane/sq_br_up_icon16.png);
}

.fr-item-spacer {
  height: 18px;
}

.fr-toolpane input[type=number]::-webkit-inner-spin-button,
.fr-toolpane input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fr-toolpane input {
  font-size: 13pt;
  color: #666666;
  height: 22px;
  background-color: white;
  border: 1px solid #424242;
  -webkit-appearance: none;
  box-shadow: 0px 0px 7px #545454 inset;
}

.fr-item-textbox-reportpage {
  width: 32px;
  text-align: right;
  padding-right: 4px;
}

.fr-item-textbox-keyword {
  width: 94px;
  padding-left: 4px;
  padding-right: 20px;
}

.fr-item-find-composite-group {
  display: inline-block;
  position: relative;
  padding-left: 12px;
}

.fr-item-find {
  position: absolute;
  right: 4px;
  top: 4px;
}

.fr-item-search-icon {
  height: 16px;
  width: 16px;
  background-image: url(../Images/search.png);
  background-repeat: no-repeat;
}

.fr-item-findgroup {
  border-bottom-width: 1px;
  border-bottom-style: groove;
  border-bottom-color: lightblue;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .fr-toolpane-dropdown-itemcontainer:hover {
    background-color: #bdcadd;
  }
}  /* @media */

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .fr-item-exportXML, .fr-item-exportMHTML {
    display: none;
  }
}
/* @media */

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .fr-item-exportXML, .fr-item-exportMHTML {
    display: none;
  }
}
/* @media */

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  .fr-item-exportXML, .fr-item-exportMHTML {
    display: none;
  }
}
/* @media */

