<div class="fr-toolbar" id="ViewerToolbar">
<a href="#"><div class="fr-buttonicon fr-button-home"/></a>
<div class="fr-buttonicon fr-button-nav"/>
<div class="fr-buttonicon fr-button-paramarea"/>
<div class="fr-buttonicon fr-button-reportback"/>
<div class="fr-buttonicon fr-button-refresh"/>
<div class="fr-buttonicon fr-button-firstpage"/>
<div class="fr-buttonicon fr-button-prev"/>
<input class="fr-textbox-reportpage" />
<div class="fr-buttonicon fr-button-next"/>
<div class="fr-buttonicon fr-button-lastpage"/>
</div>
