@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
  <h1 style="text-align: center;"><strong>Publish-ForerunnerRDLExt</strong></h1>
<h2><strong>Synopsis</strong></h2>
<p style="margin-left: 40px;">Publishes the RDL Extensions for one or all report(s) from the given report project file (-p)</p>
<h2><strong>Syntax</strong></h2>
<span style="margin-left: 40px;">Publish-ForerunnerRDLExt [-ReportPath &lt;String&gt;] [-AllReportProperties] [-ProjectFileName &lt;String&gt;] [-ConfigurationName &lt;String&gt;] [-SharePointHost &lt;String&gt;] [-PromptForUsername] [&lt;CommonParameters&gt;]

</span>
<h2><strong>Description</strong></h2>
<p style="margin-left: 40px;">Publish-ForerunnerRDLExt is designed to work in two environments:<br />
<br />
- As an &quot;External Tool&quot; inside of visual Studio<br />
- As a normal PowerShell command<br />
<br />
In either mode Publish-ForerunnerRDLExt will use the TargetServerURL and TargetFolder properties from the given report project (-p) and look for custom report property named &;39;ForerunnerRDLExt. If it finds the ForerunnerRDLExt property it will publish the value to the deployed report. In this way the RDL Extension can be associated with the report file and be published directly from the report file itself.<br />
<br />
To install Publish-ForerunnerRDLExt as a Visual Studio &quot;External Tool&quot; follow the following steps:<br />
<br />
- Add a command to your $profile which imports Publish-Extension as follows:<br />
  - Import-Module &quot;C:\Program Files (x86)\Forerunner\MobilizerV3\Config\PublishExtension.dll&quot;<br />
- In Visual Studio do the following<br />
-  Open the &quot;Tools&quot; -&gt; &quot;External Tools...&quot; dialog<br />
-  Select the &quot;Add&quot; button<br />
-  Set the tool values as follows:<br />
-&nbsp;&nbsp;&nbsp;&nbsp;Title: Publish RDL Extensions<br />
-&nbsp;&nbsp;&nbsp;&nbsp;Command: PowerShell.exe<br />
-&nbsp;&nbsp;&nbsp;&nbsp;Arguments: -command &quot;Publish-ForerunnerRDLExt -Verbose -p $(ProjectDir)$(ProjectFileName)&quot;<br />
-&nbsp;&nbsp;&nbsp;&nbsp;Check the &quot;Use Output window&quot; check box<br />
-  Select the &quot;Ok&quot; button<br />
<br />
You are now ready to go. You can select the new &quot;Publish RDL Extensions&quot; in the &quot;Tools&quot; menu and your RDLExtension will be published.<br />
<br />
</p>
<h2><strong>Parameters</strong></h2>
<h3><strong>-ReportPath</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">The filename and extension of the report. If this parameter is omitted, all report RDL extensions will be published.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ProjectFileName</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Fully qualified path to the report project file.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ConfigurationName</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">The project configuration to publish.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>DEBUG</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-SharePointHost</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">URL to the SharePoint host if the host is not a Native SSRS installation</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-PromptForUsername</strong> <em style="font-weight: 100;">&lt;SwitchParameter&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Put this switch on the command line if you need to be prompted for the username and password</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-AllReportProperties</strong> <em style="font-weight: 100;">&lt;SwitchParameter&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Publishes all custom report properties not only the ForerunnerRDLExt property.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3>&lt;CommonParameters&gt;</h3>
<p style="margin-left: 40px;">This cmdlet supports the common parameters: Verbose, Debug,<br />
ErrorAction, ErrorVariable, WarningAction, WarningVariable,<br />
OutBuffer, PipelineVariable, and OutVariable. For more information, see<br />
about_CommonParameters (<a href="http://go.microsoft.com/fwlink/?LinkID=113216">http://go.microsoft.com/fwlink/?LinkID=113216</a>).</p>
<h2><strong>Related links</strong></h2>


}
