@{
    Layout = "~/Views/Shared/_SampleDetailLayout.cshtml";
}

@section detail {
<h1 style="text-align: center;"><strong>Set-FRConfig</strong></h1>
<h2><strong>Synopsis</strong></h2>
<p style="margin-left: 40px;">Configures the environment for the Forerunner SDK.</p>
<h2><strong>Syntax</strong></h2>
<span style="margin-left: 40px;">Set-FRConfig [-LicenseKey &lt;String&gt;] [-IsNative &lt;String&gt;] [-SharePointHost &lt;String&gt;] [-DefaultUserDomain &lt;String&gt;] [-ReportServerWSUrl &lt;String&gt;] [-ReportServerDataSource &lt;String&gt;] [-UseIntegratedSecurityForSQL &lt;String&gt;] [-ImpersonateCaller &lt;String&gt;] [-UseMobilizerDB &lt;String&gt;] [-SeperateDB &lt;String&gt;] [-ReportServerDB &lt;String&gt;] [-ReportServerDBUser &lt;String&gt;] [-ReportServerDBPWD &lt;SecureString&gt;] [-ReportServerDBDomain &lt;String&gt;] [-ReportServerTimeout &lt;String&gt;] [-IgnoreSSLErrors &lt;String&gt;] [-QueueThumbnails &lt;String&gt;] [-MobilizerSettingPath &lt;String&gt;] [-VersionPath &lt;String&gt;] [-SkipLicenseCheck] [-ProjectName &lt;String&gt;] [-WebConfigPath &lt;String&gt;] [&lt;CommonParameters&gt;]

</span>
<h2><strong>Description</strong></h2>
<p style="margin-left: 40px;">The Forerunner SDK stores application settings in the web.config file. You can edit these settings directly in web.config. <br />
Additionally you need to activate a license in order to view reports. As well as initialize the Forerunner SDK database<br />
schema.<br />
<br />
Set-FrConfig will do the following:<br />
<br />
* Test the connection settings<br />
* Create or update Forerunner SDK specific web.config settings<br />
* Activate the license register for a free trial<br />
* Create or update the Forerunner SDK database schema<br />
* Check the .Net Target Framework<br />
<br />
You can run Set-FRConfig without any parameters and it will prompt you for the minimum required<br />
set of parameters.</p>
<h2><strong>Parameters</strong></h2>
<h3><strong>-LicenseKey</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Activation License Key</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-IsNative</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Is Native SSRS or Power Point</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-SharePointHost</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">URL of the Share point host. Only applicable if IsNative = &;39;false&;39;</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-DefaultUserDomain</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Reporting Service default user login domain</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerWSUrl</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Reporting Serivce, web service URL</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>http://localhost/ReportServer </td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerDataSource</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Reporting Server Data Source</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>.</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-UseIntegratedSecurityForSQL</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Use integrated SQL security (true = domain, false = SQL)</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerDB</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Report server Database name</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>ReportServer</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerDBUser</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Database configuration user name</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerDBPWD</strong> <em style="font-weight: 100;">&lt;SecureString&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Database configuration password</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerDBDomain</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Report server database domain</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ReportServerTimeout</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Report server timeout (milliseconds)</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>100000</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-IgnoreSSLErrors</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Ignore SSL errors</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>true</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-QueueThumbnails</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Queue thumbnails</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-MobilizerSettingPath</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Path to the Mobilizer Settings file</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>Custom\MobilizerSettings.txt</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-VersionPath</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Path to the build version file</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>Forerunner\version.txt</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-SkipProcessing</strong> <em style="font-weight: 100;">&lt;SwitchParameter&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Skips all configuration processing</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ResetPassword</strong> <em style="font-weight: 100;">&lt;SwitchParameter&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Forces a prompt for the ReportServerDBPWD value</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ProjectName</strong> <em style="font-weight: 100;">&lt;SwitchParameter&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Explicitly give the project name. Helpful when more than one project is in the solution.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ProjectName</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Explicitly give the project name. Helpful when more than one project is in the solution.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-WebConfigPath</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Explicitly set the path of the Web.config file. This enables you to configure Mobilizer with the set-FRConfig command.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-UseMobilizerDB</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Use the Mobilizer database. The enables all the extended Mobilizer functionality.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-SeperateDB</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Setting this flag will enable you to use a separate DB for Mobilizer.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-SkipLicenseCheck</strong> <em style="font-weight: 100;">&lt;SwitchParameter&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Causes Set-FRConfig to skip the license check processing</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>off</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3><strong>-ImpersonateCaller</strong> <em style="font-weight: 100;">&lt;String&gt;</em></h3>
<p style="margin-left: 40px; text-align: left;">Impersonate the logged in user. This setting is needed sometimes to get IIS to properly handle windows authentication.</p>
<table border="1" style="margin-left: 40px;">
	<tbody>
		<tr>
			<td>Required?</td>
			<td>False</td>
		</tr>
		<tr>
			<td>Position?</td>
			<td>named</td>
		</tr>
		<tr>
			<td>Default value</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept pipeline input?</td>
			<td>false</td>
		</tr>
		<tr>
			<td>Accept wildcard characters?</td>
			<td>False</td>
		</tr>
	</tbody>
</table>
<h3>&lt;CommonParameters&gt;</h3>
<p style="margin-left: 40px;">This cmdlet supports the common parameters: Verbose, Debug,<br />
ErrorAction, ErrorVariable, WarningAction, WarningVariable,<br />
OutBuffer, PipelineVariable, and OutVariable. For more information, see<br />
about_CommonParameters (<a href="http://go.microsoft.com/fwlink/?LinkID=113216">http://go.microsoft.com/fwlink/?LinkID=113216</a>).</p>
<h2><strong>Related links</strong></h2>
<p style="margin-left: 40px;">
	Forerunner Software Home Page	<a href="https://www.forerunnersw.com/">https://www.forerunnersw.com/</a><br />
	Developers Support Page	<a href="https://forerunnersw.com/developers">https://forerunnersw.com/developers</a><br />
</p>
}
