.fr-sub-form {min-width: 200px; min-height: 300px;}
.fr-sub-list {list-style-type: none; border:0px; margin:0px;padding:10px;}
.fr-sub-listitem {display: inline-block; border-bottom: 1px solid #BBBBBB; width: 100%;}
.fr-sub-icon18x18 {  width:18px; height:18px; margin:5px; display:inline-block;}
.fr-sub-delete-icon { float: right; background-image:url(../images/DeleteSubscription.png); }
.fr-sub-edit-icon { float: right; background-image:url(../images/EditSubscription.png); }
.fr-email-form { padding-right: 15px;}
.fr-email-table table, td, tr{ padding: 5px;}
.fr-email-description { width: 100%; border: 0px; float: left; }
.fr-email-to { width: 100%; border: 0px; float: left; }
.fr-email-subject { width: 100%; border: 0px; }
.fr-email-comment{ width: 100%; height: 5em; border: 0px; resize:none;}
.fr-email-renderformat { width: 200px; }
.fr-email-schedule { width: 200px;}
.fr-email-submit-id {display: table; margin: 10px auto;}
.fr-emailsubscription-section { display: none; }
.fr-managesubscription-section {display:none; }