.fr-sub-form {min-width: 200px; min-height: 300px;}
.fr-sub-list {list-style-type: none; border:0px; margin:0px;padding:10px;}
.fr-sub-descr{ max-width:300px;white-space: nowrap; overflow:hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;text-overflow: ellipsis;text-overflow:ellipsis;}
.fr-sub-listitem {display: inline-block; border-bottom: 1px solid #BBBBBB; width:100%; }
.fr-sub-icon18x18 {  width:18px; height:18px; margin:5px; display:inline-block;}
.fr-sub-delete-icon { float: right; background-image:url(../images/DeleteSubscription.png); cursor: pointer; }
.fr-sub-edit-icon { float: right; background-image:url(../images/EditSubscription.png); cursor: pointer; }
.fr-email-form { padding-right: 15px; }
.fr-email-table table, .fr-email-table td, .fr-email-table tr{ padding: 5px;}
.fr-email-description { width: 100%; border: 0px; float: left; }
.fr-email-to { width: 100%; border: 0px; float: left; }
.fr-email-cc { width: 100%; border: 0px; float: left; }
.fr-email-bcc { width: 100%; border: 0px; float: left; }
.fr-email-replyTo { width: 100%; border: 0px; float: left; }
.fr-email-to:disabled {background: transparent; color: grey;}
.fr-email-subject { width: 100%; border: 0px; }
.fr-email-comment{ width: 100%; height: 5em; border: 0px; resize:none;}
.fr-email-renderformat { width: 200px; }
.fr-email-schedule { width: 200px;}
.fr-email-submit-container { display: table; margin: 10px auto;}
.fr-core-dialog-header .fr-email-create-id {background-image:url(../images/NewEmail_btn.png); cursor: pointer; filter: none;}
.fr-email-submit-id {display: inline-block;}
.fr-email-delete-id {display: inline-block;}
.fr-emailsubscription-section { display: none; }
.fr-managesubscription-section {display:none; }