.fr-nav-container {
    width:100%;
    color:#CCC;
    background:white;
    height: 430px;
    position: fixed;
    bottom: 0px; 
}

.fr-nav-spacer {
    height: 430px;
}

ul.fr-nav-container {
  display: block;
  background:#333;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  z-index: -100;
  width: device-width;
  overflow-x: scroll;
  list-style-type: square;
  -webkit-overflow-scrolling: touch;
}

ul.fr-nav-container li{
  display: table-cell;
  position: relative;
  vertical-align:top;
  width: 200px;
  height: 100%; 
  padding: 10px;
  border: 0;
}

.fr-nav-page-thumb {
  width: 300px;
  max-height: 400px;
  margin-left: 15px; 
  margin-right: 15px;  
}

ul.fr-nav-container li:hover {
  background-color:darkgrey;
}

ul.fr-nav-container li:active {
  background-color:darkslategrey;
}

.fr-nav-selected {
  background-color:midnightblue;
}