.fr-paramset-menu {
    padding: 0 4px;
    margin-bottom: 4px;
}
.fr-paramset-menu .fr-icons24x24 {
    margin: 1px;
}
.fr-paramset-menu .fr-paramset-btn,
.fr-paramset-menu .fr-paramset-dp {
    display: inline-block;
    vertical-align: top;
}
.fr-paramset-menu .fr-paramset-btn {
    cursor: pointer;
    margin-right:6px;
    margin-top: 2px;
}
.fr-paramset-menu .fr-paramset-btn.fr-paramset-disabled {
    cursor: default;
    opacity: 0.3;
    filter: alpha(opacity='30');
}
.fr-paramset-menu .fr-rtb-select-set {
    margin-top: 2px;
    height: 26px;
    width: 106px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fff;
    border: 1px solid #424242;
    -moz-box-shadow: 0 0 7px #545454 inset;
    -webkit-box-shadow: 0 0 7px #545454 inset;
    box-shadow: 0 0 7px #545454 inset;
}