.fr-rdl-section { display: none; }
.fr-rdl-form {width:480px; }
.fr-rdl-label { width: 400px; margin: 0 11px 16px 0; display: block; }
.fr-rdl-text { width: 400px; margin:  0 11px 16px 11px;border:1px solid black; display: block; } 