body {
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
}
.fr-report-container {
  position:relative;
  width:100%;
}
.fr-report-areacontainer {
    display:table-cell; 
}

/*.fr-report-toplevel-table {
  width:100%;
}
.buttonicon {
  width:30px;
  height:30px;
  background-color:transparent;
  border-width:0px;
}*/

input, textarea, select {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

input[type="checkbox"] {
    background: none repeat scroll 0 0 transparent;
    border: inherit;
    width: auto;
}

input[type="submit"], input[type="button"], button
{
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"], td input[type="button"], td button
{
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

.fr-report-container ul.circle {
    list-style-type:circle;
}
.fr-report-container ul.square {
    list-style-type:square;
}
.fr-report-container ul.disc{
    list-style-type:disc;
}
.fr-report-container ol.decimal{
    list-style-type:decimal;
}
.fr-report-container ol.lower-roman {
    list-style-type:lower-roman;
}
.fr-report-container ol.lower-latin {
    list-style-type:lower-latin;
}

.fr-report-loading-indicator  {
  border: solid 2px #86A5AD;
  background: white url(../../reportviewer/Images/ajax-loader1.gif) no-repeat 10px 10px;
  width: 148px; 
  height: 28px; 
  position: absolute; 
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  padding: 10px 10px 10px 50px; 
  text-align: left; 
  line-height: 27px; 
  font-weight: bold; 
  z-index: 2010;
  display:none;
}

.fr-report-center { 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.fr-report-centertext {
  text-align:center;
}

/*
label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}
.toolbar {    
  background-color: transparent;
  width:100%;
  z-index:2001;
  float: left;
  clear:none;
}
.toolbartextbox {
  min-width:10mm;
  max-width:15mm;
  text-align:right;
}*/

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
    /* Styles */


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
 
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
 
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}