.fr-docmap-background {
    background: rgb(176,192,210); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNyUiIHN0b3AtY29sb3I9IiNiMGMwZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGFlM2VhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(176,192,210,1) 17%, rgba(218,227,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(17%,rgba(176,192,210,1)), color-stop(100%,rgba(218,227,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0c0d2', endColorstr='#dae3ea',GradientType=1 ); /* IE6-8 */
}

.fr-docmap-panel
{
    vertical-align:top;
    height:100%;
    margin-top:-18px;
    border-bottom:1px groove darkgray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fr-docmap-item
{
    cursor:pointer;
    text-decoration:none;
    vertical-align:middle;
}
.fr-docmap-parent-container
{
    border-top:1px groove darkgray;
    vertical-align:top;
    line-height:26px;    
    display:block;
    color:#fff;
    font-size:11pt;
    background-color: #616975;
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;    
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.fr-docmap-item-container
{
    border-top: 1px solid #efeff0;
    vertical-align: top;
    line-height: 24px;
    text-indent:4px;
    font-size:10pt;
    display: block;
    background:#fff;    
    font-weight:400;
    color:#32373D;
}
.fr-docmap-item-highlight
{
    background-color:darkgray;
    color:#fff;
}
.fr-docmap-indent
{
    display:inline;
    background-repeat: no-repeat; 
    margin:4px 4px 4px 10px;
    padding:6px;
    background-position: center;
    cursor:pointer;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
   
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .fr-docmap-panel-layout
    {
        width: 50%;
        border-right: 1px groove darkgray;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .fr-docmap-panel-layout
    {
        width: 50%;
        border-right: 1px groove darkgray;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .fr-docmap-panel-layout
    {
        width: 25%;
        border-right: 1px groove darkgray;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .fr-docmap-panel-layout
    {
        width: 20%;
        border-right: 1px groove darkgray;
    }
}

/* iPhone 4 / Ipad----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    .fr-docmap-panel-layout
    {
        width: 100%;
    }
}
