.fr-layout-printsection {
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 5;
  display: none;
}

.fr-print-page {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
  width: 100%;
}

.fr-print-innerPage {
  width: 318px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
}

.fr-print-layout {
  position: relative;
  margin-top: 100px;
  -webkit-appearance: none;
}

.fr-print-header {
  width: 318px;
  position: relative;
  display: inline-block;
  display: -webkit-box;
}

.fr-print-print-icon-container {
  height: 100%;
  margin: 0 17px 0 11px;
  vertical-align: top;
  display: inline-block;
}

.fr-print-align-middle {
  vertical-align: middle;
}

.fr-print-title-container {
  height: 100%;
  vertical-align: top;
  display: inline-block;
}

.fr-print-title {
  height: 45px;
  vertical-align: middle;
  display: table-cell;
}

.fr-print-cancel-container {
  margin-top: 12px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 22px;
}

.fr-print-cancel {
  font-family:sans-serif;
  font-size: 13pt;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  float: right;
  cursor: pointer;
}

.fr-print-form {
  margin: 16px 0 25px 16px;
  font-size: 13pt;
  font-weight: bold;
  color: #172949;
  display: inline-block;
  display: -webkit-inline-box;
}

.fr-print-options-label {
  width: 100%;
  margin-bottom: 16px;
  display: inline-block;
}

.fr-print-margins-label {
  width: 100%;
  margin: 12px 0 16px 0;
  display: inline-block;
}

.fr-print-settings-pair-container {
  width: 147px;
  display: inline-block;
  vertical-align: top;
}

.fr-print-orientation-container {
  width: 100px;
  display: inline-block;
  margin-left: 16px;
}

.fr-print-landscape {
  width: 44px;
  height: 31px;
  display: inline-block;
}

.fr-print-landscape-icon {
  background-image: url(../images/print_landscape.png);
}

.fr-print-landscape-icon-active {
  background-image: url(../images/print_landscape_1.png);
}

.fr-print-portrait {
  width: 31px;
  height: 37px;
  margin-right: 14px;
  display: inline-block;
}

.fr-print-portrait-icon {
  background-image: url(../images/print_portrait.png);
}

.fr-print-portrait-icon-active {
  background-image: url(../images/print_portrait_1.png);
}

.fr-print-setting {
  margin-bottom: 10px;
}

.fr-print-label{
  width: 60px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}

.fr-print-text {
  width: 50px;
  height: 20px;
  font-size: 13pt;
  font-weight: bold;
  color: #666666;
  text-align:right;
  padding: 0 6px 0 0;
  border:1px solid #c6d1e1;
}

.fr-print-error-span {
  width: 118px;
  margin: 2px 0 0 0;
  text-align: right;
  font-size: 10pt;

}

.fr-print-error-position {
  display: inline-block;
}

.fr-print-error {
  border-width: thin;
  border-color: red;
}


.fr-print-unit-label {
  width: 20px;
  font-size: 10pt;
  color: #999999;
  margin-left: 4px;
}

.fr-print-submit-container {
  width: 100%;
  display: inline-block;
  margin: 25px 0 0 0;
}

.fr-print-submit-inner {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.fr-print-submit {
  width: 200px;
  display: inline-block;
}

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
  .fr-print-form {
    margin: 4px 0 25px 16px;
  }
  .fr-print-submit-container {
    margin: 4px 0 0 0;
  }
}

/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-print-form {
    margin: 4px 0 25px 4px;
  }
  .fr-print-submit-container {
    margin: 4px 0 0 0;
  }
}



