.fr-layout-printsection{
    width:100%;
    height:100%;
    left:0px;
    right:0px;
    position:fixed;
}
.fr-print-page{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index:5500;
    display:none;
}
.fr-print-innerPage{
    width: 260px;
    max-width:320px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background: rgb(176,192,210); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNyUiIHN0b3AtY29sb3I9IiNiMGMwZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGFlM2VhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(176,192,210,1) 17%, rgba(218,227,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(17%,rgba(176,192,210,1)), color-stop(100%,rgba(218,227,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(176,192,210,1) 17%,rgba(218,227,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0c0d2', endColorstr='#dae3ea',GradientType=1 ); /* IE6-8 */
}
.fr-print-title{
    text-align:left;
    font-size:large;
    color:white;
    padding:6px;

    background-color:#35afe3;
    background-image:-webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
}
.fr-print-item{
    margin-left:auto;
    margin-right:auto;
    border-bottom:dotted 1px white;
}
.fr-print-label{
    font-size:14px;
    margin:4px 4px 4px 6px;
    width:90px;
    display:inline-block;
}
.fr-print-unit-label{
    width:40px;
    margin:4px 4px 4px 6px;
    font-size:14px;
}
.fr-print-text{
    width:100px;
    margin:4px;
    padding:4px;
    text-align:right;
    border:1px solid black;
}
.fr-print-error-span{
    width:120px;
    margin:4px;
    left:100px;
    position:relative;
}
.fr-print-error-position{
    display:inline-block;
}
.fr-print-error{
    border-width: thin;
    border-color: red;
}
.fr-print-button{
    padding:4px;
    margin:12px 6px;
    width:76px;
    text-align:center;
    cursor:pointer;
    float:right;
    color:white;
    font-weight:700;
    background-color:#35afe3;
}
.fr-print-button-group{
    width:100%;
    height:46px;
}
.fr-print-close{
    display:inline-block;
}

.fr-print-mask{
    position:fixed;
    z-index:5000;
    top:0;
    left:0;
    background-color:#ccc;
    opacity:0;
    display:none;
    width:100%;
    height:100%;
}