.fr-param-container
{
    min-width:270px;
    width: 100%;
    height: 100%;
    overflow: auto;


    background: rgb(53,85,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NTU2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTI4MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(53,85,109,1) 0%, rgba(33,40,43,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,85,109,1)), color-stop(100%,rgba(33,40,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(53,85,109,1) 0%,rgba(33,40,43,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35556d', endColorstr='#21282b',GradientType=0 ); /* IE6-8 */
}
.fr-param-panel
{
    margin: 4px 0px 0px 0px;
    width: 100%;
    height: 100%;
}
.fr-param-element-border
{
    margin: 10px 6px;
    display: inline-block;
}
.fr-param, .fr-param-client
{
    margin:4px;
    border-width:1px;
    border-style:solid;
    width:170px;
}
.fr-param-label
{
    margin:4px;
    display:inline-block;    
}
.fr-param-radio
{
    width:35px;
}
.fr-param-radio-label
{
    color:black;
}
.fr-param-checkbox{
    margin-left:5px;
    padding:2px;
}
.fr-param-select{
    width:182px;
}
.fr-param-viewreport{
    margin:4px 4px 4px 10px;    
    text-align:center;
}
.fr-param-enable
{
    background-color:rgb(255,255,255);
    color:rgb(0,0,0);
}
.fr-param-disable
{
    background-color:rgb(222,231,242);
    color:rgb(84,84,84);
}
.fr-param-dropdown
{
     padding:4px;
     margin:0px 4px 4px 5px;
     border-color: DarkGray; 
     color: black;
     border-width: 1px; 
     border-style: solid; 
     overflow: auto; 
     background-color: window; 
     position: absolute; 
     z-index: 11;
}
.fr-param-dropdown Label, checkbox
{
    margin:4px;
}
.fr-param-dropdown-input
{
    margin-bottom:0px;
}
.fr-param-dropdown-hidden
{
    display:none;
}
.fr-param-dropdown-show
{
    display:block;
    margin-top:-4px;
}
.fr-param-checkbox-container
{
   display:inline-block;
   margin:2px 4px;
   padding:2px 0px;
   border:solid 1px;
   border-color:white;
   background-color:white;
   width:180px;
}
.fr-param-error
{
    border-width: thin;
    border-color: red;
}
.fr-param-error-placeholder
{
    margin-left:4px;
}
/*this is for jquery validate default class style, seems static*/
.error 
{
    color: #E80C4D;
}