.fr-print-section { display: none; }

.fr-print-innerPage { position: relative; margin-top: 100px; -webkit-appearance: none; }

.fr-print-header { position: relative; width: 100%; display: inline-block; text-align: left; }

.fr-print-print-icon-container { height: 100%; margin: 0 17px 0 11px; vertical-align: top; display: inline-block; }

.fr-print-align-middle { vertical-align: middle; }

.fr-print-title-container { height: 100%; vertical-align: top; display: inline-block; }

.fr-print-title { height: 45px; vertical-align: middle; display: table-cell; }

.fr-print-cancel-container { display: inline-block; margin: 0 11px 0 17px; float: right; }

.fr-print-cancel { height: 45px; padding: 0; margin: 0; font-size: 13pt; color: #ffffff; background-color: transparent; border: none; cursor: pointer; }

.fr-print-form { margin: 16px 0 25px 16px; font-size: 13pt; font-weight: bold; color: #172949; text-align: left; display: block; overflow-y: auto; overflow-x: hidden; }

.fr-print-options-label { width: 100%; margin: 0 11px 16px 0; display: block; }

.fr-print-margins-label { width: 100%; margin: 12px 0 16px 0; display: block; }

.fr-print-settings-pair-widget { vertical-align: top; display: inline-block; }

.fr-print-form .fr-print-settings { display: inline-table; vertical-align: top; padding: 0; margin: 0 16px 0 0; }

.fr-print-settings td { padding-bottom: 10px; vertical-align: top; }

.fr-print-orientation-container { display: inline-block; margin-right: 11px; }

.fr-print-landscape { width: 44px; height: 31px; display: inline-block; }

.fr-print-landscape-icon { background-image: url(../images/print_landscape.png); }

.fr-print-landscape-icon-active { background-image: url(../images/print_landscape_1.png); }

.fr-print-portrait { width: 31px; height: 37px; margin-right: 14px; display: inline-block; }

.fr-print-portrait-icon { background-image: url(../images/print_portrait.png); }

.fr-print-portrait-icon-active { background-image: url(../images/print_portrait_1.png); }

.fr-print-setting { margin-bottom: 10px; }

.fr-print-label { height: 20px; margin: 0 5px 0px 0; display: inline-block; }

.fr-print-text { width: 50px; height: 20px; font-size: 13pt; font-weight: bold; color: #666666; text-align: right; padding: 0 6px 0 0; border: 1px solid #c6d1e1; }

.fr-print-error-span { margin: 2px 0 0 4px; text-align: right; font-size: 10pt; }

.fr-print-error-position { display: inline-block; }

.fr-print-error { border-width: thin; border-color: red; }


.fr-print-unit-label { width: 20px; font-size: 10pt; color: #999999; margin-left: 4px; }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
  .fr-print-form { margin: 4px 0 25px 16px; }
}

/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-print-form { margin: 4px 0 25px 4px; }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 320px) and (min-width : 400px) and (orientation : landscape) {
  .fr-print-form { margin: 4px 0 5px 4px; }
  .fr-print-innerPage { margin-top: 5px; max-height: 220px; }
}

/* For phone with 845 * 480 ------------- */
@media only screen and (max-height:480px) and (min-width:800px) and (orientation: landscape) {
  .fr-print-innerPage { margin-top: 50px; max-height: 320px; }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-height : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  .fr-print-innerPage { margin-top: 50px; max-height: 360px; }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
  .fr-print-innerPage { max-height: 600px; margin-top: 100px; }
}

/* For phone with 845 * 480 ------------- */
@media only screen and (max-height:480px) and (min-width:800px) and (orientation: landscape) {
  .fr-print-innerPage { margin-top: 50px; max-height: 320px; }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) and (orientation:landscape) {
  .fr-print-innerPage { max-height: 200px; margin-top: 50px; }
}
