.fr-toolbar {
  /*    background-color: #2A4473;*/
  background: rgb(25,72,125); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNyUiIHN0b3AtY29sb3I9IiMxOTQ4N2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ5YmRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(25,72,125,1) 17%, rgba(68,155,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(25,72,125,1)), color-stop(100%,rgba(68,155,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(25,72,125,1) 17%,rgba(68,155,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(25,72,125,1) 17%,rgba(68,155,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(25,72,125,1) 17%,rgba(68,155,222,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(25,72,125,1) 17%,rgba(68,155,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19487d', endColorstr='#449bde',GradientType=0 ); /* IE6-8 */

  margin: 0px;
  padding: 0px;
  width: 100%;
  height:38px;
  overflow: hidden;
}
.fr-toolbar-slide {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:38px;
  background: rgb(96,96,96); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNjA2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjJmMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(45,45,45,1) 22%, rgba(45,45,45,1) 59%, rgba(45,45,45,1) 74%, rgba(47,47,47,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(22%,rgba(45,45,45,1)), color-stop(59%,rgba(45,45,45,1)), color-stop(74%,rgba(45,45,45,1)), color-stop(100%,rgba(47,47,47,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(45,45,45,1) 22%,rgba(45,45,45,1) 59%,rgba(45,45,45,1) 74%,rgba(47,47,47,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(45,45,45,1) 22%,rgba(45,45,45,1) 59%,rgba(45,45,45,1) 74%,rgba(47,47,47,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(45,45,45,1) 22%,rgba(45,45,45,1) 59%,rgba(45,45,45,1) 74%,rgba(47,47,47,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(45,45,45,1) 22%,rgba(45,45,45,1) 59%,rgba(45,45,45,1) 74%,rgba(47,47,47,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#2f2f2f',GradientType=0 ); /* IE6-8 */
}
.fr-toolbar-reportpage-textbox {
  background-color: white;
  min-width:10mm;
  max-width:15mm;
  text-align:right;
  vertical-align: central;
}
.fr-toolbar-keyword-textbox {
  background-color: white;
  min-width: 10mm;
  max-width: 20mm;
}
.fr-toolbar-pageOf-button {
  width: 15px;
  color:white;
  line-height:36px;
  text-align:center;    
}
.fr-toolbar-numPages-button {
  min-width:10mm;
  max-width:15mm;
  padding-left: 4px;
  color:white;
  line-height:36px;
}
.fr-toolbar-sparator-text
{
  color:white;
  line-height:36px;
  text-align:center;
}
.fr-toolbar-find-button, .fr-toolbar-findnext-button {
  color: white;
  line-height:36px;
  text-align:center;  
}
.fr-button-home, .fr-toolbar-paramarea-button {
    float:right;
}

/* The following toolbar sizes will be supported and are device agnostic */

/* Small toolbar (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-toolbar-hidden-on-small {
    display: none;
  }
  .fr-toolbar-reportpage-textbox {
    margin-left:45px;
  }
}

/* Medium toolbar (E.g., for phones, landscape) */
@media only screen and (min-width : 480px) and (max-width : 567px) {
  .fr-toolbar-hidden-on-medium {
    display: none;
  }
}

/* Large toolbar (E.g., for larger phones, landscape) */
@media only screen and (min-width : 568px) and (max-width : 767px) {
  .fr-toolbar-hidden-on-large {
    display: none;
  }
}

/* Full toolbar (I.e., width of greater than or equal to 768 devices) */
@media only screen and (min-width : 768px) {
  .fr-toolbar-menu-button {
    display: none;
  }
}
