.fr-toolbar { }
  .fr-toolbar .fr-toolbase-input-invalid { border-width: thin; border-color: red; }
  .fr-toolbar .fr-core-hidden { display: none; }

.fr-toolbar-slide { margin: 0px; padding: 0px; width: 100%; height: 38px; background: #4971a5; /* Old browsers */ background: -moz-linear-gradient(top, #4971a5 0%, #2f4a7d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4971a5), color-stop(100%,#2f4a7d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4971a5 0%,#2f4a7d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4971a5 0%,#2f4a7d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4971a5 0%,#2f4a7d 100%); /* IE10+ */ background: linear-gradient(to bottom, #4971a5 0%,#2f4a7d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4971a5', endColorstr='#2f4a7d',GradientType=0 ); /* IE6-9 */ }
.fr-toolbar-zoom { margin: 0px; padding: 0px; width: 100%; height: 38px; }

.fr-toolbar-reportpage-textbox { width: 32px; text-align: right; padding: 1px 4px 1px 0px; }
.fr-rtb-select-set { width: 156px; padding-left: 4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.fr-rtb-select-set option { }

.fr-toolbar-numPages-button { min-width: 10mm; max-width: 15mm; padding-left: 4px; color: white; line-height: 36px; }
.fr-toolbar-sparator-text { color: white; line-height: 36px; text-align: center; }
.fr-button-favorite, .fr-button-recent, .fr-button-home, .fr-toolbar-paramarea-button { float: right; }

.fr-toolbar-top-param .fr-rtb-save-param,
.fr-toolbar-top-param .fr-rtb-manage_sets,
.fr-toolbar-top-param .fr-rtb-select-set-box {
    float: right;
}