
*{ -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
table {	border-collapse: collapse;	border-spacing: 0;}
a { text-decoration: none;color:#017cb9;}
a:hover {text-decoration:none; cursor:pointer;color:#28b2e0}
img {border:none}
body {font-family:'Segoe UI',Arial, Helvetica, sans-serif; color: #333333; background-color: #fff;  margin:0;padding:0;}
input{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding:5px;font-family:'Segoe UI'}
.Rounded {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.Center{ margin: 0 auto;}
.InlineBlock{display:inline-block;}
.TableCell{display:table-cell;}

.HeaderFont{font-family:Candara,Arial, Helvetica, sans-serif}
.DetailFont{font-family:'Segoe UI',Arial, Helvetica, sans-serif}
.BlueBackgrouud{background-image:url(img/bkg_tile_slide.png);background-repeat:repeat;}
.GreyBackgrouud{background-color:#F0F0F0}
.OrangeBackground{background-color:#ff6600;}
.SectionHeader{font-size:52px;color:#087cb9;text-align:center;}

.ForerunnerPort{width:100%;}
.ForerunnerPage{width:1200px;max-width:1200px;}
.ForerunnerPageTitle{font-size:50px;color:#1ba0da;padding-top:50px;margin-bottom:15px;line-height:40px}
.ForerunnerPageSubTitle{font-size:18px;margin-bottom:20px;line-height:30px;}
.ForerunnerPageContent{font-size:14px;}

.ForerunnerTD{ display:table-cell;vertical-align:top}
.TD2{width:50%;}
.TD2Left {}

.Header{ width:100%;margin-top:20px;padding-bottom:30px;}
.Footer{background-color:#013657;width:100%;color:white;min-height:200px;}

.SliderContent{text-align: left; font-size: 14pt; line-height: 1.2;}
.SliderFrame{padding: 20px; display: table-cell; }
.SliderContainer{width: 450px; height: 409px;  }
.SliderHeader{ text-align: left; font-size: 24pt; line-height: 1.2;}
.SliderFullContainer{ }
.SliderIMG{width:100%;max-width:1200px;}

.HomePageRegister { }
.FooterContent{}
.Navbar {display:block }
.Navbar a{padding:8px;}
.Navbar ul{-webkit-padding-start: 0px;-moz-padding-start: 0px;-ms-padding-start: 0px;list-style:none;padding:0;list-style-type:none;}
.Navitem{line-height: 30px;display:inline-block;height:30px; font-size:16px;}

.TopNavbar a{color: gray;}
.TopNavitem a{color:#666666;}
.TopNavSelected a{color:#333333;font-weight:bold;border-bottom: 5px solid #0E92D5;}
.TopNavitem a:hover{color:#333333;}
.BottomNavbar a{color: white;}
.BottomNavitem a:hover{color:#13A3EB;}

.ForerunnerImage { width:100%; }
.ForerunnerHomeImage{max-width:429px;}

.PressTitle{font-size:18px;margin-bottom:20px;}
.PressDescription{font-size:14px;font-style:italic;  margin-bottom :20px;}
.PressContent{font-size:14px;  margin-bottom :20px;}

.ContactButton{background-color:#1ba0da;width:300px;font-size:18px;color:white;margin-bottom:25px;display:block;vertical-align:middle;}
.ContactButtonHeight{height:40px;}
.ContactButton:hover{background-color:#0a87bd;}
.ContactButton a{color:white;}
.ContactButtonText{margin:10px;float:left;}
.ContactButtonImg{margin:7px;float:left;}
.ContactButtonArrow{margin-top:10px;margin-right:5px;float:right;}

.ForerunnerBottomBanner{background-color:#EAEAEA;}
.ForerunnerBottomBannerContent{line-height:22px;font-size:16px;}

.DownloadFormInput{height:35px;width:300px;border:1px solid #b8b8b8;margin-bottom:25px;font-size: 24px;}
.DownloadFormInputSmall{height:45px;width:200px;  border:1px solid #b8b8b8;margin-bottom:5px;font-size: 24px;display:inline-block;}
.DownLoadFormEmailSmall{width: 407px;display:block;}

.DownloadButton{background-color:#ff6600;color:white;text-align:center;font-size:16px;cursor:pointer;}
.DownloadButtonSize{width:200px;height:36px;padding-top:7px;text-align:center;display:block;}
.DownloadButton:hover{background-color:#E97a04;color:white;}
.DownloadButton a {color:white;}
.DownloadButton a:hover{color:white;}

.RegisterButton{background-color:#02486C;color:white;text-align:center;font-size:16px;cursor:pointer;border:none;}
.RegisterButton:hover{background-color:#075983;color:white;}


.DemoPageButtonRight{display:inline;float:right;text-align:center;}
.DemoPageButtonLeft{display:inline;float:left;text-align:center;}

.ForerunnerHeaderColor{color:#1ba0da;}

.MobilizerBanner{background-color:#009cde;color:white;}
.MobilizerBannerHeader{font-size:60px;padding-top:20px;padding-bottom:10px;line-height:50px;}
.MobilizerBannerSubHeader{font-size:16px;font-weight:bold;}
.MobilizerBannerContent{font-size:14px;}
.MobilizerBannerImage{background:url(img/bkg_tile.png);background-repeat:repeat;}
.MobilizerDetailHeader{color:#1ba0da;font-size:20px;}
.MobilizerDetailContent{padding-bottom:20px;}

.TD5{width:20%;}
.SupportTDBorder{border-right:1px solid #cccccc;}
.SupportTR{color:#666666;text-align:center;align-content:center;}

.TD4{width:25%;}
.TD3{width:33%;}
.DeveloperList{text-align:left;}
.DeveloperCell{padding-left:10px;padding-right:10px;line-height:18px;}
.DeveloperCheveron{vertical-align:top;}
.DeveloperSubHeader{padding-bottom:15px;}

.PricingBanner{border:1px solid black;text-align:center;margin:25px;font-size:18pt;min-height:450px;padding:15px;}
.BuyNowButton{text-align:center;margin:auto;font-size:18pt;padding:15px;width:250px;}
.PricingAlert{font-weight:bold;color:darkblue;}
.PricingBanner2{text-align:center;margin-top:0px;font-size:16pt;padding:65px;}

.FeatureHeader{font-weight:bold;color:darkblue;font-size:18pt;padding:15px;}
.FeatureContent{font-size:14pt;padding:15px;}
.FeatureImg{width:100%;padding:15px;}

.SamplesItem {color:#1ba0da;font-size:15px;display:block;margin: 0 0 10px 0;}
.SamplesDescription{min-width: 200px;padding:0 15px 0 0;vertical-align: top;}
.SamplesDetail{width:auto;vertical-align: top;}
.SamplesTab1{margin-left:2em;}
.SamplesContent{font-size:18px;background-color: #EAEAEA;padding:18px 18px 18px 18px;}
  .SamplesContent ul { display: block; padding-left: 2em; margin: 0 0 1em 0;}
  .SamplesContent pre { font-size:18px;}

.sample-error { margin: 4px; left: 10px; }
    .sample-error .sample-error-text { color: red; font-weight: bold; }
    .sample-error .sample-error-responsetext-details-iframe {width: 100%;}

 @media only screen and (min-width: 1023px) {
 
    .ForerunnerPage{width:100%;}
    .ForerunnerTD{ display:table-cell;vertical-align:top}
    .TD2{width:50%;}
    .TD2Left {padding-right: 15px;}
}

/* 4.1 - Desktop Slim */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
     .ForerunnerPage{width:100%;max-width:1200px;}
    .ForerunnerTD{ display:inline-block;vertical-align:top}
    .TD2{width:100%;}
    .TD2Left {padding-right: 0px;}

}

/* 4.2 - Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 797px) {
   .ForerunnerPort{padding-right:10px;padding-left:10px;width:100%;}
   .ForerunnerPage{width:100%;}
    .ForerunnerTD{ display:inline-block;}
    .TD2{width:100%;}
    .TD2Left {padding-right: 0px;}

   
}

/* 4.3 - Mobile Landscape */
@media only screen and (min-width: 481px) and (max-width: 599px) {
    .ForerunnerPort{padding-right:10px;padding-left:10px;width:100%;}
    .ForerunnerPage{width:100%;}
   
    .ForerunnerTD{ display:inline-block;}
    .TD2{width:100%;}
    .TD2Left {padding-right: 0px;}

    .TD5{width:50%;}
    .TD4{width:50%;}
    .TD3{width:100%;}
    .SupportTDBorder{border-right:none;}

    .DemoPageButtonRight{display:block;float:left;text-align:center;}
    .DemoPageButtonLeft{display:block;float:left;text-align:center;}


}
/* 4.4 - Mobile Portrait */
@media only screen and (max-width:480px) {
    .ForerunnerPort{padding-right:0px;padding-left:0px;width:100%;}
    .ForerunnerPage{width:305px;}

    .SliderFrame{padding:0}

   .ForerunnerTD{ display:inline-block;}
   .TD2{width:100%;}
   .TD2Left {padding-right: 0px;}
   
   .Navbar {display:inline-block; margin-left:0px;}

   .TD5{width:100%;}
   .TD4{width:100%;}
   .TD3{width:100%;}
   .SupportTDBorder{border-right:none;}
   
   .DownloadFormInput{height:35px;width:300px;border:1px solid #b8b8b8;margin-bottom:25px;font-size: 24px;}
   .DownLoadFormEmailSmall{width: 200px;margin: 0 auto;}
   .DownloadFormInputSmall{display:block;margin: 0 auto;}
 
}