
*{ -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
table {	border-collapse: collapse;	border-spacing: 0;}
a { text-decoration: none;}
a:hover {text-decoration:none; cursor:pointer;}
body {font-size: .85em;font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #232323; background-color: #fff; line-height: 1; margin:0;padding:0;}
input{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:5px;}

.rounded {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.header{ width:100%;margin-top:20px;padding-bottom:30px;}
.logo {display:block;float:left; margin-left:50px; margin-right:30px;width:400px; }
.logo img{width:100%;}
.navbar {display:inline-block; float:right; margin-right:150px;}
.navbar a{color: gray;padding:10px;}
.navitem{line-height: 30px;display:inline-block; }
.navitem a:hover{color:white;background-color:black;}

.footer{background-color:#333333;width:100%;color:white;min-height:100px;}
.footerbar {display:inline-block;float:right;margin-right:150px;}
.footerbar a{color: white;padding:10px;}
.footercontent{margin-top:0px;display:block;float:left;padding:20px 20px 10px 20px;}
.bottomNavitem{line-height: 30px;display:inline-block;}
.bottomNavitem a:hover{color:black;background-color:white; }

.ForerunnerTD{ display:table-cell;vertical-align:top}
.ForerunnerTD50{width:50%;}
.ForerunnerTDLeft{ float:right;}

.ForerunnerHeaderColor{color:#009cde;}
.ForerunnerPageTitle{font-size:50px;font-weight:bold;color:#009cde;padding-bottom:50px;}
.ForerunnerPage{margin-left:50px;margin-right:50px;}
.ForerunnerPageContent{font-size:16px;line-height:35px}

.ForerunnerBottomBanner{background-color:lightgray;width:100%;}
.ForerunnerBottomBannerContent{line-height:22px;font-size:16px;}

.DownloadButton{background-color:orange;width:250px;line-height:22px;padding:5px;font-size:16px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.DownloadButton a{color:white;}

.DemoPageButtonRight{display:inline;float:right;text-align:center;}
.DemoPageButtonLeft{display:inline;float:left;text-align:center;}

.ContactButton{background-color:#009cde;width:230px;padding:5px;font-size:16px;}
.ContactButton a{color:white;}

.MobilizerBanner{background-color:#009cde;width:100%;}
.MobilizerBannerImage{background:url(img/background_checkers.png);background-repeat:repeat;}
.MobilizerBannerContent{color:white;font-size:16px;line-height:22px;}
.MobilizerBannerHeader{font-size:46px;font-weight:400;}
.MobilizerBannerSubHeader{font-size:20px;}

.MobilizerDetailHeader{color:#009cde;font-size:20px;}
.MobilizerDetailContent{line-height:22px;padding-right:40px;padding-bottom:0px;margin-left:40px;vertical-align:top;}

.Center{ display:table;margin: 0 auto;}



/* 4.1 - Desktop Slim */
@media only screen and (min-width: 768px) and (max-width: 1026px) {
 
    .navbar {display:block;float:left;}
    .footerbar {display:block; float:left;}
   
}


/* 4.2 - Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 797px) {

   .navbar {display:inline-block;float:left; }
   .footerbar {display:inline-block;float:left; }
   
   .ForerunnerTD{ display:inline-block;}
   .ForerunnerTD50{width:100%;}
   .ForerunnerTDLeft{ float:none;}
   .MobilizerDetailContent{line-height:22px;padding-right:0px;padding-bottom:10px;margin-left:40px;}

   
}

/* 4.3 - Mobile Landscape */
@media only screen and (min-width: 510px) and (max-width: 629px) {

   .navbar {display:inline-block;float:left; }
   .footerbar {display:inline-block;float:left;}    
   .ForerunnerTD{ display:inline-block;}
   .ForerunnerTD50{width:100%;}
   .ForerunnerTDLeft{ float:none;}
   .MobilizerDetailContent{line-height:22px;padding-right:0px;padding-bottom:10px;margin-left:40px;}

   .DemoPageButtonRight{display:block;float:left;text-align:center;margin-top:25px;margin-left:150px;}
   .DemoPageButtonLeft{display:block;float:left;text-align:center;margin-left:150px;}
   .DemoPageButtonSpacer{clear:both;}

}
/* 4.4 - Mobile Portrait */
@media only screen and (max-width: 509px) {
   .ForerunnerTD{ display:inline-block;}
   .ForerunnerTD50{width:100%;}
   .ForerunnerTDLeft{ float:none;}
   .MobilizerDetailContent{line-height:22px;padding-right:0px;padding-bottom:10px;margin-left:40px;}
   .logo {display:block;float:left; margin-left:50px; margin-right:30px;width:200px; }
   .DemoPageButtonRight{display:block;float:left;text-align:center;margin-top:25px;margin-left:100px;}
   .DemoPageButtonLeft{display:block;float:left;text-align:center;margin-left:100px;}
   .DemoPageButtonSpacer{clear:both;}

   .ForerunnerBottomBannerContent{line-height:22px;font-size:16px;display:inline-block;float:left;}
    
}