@{
    ViewBag.Title = "About";
}

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
       
        <!--<div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; ">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div class="ForerunnerPageTitle" style="padding-bottom:40px;">Foreruner Software</div>
                        <div class="ForerunnerPageSubTitle" style="">
                            <div>Forerunner Software provides the next generation, mobile first, <b>enterprise reporting</b> and <b>embedded BI</b> solutions that power modern application environments by providing robust, <b>multiplatform</b> data integration and data presentation capabilities for <b>corporations and ISVs</b></div>
                        </div>                                                
                        <a class="DownloadButton Rounded" href="../home/register"><strong>DOWNLOAD TRIAL NOW!</strong></a>
                        <p></p>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                         <div>
                            <img  class="ForerunnerImage "  src="~/Content/img/product_about.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="ForerunnerPort ForerunnerBottomBanner" style="">
    <div class="ForerunnerPage Center">
        <div class="ForerunnerHeaderColor " style="font-size: 22px;padding-top:20px;">
            <span>Jason Carlson, Founder and Chief Forerunner</span>
        </div>
        <table>
            <tr>
                <td class="ForerunnerBottomBannerContent ForerunnerTD" style="width: 100px; vertical-align: top; padding-top: 20px; padding-right: 20px;">
                    <img  class="ForerunnerImage "  src="~/Content/img/JasonCarlson.jpg" alt="Jason Carlson" />
                </td>
                <td class="ForerunnerBottomBannerContent ForerunnerTD" style="">
                    <p>Creating software solutions that make tools easy and accessible is part of Jason’s DNA.</p>
                    <p>Jason is one of Washington’s emissaries of innovation. He brings over 20 years building and managing technology companies before creating Forerunner Software. Jason has led product innovation and engineering teams at Global Scholar, Amazon and Microsoft. Most recently, Jason was Senior Vice President of Engineering at Global Scholar. Prior to that, he was General Manager for Amazon’s web services at AWS.Amazon.com.</p>
                    <p>Jason’s 15 years leading Microsoft‘s SQL platform and services inspired him to create Forerunner Software. At Microsoft, he was the lead architect and General Manager of one of Microsoft’s most broadly used reporting technologies, SQL Server Reporting Services. Jason holds over 20 patents and plans to keep building innovation.</p>
                    <p>Jason served on the Board of Directors for IMS Global Learning Consortium a non-profit organization that works to promote the adoption of technology in education and drive learning impacts. Jason holds a BS in Computer Science from the University of Washington.</p>
                </td>
            </tr>
        </table>
    </div>
</div>


