@{
    ViewBag.Title = "Activation / Validation";
}


<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
       <div class="ForerunnerPageTitle" style="margin-bottom:45px;">Manual Activation or Validation</div>
        <table class="" style="width: 100%; ">
            <tbody>
                <tr>
                    <td class="ForerunnerTD TD2" style="">
                         <div>
                            <img  class="ForerunnerImage " style="vertical-align:top;" src="~/Content/img/product_about.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>

                    <td class="ForerunnerTD TD2 ForerunnerPageContent" style="">     
                        <div class="" style="margin-bottom:40px;">Paste the Activation or Validation Key that you copied from the Mobilizer configuration tool.  This is different than the License Key you received in email, the activation/validation key can only be copied from the configuration tool.</div>                                          
                            <label class="">Key</label><br />
                            <textarea  id="Key" class="DownloadFormInput" rows="5"  style="height:80px;" required="required" name="Key"></textarea><br />
                            <div class="DownloadButton Rounded" onclick="MaunualLicense()" style="margin-bottom:15px;">Process</div>                           

                            <br /><br />                                    
                            <label class="">Response</label><br />
                            <textarea  id="ManualResponce" class="DownloadFormInput" rows="5" style="height:80px;"  required="required" name="Key"></textarea>                                                
                        <p></p>
                    </td>
                                      
                </tr>
            </tbody>
        </table>

    </div>
</div>


