@{
  ViewBag.Title = "Forerunner PowerShell Cmdlet Docs";
  ViewBag.Description = "Forerunner SDK provides the following PowerShell Cmdlets";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:100px;">
        <div  class="ForerunnerPageTitle" style="">PowerShell Cmdlets</div>
        <div class="ForerunnerPageSubTitle" style="">Forerunner SDK provides the following publishing and configuration cmdlets 
        </div>

        <table>
            <tr>
                <td class="SamplesDescription">
                    <a class="SamplesItem" onclick="ShowSampleDetail('CmdletDetail/Summary', 'CmdletsDetailId')">Summary</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('CmdletDetail/PublishForerunnerRDLExt', 'CmdletsDetailId')">Publish-ForerunnerRDLExt</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('CmdletDetail/PublishFRExtension', 'CmdletsDetailId')">Publish-FRExtension</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('CmdletDetail/AddFRScriptRef', 'CmdletsDetailId')">Add-FRScriptRef</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('CmdletDetail/SetFRConfig', 'CmdletsDetailId')">Set-FRConfig</a>
                </td>
                <td class="SamplesDetail">
                    <div id="CmdletsDetailId">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
