@{
    ViewBag.Title = "Contact Forerunner Software";
    ViewBag.Description = "We have Email, Phone and Forum support. We are committed to your success and will respond promptly to your questions.";

}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:200px;">
        <div  class="ForerunnerPageTitle" style="">Contact Us</div>
        <div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We have Email, Phone and Forum support. We are committed to your success and will respond promptly to your questions.</div>
        <table  class="" style="width:100%;margin-top:50px">
          <tbody>  
            <tr >
                <td class="ForerunnerTD ForerunnerTD50" style="">
                   <div class="" >
                       <table class="" style="">
                            <tr>
                                <td class="" style="vertical-align:top;padding-right:15px;">
                                    <img style="" src="~/Content/img/mouse_icon.png" alt="Mouse" />
                                </td>
                                <td>
                                    <div>
                                        <span>Send us email:</span><br />
                                        <a href="mailto:Sales@ForerunnerSW.com?Subject=Sales">Sales@ForerunnerSW.com</a>
                                        <br /><br />
                                        <span>or call</span><br />
                                        <span><b>885-367-3511 (855-FORE511)</b></span>
                                        <br /><br />
                                        <span>If you are an ISV, re-seller or other high volumn partner</span><br />
                                        <span>please contact sales directly at <a href="mailto:Sales@ForerunnerSW.com?Subject=Sales">Sales@ForerunnerSW.com</a></span>
                                    </div>
                                </td>
                              </tr>
                           </table>
                       </div>                                            
                </td>
                <td class="ForerunnerTD ForerunnerTD50" style="">
                    <div class="ContactButton Rounded" ><a  href="mailto:Support@ForerunnerSW.com?Subject=Support"><img class="ContactButtonImg InlineBlock" src="~/Content/img/support_icon.png" alt="" /><div class="InlineBlock ContactButtonText">Support Issues</div><img class=" ContactButtonArrow InlineBlock" style="" src="~/Content/img/arrow.png" alt="" /></a></div>
                    <div class="ContactButton Rounded" ><a  href="mailto:Sales@ForerunnerSW.com?Subject=Sales"><img class="ContactButtonImg InlineBlock" src="~/Content/img/sales_icon.png" alt="" /><div class="InlineBlock ContactButtonText">Pricing and Sales Question</div><img class=" ContactButtonArrow InlineBlock" style="" src="~/Content/img/arrow.png" alt="" /></a> </div>
                    <div class="ContactButton Rounded" ><a  href="mailto:Info@ForerunnerSW.com?Subject=Sales"><img class="ContactButtonImg InlineBlock" src="~/Content/img/genquestion_icon.png" alt="" /><div class="InlineBlock ContactButtonText">General Questions</div><img class=" ContactButtonArrow InlineBlock" style="" src="~/Content/img/arrow.png" alt="" /></a></div>
                
                </td>
            </tr>    
        </tbody>
        </table>

    </div>
</div>
