@{
    ViewBag.Title = "Demo";
}



<table  class="" style="width:100%;margin-top:50px">
<tbody>  
    <tr >
        <td class="ForerunnerTD ForerunnerTD50" style="padding:20px;">
           <div class="ForerunnerTDLeft" >
                <div class="ForerunnerPageTitle" style="">
                Mobilizer Demo
                </div>
                <img style="width:100%; max-width:650px;" src="~/Content/img/M_ProcessorCore_large.png" alt="Forerunner Mobilizer Product" />
            </div>
        </td>
        <td class="ForerunnerTD ForerunnerTD50" style="">
            <div class="ForerunnerPageContent" style="max-width:600px;padding:20px;padding-top:120px;">
                <span>Please check out our demo server with your favorite browser or mobile device.</span>
                <p>The demo server is updated regularity, if for any reason it is not accessible just check back in a couple of minutes we are probably just updating it. To access the server login as TestAccount with TestPWD! as the password. You can also compare the experience with the SQL Server 2012 Report Manager with the same user and password. If you register for the trial we will send you updates when new content is available. Thank you for your interest in Forerunner Mobilizer!</p>
            </div>
        </td>
    </tr>    
</tbody>
</table>

<div class="ForerunnerBottomBanner" style="">    
    <div  class="Center" style="padding-top:40px;padding-bottom:40px;">
        <div  class="ForerunnerPageContent">
            <p>To Access the server login as <b>TestAccount</b> with <b>TestPWD!</b> as the password.</p>
            <div class="DownloadButton" style="display:inline;float:left;text-align:center;" >
                 <a href="http://demo.forerunnersw.com/Mobilizer"><strong>Try out Mobilizer!</strong></a>
           </div>
            <div class="DownloadButton" style="display:inline;float:right;text-align:center;">
                 <a href="http://demo.forerunnersw.com/Reports"><strong>Compare to SQL 2012</strong></a>
            </div>
        </div>
    </div>

</div>

