@{
    ViewBag.Title = "Forerunner Software Mobilizer Demo";
    ViewBag.Description = "Please watch the video and check out our demo server with your favorite browser or mobile device.  Mobilizer supports all Browsers and devices with a responcive HTML expereince.";
}

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="ForerunnerPageTitle" style="">Mobilizer Demo</div>
        <!--<div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; margin-top: 50px">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                         <div id="video" style="padding-right:15px;display:none;">
                            <iframe width="100%" height="360" src="//www.youtube.com/embed/ffglPLTa6d4?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>                                                        
                        </div>
                        <div id="image" style="cursor:pointer;"> 
                            <img  class="ForerunnerImage " style=""  src="~/Content/img/product_demo-play.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div class="ForerunnerPageSubTitle" style="">
                            <span>Please watch the video and check out our demo server with your favorite browser or mobile device.</span>
                            <p>The demo server is updated often, if for any reason it is not accessible just check back in a couple of minutes we are probably just updating it. To access the server login as TestAccount with TestPWD! as the password. You can also compare the experience with the SQL Server 2012 Report Manager with the same user and password. If you register for the trial we will send you updates when new content is available. Thank you for your interest in Forerunner Mobilizer!</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="ForerunnerPort ForerunnerBottomBanner" style="">
    <div class="Center " style="padding-top: 30px; padding-bottom: 30px;">
        <div class="ForerunnerPageContent" style="padding-left:10px;padding-right:10px;">
            <p>To Access the server login as <b>TestAccount</b> with <b>TestPWD!</b> as the password.</p>
            <table class="" style="width: 100%;">
                <tbody>
                    <tr>
                        <td class="ForerunnerTD ForerunnerTD50" style="padding-bottom:10px;">
                            <div class="DownloadButton Rounded Center"><a  href="http://demo.forerunnersw.com/Mobilizer"><strong>Try out Mobilizer!</strong></a></div>
                        </td>
                        <td class="ForerunnerTD ForerunnerTD50" style="">
                            <div class="DownloadButton  Rounded Center"><a  href="http://demo.forerunnersw.com/Reports"><strong>Compare to SQL 2012</strong></a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ForerunnerTD ForerunnerTD50" style="padding-bottom:10px;">
                            <div class="DownloadButton Rounded Center"><a  href="http://demo.forerunnersw.com/Mobilizer-SPS"><strong>SharePoint Mobilizer!</strong></a></div>
                        </td>
                        <td class="ForerunnerTD ForerunnerTD50" style="">
                            <div class="DownloadButton  Rounded Center"><a  href="http://demo.forerunnersw.com:88"><strong>Compare to SharePoint 2013</strong></a></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

