@{
    ViewBag.Title = "Demo";
}

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="ForerunnerPageTitle" style="">Mobilizer Demo</div>
        <!--<div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; margin-top: 50px">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div>
                            <img  class="ForerunnerImage "  src="~/Content/img/product_demo.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div class="ForerunnerPageSubTitle" style="">
                            <span>Please check out our demo server with your favorite browser or mobile device.</span>
                            <p>The demo server is updated regularity, if for any reason it is not accessible just check back in a couple of minutes we are probably just updating it. To access the server login as TestAccount with TestPWD! as the password. You can also compare the experience with the SQL Server 2012 Report Manager with the same user and password. If you register for the trial we will send you updates when new content is available. Thank you for your interest in Forerunner Mobilizer!</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="ForerunnerPort ForerunnerBottomBanner" style="">
    <div class="Center" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="ForerunnerPageContent">
            <p>To Access the server login as <b>TestAccount</b> with <b>TestPWD!</b> as the password.</p>
            <table class="" style="width: 100%;">
                <tbody>
                    <tr>
                        <td class="ForerunnerTD ForerunnerTD50" style="padding-bottom:10px;">
                            <a class="DownloadButton Rounded Center" href="http://demo.forerunnersw.com/Mobilizer"><strong>Try out Mobilizer!</strong></a>
                        </td>
                        <td class="ForerunnerTD ForerunnerTD50" style="">
                            <a class="DownloadButton  Rounded Center" href="http://demo.forerunnersw.com/Reports"><strong>Compare to SQL 2012</strong></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

