@{
    ViewBag.Title = "HTML5 Report Viewer - Forerunner Software";
    ViewBag.Description = "Forerunner Software is leading mobile BI for developers, find the right solution for your business. Free demos, code samples and support!";
    ViewBag.Keywords = "Forerunner Software, Forerunner Mobilizer, BI software demo, Custom Dashboard, SSRS Extensions, HTML5, MVC, Reporting Services, Report Viewer";
}

<div id="Page" data-page="Developers" class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:30px;">
        <div  class="" style="padding-top:30px">&nbsp</div>
        <div  class="ForerunnerPageTitle" style="padding:0;">Developers</div>
        <table class="" style="width: 100%;">
            <tr>               
                <td class="ForerunnerTD TD2" style="">
                    <div class="MobilizerDetailHeader">Check out Forerunner Mobilizer, Watch the Video</div>
                    <div id="video2" style="padding-right: 15px; display: none;">
                        <iframe width="100%" height="360" src="//www.youtube.com/embed/ffglPLTa6d4?feature=player_detailpage" ></iframe>
                    </div>
                    <div id="image2" style="cursor: pointer;">
                        <img class="ForerunnerImage " src="~/Content/img/mobilizer_home-play.png" alt="Forerunner Mobilizer works on any device and browser. Watch our video to learn more." />
                    </div>
                </td>
                 <td class="ForerunnerTD TD2">
                    <div class="ForerunnerPageContent" style="">Forerunner Mobilizer was designed with developers in mind.  All of the Controls, APIs, CSS and Events we used to build Mobilizer are documented and available for you to build your own custom experience or incorporate into your applications.  With full support for MVC and HTML5, building your own app is a breeze. <br /><br /> We keep adding samples so please check back often and don’t hesitate to ask if you are looking for a specific example or API.  Please check out our <a href="/blog">blog</a> and <a href="/SMForum">support forum</a>.</div>
                </td>
            </tr>
        </table>
        
        
        
        <table  class="" style="width:100%;margin-top:50px;">
          <tbody>  
            <tr  class="SupportTR "  style="" >
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="DeveloperCell" >
                       @*<a href="Samples"><img style="" src="~/Content/img/Mobilizer_update.png" alt="Mobilizer Setup" /></a>*@
                       <div class="MobilizerDetailHeader DeveloperSubHeader">Any Platform</div>
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Supports MVC, Webforms, Node.js,Java, ... </div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Source code for controllers</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Simple intergration into MVC applications via <a href="https://www.nuget.org/packages/Forerunner_GettingStartedV4/">NuGet packages</a></div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Several <a href="/samplesV4">samples</a> online</div></td></tr>                           
                       </table>
                       <br />
                       <a class="DeveloperList" style="float:left;" href="/samplesV4?V4Sample=GettingStarted">Getting Started Sample</a>
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>*@
                    </div>                                                   
                </td>
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                    <div class="MobilizerDetailHeader DeveloperSubHeader">HTML5 Controls</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fully <a class="" style="" href="/APIDocs/html/index.html">documented</a> REST and JSON based APIs</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support for single page applications</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">CSS source included </div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fully <a class="" style="" href="/Docs/Index.html">documented</a> JavaScript objects </div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">JQuery widgets and add-ins </div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fully responsive UI</div></td></tr>                           
                       </table>
                       <br />
                       <a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>
                       <a class="DeveloperList" style="float:left;" href="/APIDocs/html/index.html">REST API Documentation</a>
                    </div>                                                     
                </td>
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="MobilizerDetailHeader DeveloperSubHeader">SSRS Extensions</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">JSON rendering extension</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Thumbnail rendering extension</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">REST and JSON proxy for the SSRS SOAP API</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fully <a class="" style="" href="~/Cmdlets">documented</a> publishing and configuration PowerShell cmdlets</div></td></tr>
                       </table>
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/samplesV4?Sample=ReportSelector">Report Selector Sample</a>*@
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>*@
                    </div>     
                </td>
                <td class="ForerunnerTD TD4 DeveloperTD" style="">
                   <div class="MobilizerDetailHeader DeveloperSubHeader">SSRS Compatability</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Supports SSRS 2008, 2008R2, 2012, 2014</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support SharePoint 2010, 2013</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Works with all report items and 3rd party extensions</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Supports all datasources</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support for Windows, Forms and custom security models</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Ask us about SSO and SAML security extension</div></td></tr>                                                      
                       </table>
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/samplesV4?Sample=ReportSelector">Report Selector Sample</a>*@
                       <br />
                       @*<a class="DeveloperList" style="float:left;" href="/Docs/Index.html">JavaScript Documentation</a>*@
                    </div>     
                </td>
            </tr>
        </tbody>
        </table>

    </div>
</div>

<div class="ForerunnerPort ForerunnerBottomBanner" style="padding-bottom:40px;">
    <div class="ForerunnerPage Center">
        <table  class="" style="width:100%;margin-top:50px;">
          <tbody>  
            <tr  class="SupportTR "  style="" >
                <td class="ForerunnerTD TD3 " style="">
                   <div class="DeveloperCell" >
                       @*<a href="Samples"><img style="" src="~/Content/img/Mobilizer_update.png" alt="Mobilizer Setup" /></a>*@
                       <div class="MobilizerDetailHeader DeveloperSubHeader DeveloperList">Developer Resources</div>
                       
                       <a class="MobilizerDetailHeader DeveloperList" style="" href="/samplesV4">Samples</a>
                       <br />
                       <div class=" DeveloperList ">Developer samples and source code</div>
                       <br />
                       <a class="MobilizerDetailHeader DeveloperList" style="" href="/docs/index.html">JavaScript API</a>
                        <br />
                       <div class=" DeveloperList ">JavaScript and JQuery object documentation</div>
                       <br />
                       <a class="MobilizerDetailHeader DeveloperList" style="" href="/APIDocs/html/index.html">REST API</a>
                        <br />
                       <div class=" DeveloperList ">REST API documentation</div>
                       <br />
                       <a class="MobilizerDetailHeader DeveloperList" style="" href="/Cmdlets">PowerShell cmdlets</a>
                        <br />
                       <div class=" DeveloperList ">Documentation for PowerShell publishing and configuration cmdlets</div>
                       <br />
                       <a class="MobilizerDetailHeader DeveloperList" style="" href="/SMForum">Forum</a>
                        <br />
                       <div class=" DeveloperList ">Please ask questions and post answers and examples on our forum</div>
                       <br />
                       <div class="DownloadButton Rounded DownloadButtonSize" style="margin-bottom:15px;"><a id="register" style="padding-top:2px;"  href="/registerTrial"><strong>DOWNLOAD TRIAL NOW!</strong></a></div>                           
                    </div>                                                   
                </td>
                <td class="ForerunnerTD TD3 " style="">
                    <div class="MobilizerDetailHeader DeveloperSubHeader DeveloperList">New Features in Mobilizer</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Significant parameter improvements; Per user default parameters, Parameter filters (type ahead), Managed parameter sets, Hierarchical parameters, Custom validation scripts</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Customizable toolbar and tool pane</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Improved performance</div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Support for all browsers and devices</div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Cross device favorites and report history, Multiple view styles; Large, Small and List tiles</div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Responsive re-flow of report layout based on device size</div></td></tr>                                                      
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Client side scripting on any element</div></td></tr>       
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Fixed size data regions, IFrame support, Custom HTML</div></td></tr>       
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Many new features in each release, let us know what you need</div></td></tr>                                                      
                       </table>
                    </div>                         
                </td>   
               <td class="ForerunnerTD TD3 " style="">
                    <div class="MobilizerDetailHeader DeveloperSubHeader DeveloperList">What doesn't change</div>
                    <div class="DeveloperCell" >
                       <table>
                           <tr><td class="DeveloperCheveron"><img style="" class="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">No change to report design</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">No change to your development process</div></td></tr>
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">No change to security</div></td></tr>                           
                           <tr><td class="DeveloperCheveron"><img style="" src="~/Content/img/Chev.png" alt="cheveron" /></td><td><div class="DeveloperList">Use all of your existing skills and investment in SSRS</div></td></tr>                                                      
                       </table>
                    </div>                         
                </td>   
        </tbody>
        </table>
    </div>
</div>
