@{
    ViewBag.Title = "Forerunner Developers, Enterpise level support for developers";
    ViewBag.Description = "Forerunner Software provides an SDK, including samples to support our developer community.";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:200px;">
        <div  class="ForerunnerPageTitle" style="">Developers</div>
        <div class="ForerunnerPageSubTitle" style="">The Forerunner SDK has the following resources to suppport our developer community.</div>    
        <table  class="" style="width:100%;margin-top:50px;">
          <tbody>  
            <tr  class="SupportTR "  style="" >
                <td class="ForerunnerTD DeveloperTD SupportTDBorder" style="">
                   <div class="" >
                       <a href="Samples"><img style="" src="/Content/img/Mobilizer_update.png" alt="Mobilizer Setup" />
                       <div>Samples</div></a>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD DeveloperTD SupportTDBorder" style="">
                    <div class="" >
                        <a href="../Docs/index.html"><img style="" src="/Content/img/Istaller.png" alt="Mobilizer Setup" />
                        <div>API Documentation</div></a>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD DeveloperTD" style="">
                   <div class="" >
                       <a href="/SMForum">
                           <img style="" src="/Content/img/Forum.png" alt="Mobilizer Setup" />
                           <div>Support Forum</div>
                       </a>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>

    </div>
</div>
