@{
    ViewBag.Title = "Forerunner Mobilizer – A cost effective and user-friendly solution to SSRS Mobile Reporting.";
    ViewBag.Description = "Forerunner Mobilizer has all the features you need in a SSRS Mobile Reporting Solution. Contact us today to learn more about what Forerunner Mobilizer can help your organization.";
    ViewBag.Keywords = "SSRS Mobile, Mobile Reporting, Forerunner Mobilizer, Forerunner Software, SSRS Dashboard";
    
    }


<div id="Page" data-page="Features" class="ForerunnerPort PageHeader" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 " style=" vertical-align: middle;">
                <div class="PageHeaderTitle" style="">Features</div>
            </div>
            <div class="ForerunnerTD TD2 " style="">
                <img style="display: block;width: 100%;" alt="Forerunner Mobilizer Custom Features" src="~/Content/Img/Features_Banner.png" />
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">The most important feature of Mobilizer is that all of your reports just work</div>
        <div class="Center" style="display: table; width: 100%;">
            
                       <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: top;">
                <div class="Center DetailFont FeatureContent" style="padding:35px;text-align:left;">
                    Imagine a platform that supports all Reporting Services functionality so you can design your reports any way you want taking full advantage of the power of SSRS. How empowering would that be for your organization? Forerunner Mobilizer does just that.
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: top;">
                <div class="Center DetailFont FeatureContent" style="padding:35px;text-align:left;">
                    We didn’t stop there. We have added many additional features to make it easier, faster and more powerful to use Reporting Services in any browser and on any device.
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Support for all Browsers</div>
        <div class="Center" style="display: table; width: 100%;">
            

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont FeatureContent" style="font-size:24px;color:#666666;text-align:center;">      
                 Mobilizer supports Chrome, Safari, Firefox and Internet Explorer 8, 9, 10 and 11 (Edge).  In addition to supporting all report features on all browsers, with Mobilizer you can print on any platform without the need for an ActiveX control.
             </div>
                
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/SupportAllBrowsers.png" alt=" Mobilizer supports Chrome, Safari, Firefox and Internet Explorer 8, 9, 10 and 11 (Edge)." />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Improved Performance</div>
        <div class="Center" style="display: table; width: 100%;">
            
             <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/ImprovedPerformance.png" alt="Forerunner Mobilizer used HTML5 to improve performance for mobile SSRS reports." />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont FeatureContent" style="">      
                 Performance is always important.  Taking advantage of the power of HTML5, mobilizer gives your users a faster more seamless experience than SSRS.  Instead of reloading the entire page with every click, Mobilizer gets only the data it needs.  It caches pages and images to improve bandwidth utilization and performance.
             </div>
                
            </div>
           
        </div>
    </div>
</div>
<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">End User Subscriptions</div>
        <div class="Center" style="display: table; width: 100%;">
            

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
             <div class="Center DetailFont FeatureContent FeatureContent" style="">      
                 Subscribe to get your report in email in just 2 clicks. Mobilizer’s subscription UI significantly decreases the complexity of SSRS subscriptions making it easy to use on any device.
             </div>
                
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style ="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/EndUserSubscriptions.png" alt="Mobilizer allows end users to subscribe to SSRS reports." />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Named Parameter Sets</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/NamedParameterSets.png" alt="Forerunner Mobilizer allows you to save multiple sets of named parameters on any reports." />
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent" style="">
                    Save multiple sets of named parameters on any reports.  Named parameter sets can be specific to each user or shared for all users.  This feature makes it fast and easy have personalized default parameters or to change between parameters especially when the report has many parameters.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Hierarchical Parameters</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent FeatureContent" style="">
                    Mobilizer automatically converts cascading parameters into an easy to use hierarchical tree experience.  This is probably the most requested enhancement to SSRS parameters since 2005.
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/HierarchicalParameters.png" alt="Mobilizer converts cascading parameters into an easy to use hierarchical tree experience." />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Mobile Optimized UI</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/OptimizedResponciveApp.png" alt="Mobilizer is the easiest to use UI for SSRS on any device." />
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent" style="">
                    Mobilizer’s user interface has been designed and tested to work optimally on all screen sizes and devices.  With large thumbnails to easily recognize your reports and shortcuts to take you to your favorite reports or those you have run recently.  Mobilizer is the easiest to use UI for SSRS on any device.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Virtual Folders</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent FeatureContent" style="">
                    With virtual folders you can group like reports together independently of the folder structure.  You simply tag reports or folders with one or more tags.  You can then include these tags in the virtual folder.  Since security is always applied you do not need to worry about whether the user has access, they will only see the reports they can rights to.
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/VirtualFolders.png" alt="Mobilizer groups like reports together independently of the folder structure." />
                </div>
            </div>
        </div>
    </div>
</div>             

<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Advanced Report Design</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/AdvancedReportDesign.png" alt="Customize your SSRS reports even more with Mobilizer through RDL. " />
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent" style="">
                    Mobilizer extends RDL to enable many new advanced features allowing you to do more than ever with reports.
                            <br />                            
                            <ol style="list-style-type: circle;text-align:left;">
                                <li>Add client side JavaScript on text boxes or images</li>
                                <li>Define fixed size tables and matrixes that will scroll within a fixed region instead of expanding the page size</li>
                                <li>Enable editing of data with updatable controls</li>
                                <li>Include information for other applications in your report via an IFrame</li>
                                <li>Easily post data to another application using HTML forms in your reporte</li>
                            </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Responsive Report layout</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent FeatureContent" style="">
                    Mobilizer will automatically re-layout your report, with our patent pending algorithm, based on the device size you are using.  This makes it easier than ever to access your data on any device.  This also means that all of your reports are optimized for each device size without any additional development or waiting for IT to redesign every report.
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/ResponciveReportLayout.png" alt="Forerunner Mobilizer optimizes SSRS reports for all mobile devices." />
                </div>
            </div>
        </div>
    </div>
</div>                   

<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Dashboards</div>
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/Dashboards.png" alt="Forerunner Mobilizer custom dashboards make your SSRS experience even better!" />
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="Center DetailFont FeatureContent" style="">
                    End users can now create dashboard style layouts by combining multiple different reports on a single page.  You can choose from many different templates or create your own.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort OrangeBackground" style="">
    <div class="ForerunnerPage Center OrangeBackground" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="HeaderFont SectionHeader" style="padding-bottom: 25px; color: white;text-align: left;">Download your FREE trial</div>
                <div class="Center DetailFont FeatureContent" style="color: white; text-align: left;">
                    If you are looking for a solution to help mobilize your workforce and organization in a cost-effective and efficient manner, look no further! Forerunner Mobilizer allows your organization to capitalize and expand on the power of SQL Server. Download your free trial or give us a call to learn more.
                </div>
            </div>
            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">
                <div class="DetailFont Button Rounded Center LightBlueButton" style="background-color:#0395DE;font-weight:bold;"><a href="/registerTrial">DOWNLOAD TRIAL NOW!</a></div>
                <br />
                <div class="DetailFont Button Center Rounded DarkBlueButton" style="background-color:#013657;font-weight:bold;"><a href="mailto:sales@forerunnersw.com">CONTACT US</a></div>
            </div>
        </div>
    </div>
</div>
