@{
    ViewBag.Title = "Index";
}


<div class="ForerunnerPort MobilizerBanner " style="">
    <div class="ForerunnerPage Center" style="">
        <!--<div class="ForerunnerPageTitle" style="">Mobilizer Demo</div>
        <div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%;">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50 MobilizerBannerImage" style="">
                        <div>
                            <img class="ForerunnerLogo" style="max-width:400px;" src="~/Content/img//box.png" alt="Forerunner Mobilizer" />
                        </div>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div style="">
                            <div class="MobilizerBannerHeader">Mobilize</div>
                            <div class="MobilizerBannerSubHeader">the power of Microsoft’s SQL Server Reporting Services anywhere.</div>
                            <div class="MobilizerBannerContent">
                                <p>
                                    Forerunner Mobilizer unlocks and extends the power of Microsoft’s SQL Server by allowing users access to core business intelligence across all devices and browsers.
                                </p>
                                <p>
                                    Forerunner is an easy to use out of the box solution that leverages your existing investments; eliminating the need for additional development or user training.
                                </p>
                            </div>
                            <a class="DownloadButton Rounded" style="" href="../home/register"><strong>DOWNLOAD TRIAL NOW!</strong></a>
                            <p></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
        <!--<div class="ForerunnerPageTitle" style="">Mobilizer Demo</div>
        <div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; margin-top: 50px">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="padding-right:15px;">
                        <div>
                            <img class="ForerunnerImage " src="~/Content/img/M_ProcessorCore_large.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div class="MobilizerDetailHeader" style="">Optimized Responsive Application</div>
                        <div class="MobilizerDetailContent" style="">Forerunner Mobilizer is designed to get you up and running in minutes enabling users to access thier data dynamically across all browsers and mobile devices.</div>
                        <div class="MobilizerDetailHeader" style="">Security & Information Protection</div>
                        <div class="MobilizerDetailContent" style="">Forerunner Mobilizer integrates with your company’s existing security policies.  You control who has access using industry standard methods.</div>
                        <div class="MobilizerDetailHeader" style="">No Training Required.  Business Intelligence Anywhere</div>
                        <div class="MobilizerDetailContent" style="">Unleashing corporate mobility is a growing trend and concern.  Companies with a mobile platform for reporting and analytics can make critical business decisions faster.</div>
                        <div class="MobilizerDetailHeader" style="">Deploy Solutions</div>
                        <div class="MobilizerDetailContent" style="">Forerunner Mobilizer takes advantage of IT and developer’s skills and investments in Microsoft’s SQL Server development platform. Forerunner Mobilizer reduces development costs and improve end user efficiency.</div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>






