@{
    ViewBag.Title = "Forerunner Mobilizer – Mobile Business Intelligence for Everyone";
    ViewBag.Description = "Forerunner Partners with Reporting and BI solution providers to deliver true Mobile BI";
    ViewBag.Keywords = "SSRS Mobile, Mobile Reporting, Forerunner Mobilizer, Forerunner Software, SSRS Dashboard, Reporting Services, BI, Business Intelligence";
    
    }


<div id="Page" data-page="Partners" class="ForerunnerPort PageHeader" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 " style=" vertical-align: middle;">
                <div class="PageHeaderTitle" style="">Partners</div>
            </div>
            <div class="ForerunnerTD TD2 " style="">
                <img style="display: block;width: 100%;" alt="Forerunner Implementation Partners" src="~/Content/Img/ParnersBanners.png" />
            </div>
        </div>
    </div>
</div>

<div class="ForerunnerPort GreyBackgrouud" style=" ">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Forerunner works with partners around the world to help deliver cost effective Mobile BI</div>
        <div class="Center" style="display: table; width: 100%;">
            
                       <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: top;">
                <div class="Center DetailFont FeatureContent" style="padding:35px;text-align:left;">
                    Are you looking for someone in your local area to help you get the most out of SQL Server Reporting Services and Mobilizer? Look no further, we work closely with these partners to help you get the most out of your investment.
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: top;">
                <div class="Center DetailFont FeatureContent" style="padding:35px;text-align:left;">
                    If you are interested in becoming a partner please contact <a href="mailto:Sales@Forerunnersw.com">Sales</a>, we are always looking to work with great companies helping customers get more access to their data.
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;">
        @*<div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Support for all Browsers</div>*@
        <div class="Center" style="display: table; width: 100%;">
            
             <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage " style ="">
                    <img class="ForerunnerImage ForerunnerHomeImage  " src="~/Content/img/BizDataLogo.jpg" alt="BizData" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
            <div class="PartnerTitle " style="">BizData - Australia</div>
             <div class="PartnerDetail" style="">      
                 BizData is an expert Business Intelligence services provider with a focus on enabling clients to leverage their data for better business decision making.  BizData prides itself on delivering robust Business Intelligence and Data Warehouse solutions, having delivered over 300 projects to clients in the Financial Services, Manufacturing, Utilities, Health and Services industries, and provided solutions for Finance, HR, Operations, Sales, Marketing and IT departments.  BizData is the 2014 Australian Microsoft Business Intelligence and Data Platform Partner of the Year and has been one of the few companies in Australia to attain Gold level specialisations in Business Intelligence, Collaboration & Content and Data Platform
             </div>
                
            </div>
           
        </div>
    </div>
</div>



<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top:25px;padding-bottom:25px;border-top:1px solid #F0F0F0">
        @*<div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Support for all Browsers</div>*@
        <div class="Center" style="display: table; width: 100%;">
            
             <div class="ForerunnerTD TD2 TD2Left" style="">                
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage" src="~/Content/img/ITINTERPROS.jpg" alt="IT INTERPROS" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align:middle;">
                
            <div class="PartnerTitle " style="">IT INTERPROS - New York</div>
             <div class="PartnerDetail" style="">      
                 IT INTERPROS is a Consulting Company which provides information technology services to Fortune 100 clients to meet all their Data Warehousing, Business Intelligence, Analytics, Big Data, Information and Project Management goals. We are an experts in delivering high performance, scalable, integrated solutions that help our Clients overcome their challenges, thus taking their business to the next level. You can contact us at email info@itinterpros.com or directly by phone 347-244-6444 Igor Rozenberg.
             </div>
                
            </div>
           
        </div>
    </div>
</div>