@{
    ViewBag.Title = "PASS 2013";
}

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
       
        <!--<div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; ">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div class="ForerunnerPageTitle" style="padding-bottom:40px;">PASS Summit 2013</div>
                        <div class="ForerunnerPageSubTitle" style="">
                            <div>Thank you for your interest in Forerunner Software and visiting our booth at PASS Summit 2013.  Registering also entered you to win a free tablet.  We are giving away a Microsoft Windows RT, Apple IPad mini or Samsung Galaxy Tab 3 to the lucky winner. <br /><br />Experience the power of Mobilizer with your data, install the FREE trial today!  In just a few minutes you will have everything you need to give your business access to critical information in real time.</div>
                            <br /><br />
                            <div>And the winner is: <b>Hitesh Patel at TD Ameritrade</b></div>
                            <br />
                            <div>Hitesh please email <a href="mailto:Sales@ForerunnerSW.com?Subject=Sales">Sales@ForerunnerSW.com</a> with your choice of a Microsoft Windows RT, Apple IPad mini or Samsung Galaxy Tab 3 and your preferred delivery address.</div>
                        </div>                                                
                        <a class="DownloadButton Rounded" href="https://Forerunnersw.com/register/content/ForerunnerMobilizerSetup.exe"><strong>Click to Install</strong></a>
                        <p></p>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                         <div>
                            <img  class="ForerunnerImage "  src="~/Content/img/product_about.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>




