@{
    ViewBag.Title = "Forerunner Software Pricing";
    ViewBag.Description = "Forerunner Software provides free email and forum based support.  For subscription and software assurance customers we also offer priority phone and email support.";
}

<div id="Page" data-page="Pricing" class="ForerunnerPort PageHeader" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="Center" style="display: table; width: 100%;">
            <div class="ForerunnerTD TD2 " style=" vertical-align: middle;">
                <div class="PageHeaderTitle" style="">Pricing</div>
            </div>
            <div class="ForerunnerTD TD2 " style="">
                <img style="display: block;width:100%;" alt="Pricing" src="~/Content/Img/Pricing_Banner.png" />
            </div>
        </div>
    </div>
</div>


<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom:25px;">Cost Effective Mobile BI</div>
        <div class="Center" style="display: table; width: 100%;">
                <div class="ForerunnerTD TD3 " style="">
                   <div class="PricingBanner" style="background-color:#036ba2;" >                       
                       <br />
                       <div class="PricingBannerTitle " style="">Mobilizer</div>
                       <div class="PricingBannerSubTitle " style="">Subscription</div>
                       <br />                       
                       <div class="PricingBannerCost PricingOrange">$1,299</div>
                       <div class="PricingBannerSubTitle PricingOrange ">per core each year</div>
                       <div class="PricingBannerNote PricingOrange " >(2 core min)</div>
                       <br />
                       <div class="PricingBannerSubTitle">Lowest Cost Upfront</div>
                       <br />
                       <ol class="PricingList">
                           <li class="PricingListItem">Unlimited users</li>
                           <li class="PricingListItem">Free upgrades</li>
                           <li class="PricingListItem">Premium support</li>
                       </ol>                       
                    </div>                         
                    <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/mobilizer/products/mobilizer-subscription">Buy Now</a>
                    </div>                                                                                                           
                </div>

                <div class="ForerunnerTD TD3 " style="">
                   <div class="PricingBanner" style="background-color:#02486c" >   
                        <br />
                       <div class="PricingBannerTitle " style="">Mobilizer</div>
                       <div class="PricingBannerSubTitle " style="">With Software Assurance</div>
                       <br />                       
                       <div class="PricingBannerCost PricingOrange">$2,299</div>
                       <div class="PricingBannerSubTitle PricingOrange ">per core</div>
                       <div class="PricingBannerNote PricingOrange " >(2 core min)</div>
                       <br />
                       <div class="PricingBannerSubTitle">Best Value</div>
                       <br />
                       <ol class="PricingList">
                           <li class="PricingListItem">Unlimited users</li>
                           <li class="PricingListItem">Free upgrades</li>
                           <li class="PricingListItem">Premium support</li>
                           <li class="PricingListItem">Only $549 per core for maintenence (after year 1)</li>
                           <li class="PricingListItem ">Per Server pricing available</li>
                       </ol>                       
                    </div>               
                    
                    <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/mobilizer/products/mobilizer-sofware-assurance-1-processor-core">Buy Now</a>
                    </div>                                                                                                           
                </div>
                <div class="ForerunnerTD TD3 " style="">
                   <div class="PricingBanner" style="background-color:#028cd1;" >    
                          <br />
                       <div class="PricingBannerTitle " style="">Mobilizer</div>
                       <div class="PricingBannerSubTitle " style="">Standard</div>
                       <br />                       
                       <div class="PricingBannerCost PricingOrange">$1,749</div>
                       <div class="PricingBannerSubTitle PricingOrange ">per core</div>
                       <div class="PricingBannerNote PricingOrange" >(2 core min)</div>
                       <br />
                       <div class="PricingBannerSubTitle">Standard License</div>
                       <br />
                       <ol class="PricingList">
                           <li class="PricingListItem">Unlimited users</li>
                           <li class="PricingListItem">Pay for upgrades</li>
                           <li class="PricingListItem">No additional costs</li>
                       </ol>                       
                    </div>           
                                                                
                    <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/mobilizer/products/mobilizer-1-processor-core">Buy Now</a>
                    </div>                                                                                                           
                </div>
           
        </div>
    </div>
</div>

<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center " style="padding-top: 25px; padding-bottom: 25px;">
        <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Discounts for Public Sector and Non-Profit</div>
        <div class="Center" style="display: table; width: 100%;">

            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage " src="~/Content/img/DiscountsForPublicSector.png" alt="Discounts for Public Secor and Non-Profit" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">

                <div class="Center DetailFont" style="font-size: 24px; color: #666666; text-align: left;">
                    To support of our valuable customers working in nonprofit and pubic sector we discount our Software Assurance bundle providing:
                </div>
                <ol class="PricingList" style="font-size: 24px; color: #666666;margin-top:25px;">
                    <li class="PricingListItem ">Unlimited users</li>
                    <li class="PricingListItem ">Free upgrades</li>
                    <li class="PricingListItem ">Premium support</li>
                    <li class="PricingListItem ">Free 90 minute training session</li>
                    <li class="PricingListItem ">Only $549 per core for maintenence (after year 1)</li>  
                    <li class="PricingListItem ">Per Server pricing available</li>                  
                </ol>

                <div class="BuyNowButton DownloadButton Rounded" style="margin: 25px 0 0 0;">
                    <a href="http://shop.forerunnersw.com/collections/frontpage/products/mobilizer-with-software-assurance-for-nonprofit-public-sector-1-processor-core">Buy Now</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="ForerunnerPort GreyBackgrouud" style="">
    <div class="ForerunnerPage Center GreyBackgrouud" style="padding-top:25px;padding-bottom:25px;">
               <div class="HeaderFont Center SectionHeader" style="padding-bottom: 25px;">Volume and ISV Discounts</div>
        <div class="Center" style="display: table; width: 100%;">

            <div class="ForerunnerTD TD2 TD2Left" style="">
                <div class="Center ForerunnerImage ForerunnerHomeImage" style="">
                    <img class="ForerunnerImage ForerunnerHomeImage " src="~/Content/img/VolumeDiscounts.png" alt="Discounts for Public Secor and Non-Profit" />
                </div>
            </div>

            <div class="ForerunnerTD TD2 TD2Left" style="vertical-align: middle;">

                <div class="Center DetailFont" style="font-size: 24px; color: #666666; text-align: left;">
                    If you are an ISV, Reseller or large Enterprise that plans to purchase more than 32 cores, please contact Sales for special pricing
                </div>

                <div class="BuyNowButton DownloadButton Rounded" style="margin: 25px 0 0 0;background-color:#013657;">
                    <a href="mailto:sales@forerunnersw.com">Contact Sales</a>
                </div>
            </div>

        </div>
    </div>
</div>
