@{
    ViewBag.Title = "Forerunner Software Pricing";
    ViewBag.Description = "Forerunner Software provides free email and forum based support.  For subscription and software assurance customers we also offer priority phone and email support.";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:200px;">
        <div  class="ForerunnerPageTitle" style="">Pricing</div>
        <div class="ForerunnerPageSubTitle" style="">We have several options to meet your specific needs.</div>    
        
        
        @*<div class="ForerunnerPageContent">Forerunner Software provides free email and forum based support.  For subscription and software assurance customers we also offer priority phone and email support.</div>*@
        <table  class="" style="width:100%;margin-top:30px;">
          <tbody>  
            <tr  class=" "  style="" >
                <td class="ForerunnerTD TD3 " style="">
                   <div class="PricingBanner" style="background-color:lightgoldenrodyellow;" >                       
                       <br />
                       <div style="font-weight:bold;">Mobilizer Subscription</div>
                       <br />
                       <div>Unlimted Users</div>
                       <div>$1,299 per core each year</div>
                       <br />
                       <div class="PricingAlert">Lowest cost upfront</div>
                       <br />
                       <div>Simply renew each year and get access to all new versions and Premium support</div>
                    </div>                         
                    <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/mobilizer/products/mobilizer-subscription">Buy Now</a>
                    </div>                                                                                                           
                </td>

                <td class="ForerunnerTD TD3 " style="">
                   <div class="PricingBanner" style="background-color:lightcyan" >       
                       <br />                
                       <div style="font-weight:bold;">Mobilizer with Software Assurance</div>
                       <br />
                       <div>Unlimted Users</div>
                       <div>$2,299 per core</div>
                       <br />
                       <div class="PricingAlert">Best Value</div>
                       <br />
                       <div>Free updates to all new versions and Premium support included</div>
                       <br />
                       <div>Only $549 per core after year 1 for Software Assurance</div>
                    </div>                         
                    <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/mobilizer/products/mobilizer-sofware-assurance-1-processor-core">Buy Now</a>
                    </div>                                                                                                           
                </td>
                <td class="ForerunnerTD TD3 " style="">
                   <div class="PricingBanner" style="background-color:magenta;" >                       
                       <br />
                       <div style="font-weight:bold;">Mobilizer Standard</div>
                       <br />
                       <div>Unlimted Users</div>
                       <div>$1,749 per core</div>
                       <br />
                       <div class="PricingAlert">Standard license</div>
                       <br />
                       <div>No additional costs, pay to upgrade to future verions</div>
                    </div>                         
                    <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/frontpage/products/mobilizer-subscription">Buy Now</a>
                    </div>                                                                                                           
                </td>
            </tr>    
        </tbody>
        </table>
        <table style="margin-top:35px"">
            <tr>
                <td class="ForerunnerTD TD2 " style="">
                    <div class="MobilizerDetailHeader">Discounts for Public Secor and Non-Profit</div>
                    <br />
                    <img style="width:100%;" src="/content/img/M_SAforPS.png" alt="Mobilizer for Public Sector and Non-Profit">
                </td>
                <td class="ForerunnerTD TD2 " style="">
                    <div class="PricingBanner2">To support of our valuable customers working in nonprofit and pubic sector we discount our Software Assurance bundle ensuring that your get the highest level of support and access to the latest updates. We also include a free 90 minute training session.</div>
                     <div class="BuyNowButton DownloadButton Rounded">
                        <a href="http://shop.forerunnersw.com/collections/frontpage/products/mobilizer-with-software-assurance-for-nonprofit-public-sector-1-processor-core">Buy Now</a>
                    </div>   
                </td>
            </tr>
             <tr>
                <td class="ForerunnerTD TD2 " style="">
                    <div class="MobilizerDetailHeader">Volume and ISV Discounts</div>
                    <br />
                    <img style="width:100%;" src="~/content/img/M_ProcessorCore_large.png" alt="Volume and ISV Discounts">
                </td>
                <td class="ForerunnerTD TD2 " style="">
                    <div class="PricingBanner2">If you are and ISV, Reseller or large Enterprise that plans to purchase more than 32 cores, please contact Sales for special pricing</div>
                     <div class="BuyNowButton ContactButton Rounded"><a href="mailto:sales@forerunnersw.com">Contact Sales</a></div>   
                </td>
            </tr>
        </table>

    </div>
</div>
