@{
    ViewBag.Title = "Register";
}


<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
       <div class="ForerunnerPageTitle" style="margin-bottom:45px;">Mobilize your Business</div>
        <table class="" style="width: 100%; ">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                         <div>
                            <img  class="ForerunnerImage " style="vertical-align:top;" src="~/Content/img/product_about.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>

                    <td class="ForerunnerTD ForerunnerTD50 ForerunnerPageContent" style="">     
                        <div class="" style="margin-bottom:40px;">Seamlessly display all of your Business Intelligence information on any device or browser.  Give users access to critical information in real time. <br /><br />Register for the free trial now by submitting your email and a trial license key and download instructions will be sent to your email.</div>                                          
                        <form class="" name="reg" style="margin-bottom:65px;" action="https://forerunnersw.com/register/api/Download" method="post">
                                <label class="">*Email:</label><br />
                                <input id="email" class="DownloadFormInput" type="text" required="required" name="email"><br />
                                <label>*First Name:</label><br />
                                <input class="DownloadFormInput" type="text" required="required" name="firstname"><br />
                                <label>*Last Name:</label><br />
                                <input class="DownloadFormInput" type="text" required="required" name="lastname"><br />
                                <label>Company Name:</label><br />
                                <input class="DownloadFormInput" type="text" name="companyname"><br />
                                <label>Phone Number:</label><br />
                                <input class="DownloadFormInput" type="text" name="phonenumber"><br />
                                <input id="zip" class="DownloadFormInput" type="text" name="zipcode"><br />
                                <input id="referer" class="DownloadFormInput" type="text" name="referrer" ><br />
                                <input class="DownloadButton " style="" type="submit" value="Submit">
                                <br />
                            </form>
                        <p></p>
                    </td>
                                      
                </tr>
            </tbody>
        </table>

    </div>
</div>


