@{
    ViewBag.Title = "Register";
}

<table  class="MobilizerBanner" style="margin-bottom:200px;">
<tbody>
    <tr >
        <td class="ForerunnerTD ForerunnerTD50 MobilizerBannerImage" style="">
            <img  style="width:100%; max-width:650px;float:right;" src="~/Content/img//box.png" alt="Forerunner Mobilizer" />
        </td>
        <td class="ForerunnerTD ForerunnerTD50 MobilizerBannerContent" style="">
            <div style="max-width:600px;padding:20px;">
                <span class="MobilizerBannerHeader">Be a Hero</span><br />
			    <span class="MobilizerBannerSubHeader"><strong>Register for the free trial now by submitting your email and a trial license key and download instructions will be sent to your email.</strong></span>
			    <p>Seamlessly display all of your Business Intelligence information on any device or browser.  Give users access to critical information in real time.</p>
                <form name="reg" action="https://forerunnersw.com/register/api/Download" method="post" >
					<label>*Email:</label><br/> <input type="text" required="required" name="email"><br/>
					<label>*First Name:</label><br/> <input type="text" required="required" name="firstname"><br/>
					<label>*Last Name:</label><br/> <input type="text" required="required" name="lastname"><br/>
					<label>Company Name:</label><br/> <input type="text" name="companyname"><br/>
					<input style="width:100px;margin-top:10px;" type ="submit" class="btn" value="Submit" >	<br/>								  
				</form>
            </div>
        </td>
    </tr>    
</tbody>
</table>

