@{
    ViewBag.Title = "Register";
}

<div class="ForerunnerPort MobilizerBanner " style="">
    <div class="ForerunnerPage Center" style="">
        <!--<div class="ForerunnerPageTitle" style="">Mobilizer Demo</div>
        <div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%;">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50 MobilizerBannerImage" style="">
                        <div>
                            <img style="max-width: 400px;" src="~/Content/img//box.png" alt="Forerunner Mobilizer" />
                        </div>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                        <div style="">
                            <div class="MobilizerBannerHeader">Mobilize your Business</div>
                            <div class="MobilizerBannerSubHeader">Register for the free trial now by submitting your email and a trial license key and download instructions will be sent to your email.</div>
                            <div class="MobilizerBannerContent">
                                <p>
                                    Seamlessly display all of your Business Intelligence information on any device or browser.  Give users access to critical information in real time.
                            </div>                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
       
        <!--<div class="ForerunnerPageSubTitle" style="">Forerunner Software wants to hear from you!</div>    
        <div class="ForerunnerPageContent">If you have any questions about product, technology, direction or just want to chat please reach out to us. We want to hear from you. We have Email support and will be adding Phone and Forum soon. We are committed to your success and will respond promptly to your questions.</div-->
        <table class="" style="width: 100%; ">
            <tbody>
                <tr>
                    <td class="ForerunnerTD ForerunnerTD50" style="">     
                        <p></p>                                          
                        <form class="Center" name="reg" style="" action="https://forerunnersw.com/register/api/Download" method="post">
                                <label class="">*Email:</label><br />
                                <input type="text" required="required" name="email"><br />
                                <label>*First Name:</label><br />
                                <input type="text" required="required" name="firstname"><br />
                                <label>*Last Name:</label><br />
                                <input type="text" required="required" name="lastname"><br />
                                <label>Company Name:</label><br />
                                <input type="text" name="companyname"><br />
                                <input style="width: 100px; margin-top: 10px;" type="submit" class="btn" value="Submit">
                                <br />
                            </form>
                        <p></p>
                    </td>
                    <td class="ForerunnerTD ForerunnerTD50" style="">
                         <div>
                            <img  class="ForerunnerImage "  src="~/Content/img/product_about.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


