@{
    ViewBag.Title = "Forerunner SDK samples";
    ViewBag.Description = "Forerunner SDK provides the following developer samples";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:100px;">
        <div  class="ForerunnerPageTitle" style="">Samples</div>
        <div class="ForerunnerPageSubTitle" style="">Forerunner SDK provides the following developer samples. Click on any of the samples to see 
        the details. For each sample you will be able to run the sample as well as see the source code.
        </div>

        <table>
            <tr>
                <td class="SamplesDescription">
                    <a class="SamplesItem" onclick="ShowSampleDetail('Content/tmpl/GettingStarted.txt', 'SamplesDetailId')">Getting Started</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('Content/tmpl/ReportViewerEZ.txt', 'SamplesDetailId')">Report Viewer EZ</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('Content/tmpl/ReportExplorerEZ.txt', 'SamplesDetailId')">Report Explorer EZ</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('Content/tmpl/AddButton.txt', 'SamplesDetailId')">Add Button</a>
                    <a class="SamplesItem" onclick="ShowSampleDetail('Content/tmpl/RemoveButton.txt', 'SamplesDetailId')">Remove Button</a>
                </td>
                <td class="SamplesDetail">
                    <div id="SamplesDetailId">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
