@{
    ViewBag.Title = "Contact";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:200px;">
        <div  class="ForerunnerPageTitle" style="">Support</div>
        <div class="ForerunnerPageSubTitle" style="">We are here to help!</div>    
        <div class="ForerunnerPageContent">Forerunner Software provides free email and forum based support.  For subscription and software assurance customers we also offer priority phone and email support.</div>
        <table  class="" style="width:100%;margin-top:50px">
          <tbody>  
            <tr  class="SupportTR "  style="" >
                <td class="ForerunnerTD SupportTD SupportTDBorder" style="">
                   <div class="" >
                       <img style="" src="/Content/img/Mobilizer_update.png" alt="Mobilizer Setup" />
                       <div style="">Lastest Full Release of Mobilizer</div>
                       <div><a href="/download/mobilizer/version1/ForerunnerMobilizerSetup.exe">Download</a></div>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD SupportTD SupportTDBorder" style="">
                   <div class="" >
                       <img style="" src="/Content/img/Istaller.png" alt="Mobilizer Setup" />
                       <div>Lastest Update of Mobilizer</div>
                       <div><a href="/download/mobilizer/version1/ForerunnerMobilizerUpdate.exe">Download</a></div>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD SupportTD SupportTDBorder" style="">
                   <div class="" >
                       <img style="" src="/Content/img/Forum.png" alt="Mobilizer Setup" />
                       <div>Support Forum</div>
                       <div><a href="/SMForum">Goto Forum</a></div>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD SupportTD " style="">
                   <div class="" >
                       <img style="" src="/Content/img/Support.png" alt="Mobilizer Setup" />
                       <div>Online Support</div>
                       <div><a href="mailto:Support@ForerunnerSW.com?Subject=Support">Email Support</a></div>
                    </div>                                                   
                </td>
            </tr>    
        </tbody>
        </table>

    </div>
</div>
