@{
    ViewBag.Title = "Forerunner Software Support, Enterpise level support for every company";
    ViewBag.Description = "Forerunner Software provides free email and forum based support.  For subscription and software assurance customers we also offer priority phone and email support.";
}

<div class="ForerunnerPort" style="">
    <div  class="ForerunnerPage Center" style="padding-bottom:200px;">
        <div  class="ForerunnerPageTitle" style="">Support</div>
        <div class="ForerunnerPageSubTitle" style="">We are here to help!</div>    
        <div class="ForerunnerPageContent">Forerunner Software provides free email and forum based support.  For subscription and software assurance customers we also offer priority phone and email support.</div>
        <table  class="" style="width:100%;margin-top:50px;">
          <tbody>  
            <tr  class="SupportTR "  style="" >
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="" >
                       <img style="" src="~/Content/img/Mobilizer_update.png" alt="Mobilizer Setup" />
                       <div style="">Lastest Full Release of Mobilizer</div>
                       <div><a href="/download/mobilizer/version1/ForerunnerMobilizerSetup.exe">Download V1</a></div>
                       <div><a href="/download/mobilizer/version2/ForerunnerMobilizerSetup.exe">Download V2</a></div>
                       <div><a href="/download/mobilizer/version3/ForerunnerMobilizerSetup.exe">Download V3 BETA</a></div>
                    </div>                                                                                   
                   <div class="" >    
                       <br />                   
                       <div>Lastest Update of Mobilizer</div>
                       <div><a href="/download/mobilizer/version1/ForerunnerMobilizerUpdate.exe">Download V1</a></div>
                       <div><a href="/download/mobilizer/version2/ForerunnerMobilizerUpdate.exe">Download V2</a></div>
                       <div><a href="/download/mobilizer/version3/ForerunnerMobilizerUpdate.exe">Download V3 BETA</a></div>
                    </div>                                                   
                </td>
                 <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="" >
                       <img style="" src="~/Content/img/Forum.png" alt="Mobilizer Documents" />
                       <div>Documentation</div>
                       <div style="padding-bottom:10px;"><a href="/Content/Mobilizer Install Instructions.pdf">Installation</a></div>
                       <div style="padding-bottom:10px;"><a href="/Content/Forerunner Mobilizer Licensing.pdf">Licensing</a></div>
                       <div style="padding-bottom:10px;"><a href="/Content/Mobilizer Deployment Configurations.pdf">Deployment</a></div>
                       <div><a href="/Content/Mobilizer Simple Architecture.pdf">Architecture</a></div>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD TD4 SupportTDBorder" style="">
                   <div class="" >
                       <img style="" src="~/Content/img/Forum.png" alt="Mobilizer Setup" />
                       <div>Support Forum</div>
                       <div><a href="/SMForum">Go to Forum</a></div>
                    </div>                                                   
                </td>
                <td class="ForerunnerTD TD4 " style="">
                   <div class="" >
                       <img style="" src="~/Content/img/Support.png" alt="Mobilizer Setup" />
                       <div>Online Support</div>
                       <div><a href="mailto:Support@ForerunnerSW.com?Subject=Support">Email Support</a></div>
                       <div><a href="/home/Activation">Manual Activation / Validation</a></div>
                    </div>                                                   
                </td>
            </tr>    
        </tbody>
        </table>

    </div>
</div>
