@{
    ViewBag.Title = "Thankyou";
}



<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="ForerunnerPageTitle" style="">Thank you</div>
        <div class="ForerunnerPageSubTitle" style="">For registering for Forerunner Mobilizer</div>    
        <div class="ForerunnerPageContent">Be sure to check your email for your license key and download instructions.</div>
        <table class="" style="width: 100%; margin-top: 50px">
            <tbody>
                <tr>
                    <td class="ForerunnerTD " style="padding-right:15px;">
                        <div>
                            <img class="ForerunnerImage " src="~/Content/img/M_ProcessorCore_large.png" alt="Forerunner Mobilizer Product" />
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>


