@{
    ViewBag.Title = "Thankyou";
}


<table  class="MobilizerBanner" style="margin-bottom:200px;">
<tbody>
    <tr >
        <td class="ForerunnerTD ForerunnerTD50 MobilizerBannerImage" style="">
            <img  style="width:100%; max-width:650px;float:right;" src="~/Content/img//box.png" alt="Forerunner Mobilizer" />
        </td>
        <td class="ForerunnerTD ForerunnerTD50 MobilizerBannerContent" style="">
            <div style="max-width:600px;padding:20px;">
                <span class="MobilizerBannerHeader" style="">Thank You</span><br />
			    <span class="MobilizerBannerSubHeader" style=""><strong>For registering for Forerunner Mobilizer.</strong></span>
			    <p>Be sure to check you email for your license key and download instructions.</p>
                
            </div>
        </td>
    </tr>    
</tbody>
</table>

