@{
    ViewBag.Title = "Thankyou";
}



<div class="ForerunnerPort" style="">
    <div class="ForerunnerPage Center" style="">
        <div class="ForerunnerPageTitle" style="margin-bottom:45px;">Thank you</div>
        <table style="margin-bottom:200px">
            <tr>
                <td>
                    <img class="" style="margin-right:35px;vertical-align:top;" src="/content/img/envelope.png" alt="Envelope" />
                </td>
                <td>
                    <div class="ForerunnerPageContent" style="vertical-align:text-bottom;">For registering for Forerunner Mobilizer<br />Be sure to check your email for your license key and download instructions.</div>    
                </td>
            </tr>
            <tr >
                <td>
                </td>
                <td style="padding-top:65px;">
                    <a class="ForerunnerPageSubTitle" style="padding-top:65px;" href="/download/mobilizer/version1/ForerunnerMobilizerSetup.exe">Click here to download the trial.</a>
                    
                </td>
            </tr>
            
        </table>
        
        
    </div>
</div>


