.fr-nfd-section { display: none; }
  .fr-nfd-section .fr-nfd-description { display:block; margin: 0 16px 5px 0; }
  .fr-nfd-section .fr-nfd-label { display: block; vertical-align: middle; margin: 0 5px 0 0; font-size: 13pt; }
  .fr-nfd-section .fr-nfd-name { display: block; width: 450px; margin: 0 10px 5px 0; padding: 0 0 0 5px; }
  .fr-nfd-section .fr-nfd-folder-description { display: block; width: 450px; height: auto; margin: 0 10px 5px 0; padding: 0 0 0 4px; display: block; resize: none; }

  .fr-nfd-section .fr-nfd-hidden-container { display: block; line-height: 26px; }
  .fr-nfd-section .fr-nfd-hidden { display: inline-block; vertical-align: middle; margin: 5px 5px 0 0; }
  .fr-nfd-section .fr-nfd-hidden-label { display:inline-block; vertical-align:middle; }

.fr-nfd-new-folder-icon { background-image: url(../../Common/images/ToolpaneIcons/NewFolder.png); }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) and (orientation: landscape) {
    .fr-nfd-section .fr-nfd-name, .fr-nfd-section .fr-nfd-folder-description { width:364px; }
}
/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) and (orientation: portrait) {
    .fr-nfd-section .fr-nfd-name, .fr-nfd-section .fr-nfd-folder-description { width:294px; }
}