.fr-upf-section { display: none; }
  .fr-upf-section .fr-upf-description { margin-right: 16px; }
  .fr-upf-section .fr-upf-browse-btn-container { position: relative; }
  .fr-upf-section .fr-upf-label-cell { width: 140px; }
  .fr-upf-section .fr-upf-label { display: inline; vertical-align: middle; margin-right: 10px; font-size: 13pt; }
  .fr-upf-section .fr-upf-input { height: 24px; width: 80%; line-height: 24px; padding-right: 4px; vertical-align: middle; margin-top: 10px; padding: 0 0 0 4px; font-size: 13pt; background-color: white; border: 1px solid #424242; -moz-box-shadow: 0px 0px 7px #545454 inset; -webkit-box-shadow: 0px 0px 7px #545454 inset; box-shadow: 0px 0px 7px #545454 inset; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
  .fr-upf-section .fr-upf-checkbox { vertical-align: middle; margin-top: 10px; }
  .fr-upf-section .fr-dlb-error-span { width: 20%; }
  .fr-upf-section .fr-upf-transparent-input { opacity: 0.01; position: absolute; z-index: 1; }

  .fr-upf-section .fr-upf-progess-container { position: relative; }
  .fr-upf-section .fr-upf-progess-bar { background-color: #d5e1f2; width: 0%; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  .fr-upf-section .fr-upf-progress-text { position: absolute; display: inline-block; top: 3px; left: 48%; }

.fr-upf-upload-file-icon { background-image: url(../../Common/images/ToolpaneIcons/UploadFile.png); }
