.Parameter-Container
{
    min-width:270px;
    background-color: #363B45;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.Parameter-Panel
{
    margin: 4px 0px 0px 0px;
    width: 100%;
    height: 100%;
}
.Parameter, .ParameterClient{
    margin:4px;
    border-width:1px;
    border-style:solid;
    width:170px;
}
.Parameter-Label{
    margin:4px;
    display:inline-block;    
}
.Parameter-ElementBorder
{
    margin: 10px 6px;
    display: inline-block;
}
.Parameter-Checkbox{
    margin-left:10px;
}
.Parameter-Select{
    width:182px;
}
.Parameter-Radio{
    width:35px;
}
.Parameter-ViewReport{
    margin:4px;
    text-align:center
}
.Parameter-Enable
{
    background-color:rgb(255,255,255);
    color:rgb(0,0,0);
}
.Parameter-Disabled
{
    background-color:rgb(222,231,242);
    color:rgb(84,84,84);
}
.Parameter-DropDown
{
     padding:4px;
     margin:0px 4px 4px 5px;
     border-color: DarkGray; 
     color: black;
     border-width: 1px; 
     border-style: solid; 
     overflow: auto; 
     background-color: window; 
     position: absolute; 
     z-index: 11;
}
.Parameter-DropDown Label, checkbox
{
    margin:4px;
}
.Parameter-DropDown-Input
{
    margin-bottom:0px;
}
.Parameter-Dropdown-Hidden
{
    display:none;
}
.Parameter-Dropdown-Show
{
    display:block;
    margin-top:-4px;
}
.Parameter-CheckboxBorder
{
   display:inline-block;
   margin:2px 4px;
   padding:2px 0px;
   border:solid 1px;
   border-color:white;
   background-color:white;
   width:180px;
}
.Parameter-Error
{
    border-width: thin;
    border-color: red;
}
.ErrorPlaceHolder
{
    margin-left:4px;
}