@{
    ViewBag.Title = "Report Manager";
    Layout = "../Shared/_RMLayout.cshtml";    
}

@section scripts{
  <script type="text/javascript" src="../Scripts/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="../Scripts/underscore.js"></script>
  <script type="text/javascript" src="../Scripts/json2.js"></script>
  <script type="text/javascript" src="../Scripts/backbone.js"></script>
  <script type="text/javascript" src="../Scripts/laconic.js"></script>
  <script type="text/javascript" src="../Scripts/moment.js"></script>
  <script type="text/javascript" src="../Scripts/backbone_ui.js"></script>
  <script type="text/javascript" src="../Scripts/collection_view.js"></script>
  <script type="text/javascript" src="../Scripts/App/utils.js"></script>
  <script type="text/javascript" src="../Scripts/ContentFlow/contentflow_src.js"></script>
  <script type="text/javascript" src="../Scripts/Models/reportmanagermodels.js"></script>
  <script type="text/javascript" src="../Scripts/Views/appPageView.js"></script>
  <script type="text/javascript" src="../Scripts/Views/reportmanagermainview.js"></script>
  <script type="text/javascript" src="../Scripts/Views/reportviewermainview.js"></script>
  <script type="text/javascript" src="../Scripts/Models/FRReport.js"></script>
  <script type="text/javascript" src="../Scripts/Views/frreportviewermainview.js"></script>
  <script type="text/javascript" src="../Scripts/App/router.js"></script>
}

@section styles {
    <link href="/Content/reportmanager.css" rel="stylesheet"/>
}

<div class="body1 holder" id="pageSection">
  <div id="modalViewContainer"></div>
</div>