@{
    ViewBag.Title = "Report Manager";
    Layout = "../Shared/_RMLayout.cshtml";    
}

@section scripts{
  <script type="text/javascript" src="../Scripts/Carousel/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../Scripts/underscore.js"></script>
  <script type="text/javascript" src="../Scripts/json2.js"></script>
  <script type="text/javascript" src="../Scripts/backbone.js"></script>
  <script type="text/javascript" src="../Scripts/laconic.js"></script>
  <script type="text/javascript" src="../Scripts/moment.js"></script>
  <script type="text/javascript" src="../Scripts/backbone_ui.js"></script>
  <script type="text/javascript" src="../Scripts/collection_view.js"></script>
  <script type="text/javascript" src="../Scripts/App/configs.js"></script>
  <script type="text/javascript" src="../Scripts/App/utils.js"></script>
  <script type="text/javascript" src="../Scripts/Carousel/js/jquery.sky.carousel-1.0.2.min.js"></script>
  <script type="text/javascript" src="../Scripts/Models/reportmanagermodels.js"></script>
  <script type="text/javascript" src="../Scripts/Views/appPageView.js"></script>
  <script type="text/javascript" src="../Scripts/Views/reportmanagermainview.js"></script>
  <script type="text/javascript" src="../Scripts/Views/reportviewermainview.js"></script>
  <script type="text/javascript" src="../Scripts/Models/FRReport.js"></script>
  <script type="text/javascript" src="../Scripts/Views/frreportviewermainview.js"></script>
  <script type="text/javascript" src="../Scripts/App/router.js"></script>
}

@section styles {
    <link href="/Scripts/Carousel/css/default_skin_variation.css" rel="stylesheet"/>
    <link href="/Content/reportmanager.css" rel="stylesheet"/>
}

<header id="topdiv"><table><tr><td><a href="#"><img src="Images/Home-icon.png" class="buttonicon"/></a><br /></td><td class="spacer10mm"></td><td><div id="HeaderArea" /></td></tr></table></header>
<section class="spacer"> </section>
<section id="pageSection">
  <div id="modalViewContainer"></div>
</section>
<section class="footerspacer"> </section>
<footer id="bottomdiv"></footer>