.fr-explorer-folder-ie8, .fr-explorer-folder-selected-ie8, .fr-explorer-searchfolder-ie8, .fr-explorer-searchfolder-selected-ie8, .fr-explorer-dashboard-ie8 { 
    height: 80px; width: 100px; position:absolute; top:20px; z-index:5;
}
/*the image relative path will be updated through js*/
.fr-explorer-folder-ie8 { }
.fr-explorer-folder-selected-ie8 { }
.fr-report-item-outer-image-ie8 { }
.fr-report-item-ear-image-ie8, .fr-explorer-item-ear-selcted-ie8 { 
    position: absolute;  top: 0px; right: 0px; width: 100%; height:100%; z-index:5; 
}
.fr-report-item-ear-image-ie8 { }
.fr-explorer-item-ear-selcted-ie8 { }
.fr-explorer-searchfolder-ie8 { }
.fr-explorer-searchfolder-selected-ie8 { }
.fr-explorer-dashboard-ie8 { }