.fr-dashboard-toolpane { margin: 0px; padding: 0px; width: 100%; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; -ms-overflow-style: none; overflow-y: auto; }
  .fr-dashboard-toolpane input[type=number]::-webkit-inner-spin-button,
  .fr-dashboard-toolpane input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
  .fr-dashboard-toolpane input { font-size: 13px; margin: 0; height: 22px; background-color: white; border: 1px solid #424242; -webkit-appearance: none; box-shadow: 0px 0px 7px #545454 inset; }
  .fr-dashboard-toolpane .fr-toolbase-itemcontainer { border-top-width: 1px; border-top-style: groove; border-top-color: lightblue; padding: 12px; vertical-align: top; color: white; display: block; }
  .fr-dashboard-toolpane .fr-toolbase-item-text-container { margin: 5px; display: inline-block; }
  .fr-dashboard-toolpane .fr-toolbase-item-text { height: 24px; padding-left: 7px; display: table-cell; vertical-align: middle; font-size: 13pt; color: #ffffff; }
  .fr-dashboard-toolpane .fr-item-folders { display: block; }
  .fr-dashboard-toolpane .fr-item-folders-group { display: block; }
  .fr-dashboard-toolpane .fr-toolbase-toolcontainer { border-width: 0px; vertical-align: top; border-radius: 2px; color: white; display: inline-block; }
  .fr-dashboard-toolpane .fr-toolbase-groupcontainer { position: relative; border-top-width: 1px; border-top-style: groove; border-top-color: lightblue; vertical-align: top; padding: 12px 1px 12px 5px; color: white; display: block; }
  .fr-dashboard-toolpane .fr-toolbase-hide-if-touch {  }
  .fr-dashboard-toolpane .fr-toolbase-show-if-touch { display:none; }

.fr-dashboardtoolpane-dropdown-item-text { height: 31px; padding-left: 7px; display: table-cell; vertical-align: middle; font-size: 13pt; color: #456191; }
