html,body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  z-index: 0;
}
.loading-indicator  
{
    border: solid 2px #86A5AD;
    background: white url(/Content/images/ajax-loader1.gif) no-repeat 10px 10px;    
    width: 148px; 
    height: 28px; 
    position: relative; 
    margin:10px auto;
    margin-top:50px;
    padding: 10px 10px 10px 50px; 
    text-align: left; 
    line-height: 27px; 
    font-weight: bold; 
    z-index: 2001
} 