.fr-mps-section { display: none; }

.fr-mps-form { margin-right: 16px; }
  .fr-mps-form [name='delete'] { float: right; }
  .fr-mps-form .fr-mps-text-input { display: block; width: 156px; padding: 0 0 0 4px; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.fr-mps-main-table { }
  .fr-mps-main-table th { font-weight: bold; }
  .fr-mps-main-table td { border: 1px solid lightblue; height: 26px; }
  .fr-mps-main-table .fr-mps-name-header { width: 156px; }
  .fr-mps-main-table .fr-mps-odd-row { background: lightblue; }
  .fr-mps-main-table .fr-mps-property-header { width: 60px; }
  .fr-mps-main-table .fr-mps-error-span { display: inline; font-size: 10pt; }
  .fr-mps-main-table .fr-mps-error-position { display: inline; }
  .fr-mps-main-table .fr-mps-error { border-width: thin; border-color: red; }

/* (E.g., for phones, landscape) */
@media only screen and (max-height : 340px) {
  .fr-mps-form { margin-right: 4px; }
}

/* (E.g., for phones, potrait) */
@media only screen and (max-width : 479px) {
  .fr-mps-form { margin-right: 4px; }
}
